[2019-05-27 17:18] chrissainty opened #1 "Double click required when editing selected item"
When an item is selected and you want to change it. Clicking on the input puts the control back into search mode but the focus is not on the input. A further click is required to set focus on the control.

[2019-05-31 07:15] SQL-MisterMagoo opened #3 "Consider using Invoke"
https://github.com/Blazored/Typeahead/blob/62986b4cdc48af42137a834dcbe67a272e5de660/src/Blazored.Typeahead/BlazoredTypeahead.razor.cs#L72

In the Search method you are executing on the context of a timer, and might want to use

Invoke (StateHasChanged);

To protect against synchronisation context issues.

[2019-05-31 13:04] chrissainty commented on #3
Thanks for this, I've merged a fix.

[2019-05-31 13:04] #3 closed

[2019-06-01 22:01] chrissainty opened #4 "Don’t show suggestion window until minimum character count reached"
Currently the suggestion window appears as soon as the first character is entered. This isn’t great, it should only show when the minimum character count is reached.

[2019-06-02 21:52] #4 closed

[2019-06-02 22:39] chrissainty opened #7 "When there is a selected item and a search is performed but no result selected, leave search mode on focus out"
Currently when searching, if no result is selected but there is already a selected item from a previous search Losing focus on the search input leaves an empty field, this should switch back to the `SelectedTemplate`.

[2019-06-05 07:55] chrissainty opened #8 "Integrate with Blazor forms & validation"

[2019-06-11 14:03] fnils opened #10 "TypeInference.CreateBlazoredTypeahead"
I am using asp.net core 3.0 preview-5 and I get this error when I try to use BlazoredTypeAhead on a serverside Blazor. Am I missing something or doesn't it work with preview 5?

Error	CS0411	Active	The type arguments for method 'TypeInference.CreateBlazoredTypeahead_0<TItem>(RenderTreeBuilder, int, int, Func<string, Task<List<TItem>>>, int, object, int, RenderFragment<TItem>, int, RenderFragment<T

[2019-06-12 06:17] fnils commented on #10
Sorry my mistake. I removed async Task from the function. I realized it this morning and now it works again.

[2019-06-12 06:17] #10 closed

[2019-06-12 08:08] #8 closed

[2019-06-13 09:09] fnils opened #12 "BlazoredTypeaheadInputBase<> could not be found"
I just upgraded to version 3.0.1 and now I get this error.
I am using the standalone version. Did I miss something after the upgrade?

The type or namespace name 'BlazoredTypeaheadInputBase<>' could not be found (are you missing a using directive or an assembly reference?)	D:\dev\test\obj\Debug\netcoreapp3.0\RazorDeclaration\Forms\BlazoredTypeaheadInput.razor.g.cs	56

[2019-06-13 09:21] fnils commented on #12
Sorry, I am apparently blind. I missed to add "Context" on Context="Person".

[2019-06-13 09:34] fnils commented on #12
If I add @using Blazored.Typeahead.Forms in _imports.razor the first error disappears but I get the error below instead. I haven't added the EditForm code here. If I do I still get this error.

InvalidOperationException: Object of type 'Blazored.Typeahead.BlazoredTypeahead`1[[Test.Shared.Area, Test.Shared, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]' does not have a property matching t

[2019-06-13 09:45] chrissainty commented on #12
Have you updated your code to use `bind-Value` instead of `bind-Item`?

[2019-06-13 10:51] fnils commented on #12
Yes, I have changed it. The code looks like this:
        <BlazoredTypeahead SearchMethod="@SearchAreas"
                           bind-Value="@SelectedArea"
                           Placeholder="Search">

            <SelectedTemplate Context="Area">
                @Area.Name
            </SelectedTemplate>
            <ResultTemplate Context="Area">
                @Area.Name (@Area.Descr)

[2019-06-13 11:06] fnils commented on #12
I upgraded to version 3.0.2 and now the first error seems to be gone.
But I get (which is the same as before I guess):
InvalidOperationException: Object of type 'Blazored.Typeahead.BlazoredTypeahead`1[[Test.Shared.Area, Test.Shared, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]' does not have a property matching the name 'bind-Value'.

[2019-06-13 12:29] fnils commented on #12
I don't know if it makes a difference but at the same time as I upgraded to version 3.01 I also upgraded to asp.net core 3.0-preview-6.

[2019-06-13 20:05] chrissainty commented on #12
Sorry for the long reply @fnils. I'm now doing the upgrade to Preview 6, it should be on NuGet in the next hour. Give it a go and let me know if it sorts the issue.

[2019-06-14 05:29] fnils commented on #12
Thank you! I'll check it out during the day hopefully. Otherwise tomorrow.

[2019-06-14 06:46] fnils commented on #12
It's working! Thank you!

[2019-06-14 07:01] chrissainty commented on #12
No problem :)

[2019-06-14 07:01] #12 closed

[2019-06-14 11:59] mikes-gh opened #14 "Server Side Blazor preview 6"
You probably know this already but you can now include static assets in a library which would eliminate a big caveat mentioned in the README

https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-14 14:49] chrissainty commented on #14
Hi Mike, unfortunately this is only for server-side Blazor projects.

Going forward Razor class libraries will be the way to go for sharing
Components and the Blazor class library will die off. But right now Razor
class libs don’t work with client-side Blazor.

So it’s swings and roundabouts. I spoke to Dan Roth about this the other
day and he said they’re hoping to have it sorted soon.

On Fri, 1

[2019-06-17 08:56] mikes-gh commented on #14
Hi Chris

I had a good look round aspnetcore on github and found it difficult to get any info on this.
Is it this issue?

https://github.com/aspnet/AspNetCore/issues/7536

[2019-06-17 09:31] chrissainty commented on #14
Hi Mike,

This is the issue is keep an eye on https://github.com/aspnet/AspNetCore/issues/10986

[2019-06-17 20:48] mikes-gh commented on #14
Here’s another good reference https://github.com/aspnet/AspNetCore.Docs/issues/12884.  Looks like preview 9 is the target for RCL to cover client and server scenarios .  I feel like I hyjacked your repo for general discussion so feel free to close this.

[2019-06-18 08:00] chrissainty commented on #14
No worries @mikes-gh 😄

[2019-06-18 08:00] #14 closed

[2019-06-18 09:09] fnils opened #15 "Fill like a DropDownList"
Is there a way to use this like a DropDownList?
Example when I click on it all list items are shown and then I can filter them.

[2019-06-18 21:16] chrissainty commented on #15
This isn't currently an option I'm afraid, but it could certainly be looked at as a new feature.

I think there would need to be a limit set on the number of items to display, this currently doesn't exist. Then there would need to be some way of firing the search method with an empty search string. Let me have a think.

[2019-06-19 07:13] fnils commented on #15
Sounds good! It could be an option that you can turn on if you need it. Then you don't have to limit the data that is shown.

[2019-06-20 13:21] mikes-gh opened #16 "Server-side sample doesn't work on IIS Express"
I was playing with the sample and noticed the server side blazor sample stops working after the first search when using IIS Express.
I then found out websockets doesn't work on IISExpress 8 on windows 7. only on 8 or 2012+

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/websockets?view=aspnetcore-2.2

Fortunately using Kestrel works fine.

Just in case anyone else was coming across the

[2019-06-20 19:27] chrissainty commented on #16
Thanks for reporting this @mikes-gh. I assume this is effecting using server-side Blazor full stop then?

[2019-06-20 20:30] mikes-gh commented on #16
Only iisexpress on windows 7.  I expect most are on windows 10 by now.  Easily worked around by using kestrel directly instead

[2019-06-20 21:21] #16 closed

[2019-06-21 08:21] mikes-gh opened #17 "Naming of static assets"
https://github.com/Blazored/Typeahead/blob/master/src/Blazored.Typeahead/content/blazored.Typeahead.ts

I am not sure it is a good idea to use dot (period) or mixed case  in static asset names.

May be better to use

blazored-typeahead.css
blazored-typeahead.ts

Technically URLs are case sensitive and dots are allowed but rarely used due to problems with users using regex for redirection in their

[2019-06-24 12:31] #17 closed

[2019-07-28 12:46] aelmen opened #21 "Event onchange on result template"
Since i am a newbee to blazor there might be an easy solution for my question.

Server Side Blazor

I have a main page with a child component that has a typeahead component, three levels, main -> component -> typeahead. How do I bubble up the event from typeahead to the main page?
I've managed to get it to the degree that the event bubbles up to the main page, but then the typeahead component disa

[2019-07-28 15:43] chrissainty commented on #21
I prefer not to add an `EventCallback` as I think it’s best to let the consuming developer decide if they want to call `StateHasChanged` rather than forcing it on them.

Could you provide some example code of what you’re attempting?

[2019-07-30 09:19] aelmen commented on #21
Hi!

Sure. I bet this is an easy task, I just need helt to figured it out.

index.razor

`@page "/"
<ProjektComponent ShowSelectedDetails="true" SelectedProjekt="@SelectedProjekt">
</ProjektComponent>
@if (Equals(SelectedProjekt, null).Equals(false))
{
    <div class="jumbotron">
        <p>@SelectedProjekt.DisplayName</p>
    </div>
}
@code{
    /// <summary>
    /// Here I need an event for ui r

[2019-07-31 21:19] chrissainty commented on #21
Ok I think this should work or at least get you most of the way there.

In your `ProjektComponent` you need to do something like this:

[code]

Then in your parent component do this:

[code]

Let me know how you get on.

[2019-08-03 12:29] aelmen commented on #21
Since the Func<Data.Projekt> did not allow me to pass any args when doing invoke I switched to use an Event Handler.

In Child Component
[code]

In Parent Component
[code]

This seem work like a charm. I have no idéa of if this is a good implementation or not. Any suggestions?

I belive you can close this issue now since there is no need for an event on the result template.

[2019-08-04 11:50] chrissainty commented on #21
Glad to hear you got it sorted, I’m not sure why you had an issue with using `Func<>` though.

[2019-08-04 11:50] #21 closed

[2019-08-04 13:33] aelmen commented on #21
Thats was just beacuse the Func<> did not work with invoke(arg).
To get that one working I had to do a Func<in,out>

From: Chris Sainty <notifications@github.com>
Sent: Sunday, 4 August 2019 13:50
To: Blazored/Typeahead <Typeahead@noreply.github.com>
Cc: Anders Elmén <anders@need2code.se>; Author <author@noreply.github.com>
Subject: Re: [Blazored/Typeahead] Event onchange on result template (#21)

[2019-08-05 07:15] fnils commented on #21
I've been trying to make this work but I can't understan how to change IT.
I get "No Overload for method Invoke takes one argument" for the following code. OnProjectChanged?.Invoke(_selectedProject);

[2019-08-14 08:28] fnils opened #23 "No inputs were found in config file"
After upgrading to asp.net core Preview-8 and TypeAHead 3.13 I get the following error  (same with 3.12).
Build:No inputs were found in config file C:/Users/username/.nuget/packages/blazored.typeahead/3.1.3/contentFiles/any/netstandard2.0/tsconfig.json'.
Specified 'include' paths were '["**/*"]' and 'exclude' paths were '["wwwroot"].

[2019-08-14 08:30] chrissainty commented on #23
Thanks @fnils. There seems to be problems with the new razor class library and typescript. I'm trying to get to the bottom of it.

[2019-08-14 13:03] chrissainty commented on #23
@fnils If you update to the latest version this should be resolved.

[2019-08-14 13:23] fnils commented on #23
@chrissainty Ok, great! I will try it as soon as I get the chans. Thank you!

[2019-08-15 07:36] fnils commented on #23
It works. I had to update the css and js code manually after updating it through nuget package manager in Visual Studio.

[2019-08-15 08:59] chrissainty commented on #23
When you update, do you mean you had to add the css and script tag manually?

[2019-08-15 12:52] fnils commented on #23
I copied the code in the files here on github (src/Blazored.Typeahead/wwwroot) to the files I hade from a previous installation.

[2019-08-15 13:00] chrissainty commented on #23
Ah ok. That should work automatically now but there are some issues with the new Razor Class Library and nothing is really working properly right now. Copying the CSS and JS manually into your project seems the only way to get stuff working.

[2019-08-15 13:11] #23 closed

[2019-08-15 23:26] dolare1 opened #24 "Could not load type 'Microsoft.AspNetCore.Components.ElementRef' from assembly 'Microsoft.AspNetCore.Components"
I recently upgraded from ASP.NET Core 3.0 Preview 7 to Preview 8 and noticing below error:

Could not load type 'Microsoft.AspNetCore.Components.ElementRef' from assembly 'Microsoft.AspNetCore.Components

I am suspecting it is due to a breaking change as mentioned in this link: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/

"Rename ElementRef to E

[2019-08-16 00:39] dolare1 commented on #24
Looks like I need to reinstall the package? Is that correct?

[2019-08-16 07:25] chrissainty commented on #24
Hi @dolare1, you need to upgrade to the latest version of the package. Once you've done that, I would suggest doing a full clean and rebuild of your solution and emptying your browser cache.

There are currently a few issues with the new Razor Class Library project so you may find issues with the `blazored-typeahead.js` file not being included. If you hit this issue then the only option right now

[2019-08-16 15:11] dolare1 commented on #24
Thanks, that worked. I just had to reinstall the package.

[2019-08-16 15:11] #24 closed

[2019-08-16 19:20] alexandrereyes opened #25 "SearchMethod should be IEnumerable"
Is there any reason that SearchMethod needs to be List<T> ? IEnumerable<T> is the best choice to collection parameters.

[2019-08-16 21:30] chrissainty commented on #25
Hi Alexandre, the simple answer is no. `SearchMethod` was typed as a List initially while prototyping and just hasn't been changed. I agree that an IEnumerable would be a better design choice. I'll look to swap it over at some point in the future.

[2019-08-19 14:12] alexandrereyes commented on #25
@chrissainty what's the impact since `List<T>` is `IEnumerable<T>`? I think there is no problem in change to `IEnumerable<T>`

[2019-08-19 14:15] chrissainty commented on #25
@AlanCS I never said there was a problem, it's time. I'm very busy and I'll make the change when I can. But please feel free to make the change and create a PR if you would like to see it deal with quicker!

[2019-08-24 08:15] vertonghenb opened #26 "onfocusout should hide the suggestions"
Currently the suggestions are not hidden when the input loses focus. This won't be an easy fix if you only use C# though. Since the `onfocusout` event isn't fully supported in Blazor yet.

[2019-08-24 16:34] vertonghenb opened #27 "After showing suggestions make the first item selectable by using tab"
1. Search Item
2. Get suggestions
3. Use tab to select the first one.

[2019-08-24 19:04] vertonghenb commented on #15
@chrissainty Any thoughts about this?
Most of these type of components have their searchbar separated from the input like bootstrap select.

[2019-08-25 00:30] vertonghenb opened #29 "Endless onfocus loop"
There is an endless loop occuring in the component.
To reproduce:
1. Set a breakpoint in the setter of the `_searchText`
2. Optionally set the default `Debounce` value to `5000000` (so we know it's not coming from here.
=> endless onfocus loop

To fix this issue:
- change onfocus to onclick in the `input` of the control.

[2019-08-25 08:55] chrissainty commented on #27
Based on what other typeahead controls do, it might be good to be able to select the first item by either tab OR the down arrow. That way users can type and then just keep pressing down rather than having to type > tab > down arrow. I think both should be an option though.

[2019-08-25 08:55] chrissainty commented on #29
Good spot, we'd seen this at work using the control but hadn't had a chance to narrow it down. Great catch!

[2019-08-25 08:57] chrissainty commented on #26
Agreed, this is why the issue exists in the first place. I was trying to keep to pure C# but I ended up having to use focus anyway. Interop is the only answer for this one I think.

[2019-08-25 09:14] vertonghenb commented on #27
I tried the arrow keys but failed, the tab can currently be done though. The arrow buttons get annoying when a scrollbar is in place since you also scroll using the arrow keys and there is no way to stop this from happening in Blazor at the moment.

[2019-08-25 10:19] egrabitt commented on #27
Thank you Chris and Benjamin for your awesome typeahead control! I just found it and I was able to replace a jQuery based hack in my Server-side Blazor in no time. Much cleaner. However the Tab-behavior bothers me as it forces me to use the mouse.

You say "it might be good to be able to select the first item by either tab OR the down arrow." I second that!

Specifically, I'd like the control to b

[2019-08-25 11:07] vertonghenb commented on #27
@egrabitt check the gif at #31 I think it behaves as you'd like.

[2019-08-25 11:21] egrabitt commented on #27
thanks for your reply, but no, it doesn't. Pressing tab should move the focus to the form's next input element, putting the topmost typeahead suggestion into the now previous element.

[2019-08-27 00:21] vertonghenb opened #32 "Support Arrow Keys to navigate the Suggestions"
#31 Made it possible to use Escape, Tab, Delete, Backspace, OnFocusOut etc.

This issue is to make it possible to use the arrow keys of the keyboard in the suggestion-result to navigate up/down.

Possible solution:
- Not sure yet, still have to investigate.

[2019-08-27 01:09] vertonghenb opened #33 "GIF in the readme"
It could be easier for people to see what the component does if we added a GIF to the readme. I personally like repo's like that since then I don't have to check out the demo, but get a brief idea of what the component is all about.

[2019-08-27 07:57] #15 closed

[2019-08-27 07:57] #25 closed

[2019-08-27 07:57] #26 closed

[2019-08-27 07:57] #27 closed

[2019-08-27 07:57] #29 closed

[2019-08-27 20:55] pwelter34 opened #34 "merge my fork in"
Its been suggested that I merge my fork back into this project.  However the code has drifted a lot.  Do we still want me to merge my source in?

Issues/Differences

1.  I made large changes to the html and css structure.  We'd need to pick the best UI.
2.  I removed the need for the separator form input control.
3.  Added multi-select support
4.  Added keyboard selection support
5.  Added support

[2019-08-28 08:21] vertonghenb commented on #34
@pwelter34 Paul, looks good! Maybe we can combine the 2 ? Personally I don't like the second searchbar, but that's rather subjective. The other stuff looks great especially the 2 controls merged into 1.

[2019-08-28 18:23] vertonghenb commented on #34
@pwelter34
Agreed, one good version should be best for the community.
Therefore I believe it's best to merge in your changes with the following improvements:
- **1 control to search/show the values**, I think it's the way to go and makes the design cleaner, you can check out the [Sync Fusion Control](https://www.syncfusion.com/blazor-components/blazor-multiselect-dropdown), which does this.
- **Su

[2019-08-28 18:32] chrissainty commented on #34
Great discussion. I agree very much with getting your changes merged in @pwelter34.

I think @vertonghenb comments above make a lot of sense. I also have a suggestion or two but perhaps it would be best to get the PR raised then we can sort things out on there?

What do you both think?

[2019-08-29 21:21] ScholliYT opened #35 "TwoWay Binding of Value"
I want to set the currently selected `Value` from the outside. Looks like we need to add some kind of UI state refresh if `Value` changes.

I might make up a PR for this.

[2019-08-31 16:45] vertonghenb commented on #35
This should already be supported since we "refresh the UI" OnParametersSet
https://github.com/Blazored/Typeahead/blob/b3f38b891cd536c9c4590a9d57d86ad1673f5f49/src/Blazored.Typeahead/Forms/BlazoredTypeaheadInput.razor.cs#L96

I'm not sure which version you're currently using.
@chrissainty did we already release the latest PR?

[2019-08-31 16:49] vertonghenb commented on #34
@pwelter34 any update on this? You can reach out to me on Gitter if you need something.

[2019-08-31 16:51] vertonghenb commented on #32
Should be fixed by #34

[2019-08-31 16:51] vertonghenb commented on #7
@chrissainty  I guess we need to re-evaluate this one?

[2019-08-31 16:54] chrissainty commented on #35
I'm open to your opinion on this,@vertonghenb. But I would prefer we hold off releasing the current set of changes until Preview 9 lands, Dan Roth said that should be Tuesday or Wednesday next week.

This would avoid having to do two releases in quick succession and if we wait for Preview 9 we should hopefully get the fixes for Razor Class Libraries as well. There are more breaking APIs in Preview

[2019-08-31 16:59] chrissainty commented on #7
Agreed, this is probably a bit of a relic now, considering the new changes.

I'd be happy to close if you are?

[2019-08-31 17:20] vertonghenb commented on #35
@chrissainty agreed!

[2019-08-31 17:21] #7 closed

[2019-08-31 23:16] vertonghenb opened #36 "Improve performance with virtualization"
If you have a big list of items the rendering can slow down the component. To tackle this performance hit, we could use the idea of virtualization where we only render de SelectItems which are being shown.

A package that does this is the following:
https://samprof.github.io/BlazorVirtualScrolling/
However we could also roll our own, so I'm looking for some feedback on this one.

[2019-09-02 13:07] chrissainty commented on #36
I definitely think this is worth investigating, at the very least. I've not tried virtualisation before, but I've read through the samprof repo a long time ago, when he first released it and it looked good. Might be the best starting point?

[2019-09-02 15:23] pwelter34 commented on #34
sorry, was on vacation most of last week.  I'll get a PR open early this week.

[2019-09-02 21:02] vertonghenb commented on #36
Personally I'm not fond of using the package since it also requires some .js or .css files. However, we could package them with ours and use the same idea `EmbeddedBlazorContent` they use in that package.
[code]
[code]

However this is quite harsh in my opinion and I think we'd be better off rolling our own system.

[2019-09-06 23:08] chrissainty commented on #36
I'm certainly up for rolling our own. I'd prefer not to take a dependency where we don't absolutely have to.

[2019-09-08 02:29] jbomhold3 opened #37 "Wrong Return type"
private async Task<List<T>> SearchFilms(string searchText)  gives an error on SearchMethod of the wrong return type.

private async Task<IEnumerable<T>> SearchFilms(string searchText)  allows it to work. The docs show list

Preview 9

[2019-09-09 18:23] vertonghenb commented on #37
@jbomhold3 Thanks for mentioning this, we forgot to update the docs.
Fixed in the Readme.

[2019-09-09 18:43] vertonghenb opened #38 "Focus After SelectItem is pretty annoying"
After we select an item we focus the textfield again, which is pretty annoying when using this component in bigger forms. After the select, it should not focus the searchfield again so we can tab to the next input element.

[2019-09-10 18:55] vertonghenb opened #39 "NotFoundResult should show when the showsuggestions is clicked and has no results."
Currently when the user clicks the dropdownarrow and wants to see the results, the NotFound is not showing if there are no results (meaning: the searchfunction returned no items).

Basically it's because of the IsValidSearch in the `ShowNotFound` method.

Currently:
[code]

FIX:
[code]

[2019-09-10 20:41] vertonghenb commented on #35
@ScholliYT Closing this since the package was recently updated to preview-9 and this change was fixed by #31

[2019-09-10 20:41] #35 closed

[2019-09-10 20:42] vertonghenb commented on #34
@pwelter34, how is the PR coming along?

[2019-09-11 18:23] rpskelton2 opened #40 "Support for attribute splatting"
Currently, if I set id, disabled, class, etc. it results in a Object reference not set to an instance of an object error at runtime.

<BlazoredTypeahead id="test" SearchMethod="Search" @bind-Value="@ReferenceProperty.Value" >

[2019-09-12 07:20] vertonghenb commented on #40
@rpskelton2 Good idea, we could splat onto the `<input/>` element.

[2019-09-13 20:07] rpskelton2 opened #41 "Please add a license.txt file"
According to https://help.github.com/en/articles/licensing-a-repository your repro is fully copyrighted and I won't be able to use it.  The boilerplate MIT license would work.

BTW, love your work.  Keep it up!

[2019-09-13 20:22] #41 closed

[2019-09-13 20:23] vertonghenb commented on #41
@rpskelton2 Thanks for bring this up, license was just added.

[2019-09-13 20:38] rpskelton2 commented on #41
Thanks!!

From: Benjamin Vertonghen <notifications@github.com>
Sent: Friday, September 13, 2019 1:23 PM
To: Blazored/Typeahead <Typeahead@noreply.github.com>
Cc: rpskelton2 <rpskelton2@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Blazored/Typeahead] Please add a license.txt file (#41)

@rpskelton2<https://github.com/rpskelton2> Thanks for bring this up, license was just added.

[2019-09-15 00:37] ScholliYT commented on #33
This would be great. Just thought of a demo site which might be overkill. GIF would be great ☺️

[2019-09-17 21:17] Gareth064 opened #45 "Replicate the Size attribute on the HTML Select element."
Would it be possible to replicate this feature where instead of it being a drop down, it can be a list box, where you set the size of it. And the search bar filters the list as it currently does?

[2019-09-17 22:41] Gareth064 commented on #45
After downloading the source code, would adding another parameter which forces the IsShowingSuggestions  to be true at all times?

And I noticed the the size of the results (suggestions list) is done by min and max-height css values, maybe there can be an enum to select sm md lg size?

[2019-09-17 22:45] chrissainty commented on #45
Hi @Gareth064, I'm not sure I follow what you're asking for? Do you have an example you could link to?

[2019-09-18 07:23] Gareth064 commented on #45
When you add the attribute 'size' to a select element, it doesn't render as a drop down anymore, but an always open list with a scrollbar.

![image](https://user-images.githubusercontent.com/22307223/65123269-bf812f80-d9ea-11e9-8427-57c439d5239b.png)

It would be cool if there was a parameter, maybe 2 of them, which would allow your Typeahead dropdown become a Typeahead list.

The first paramater

[2019-09-18 07:42] #39 closed

[2019-09-18 08:05] #38 closed

[2019-09-19 16:27] vertonghenb commented on #45
@Gareth064 we're not using a `Select` but a styled div, so adding a `size` attribute won't work. But I'm not sure what you're requesting.
[code]

[2019-09-19 22:21] Gareth064 commented on #45
Sorry, I wasn't very clear with my explanation 😄 Would you be able to replicate the functionality that you would get from using a Select element and its Size attribute? From what I could tell from your code, you have a boolean to control whether the list of suggestions is open\visible, and then the size of it is a CSS property(can't remember off the top of my head which one). So I suppose if the b

[2019-09-19 22:58] chrissainty commented on #45
Thanks for taking the time to clarify things Gareth. And you're going about things in the right way having this discussion. 😄

However, I'm going to say this is probably not a change we would make right now. As it stands, a user can get a list of options with a single click with the current implementation. I'm also worried about not making the control do too much.

@vertonghenb Do you have a diffe

[2019-09-20 09:00] Gareth064 commented on #45
@chrissainty No worries.

I will take a fork or clone (I'm an Azure Devops user, GitHub is new to me lol) of this repo after the next major release and see if I can get working what I was suggesting. It will be a fun wee exercise.

[2019-09-21 06:54] #45 closed

[2019-09-27 07:01] #33 closed

[2019-10-02 06:42] dtitovgis opened #48 "Multiple"
How can i do a multiple select values?

[2019-10-02 06:53] chrissainty commented on #48
Currently the control doesn't support selecting multiple values. We're hoping to add that functionality in a future version.

[2019-10-05 22:12] natsuo opened #49 "Header templates"
Nyaamaste.

It would be great if the library could support a header template as well as a footer template. The header could be used to add a "Add product" or similar button or a checkbox to toggle a filter. The footer could be used for paging and showing the number of returned rows.

Thank you !

[2019-10-07 07:40] chrissainty commented on #49
Yes, this seems like a good idea. We're working on the next version of the Typeahead so we'll factor this into that.

[2019-10-12 00:27] Jerrgree opened #51 "Cannot programmatically clear search text"
I am currently running using Typeahead 3.1.8

After certain actions, I am attempting to clear the Typeahead search bar so that the user can perform a new search. I do this by setting the bound value to string.Empty

It appears that the value has been cleared in the UI, however, as soon as I focus on the text box the previously cleared value re-appears.

![typeaheadExample](https://user-images.gith

[2019-10-14 07:41] chrissainty commented on #51
Thanks for reporting this @Jerrgree. I think this is a bug we need to sort out. We're currently working on a new version of the control so I'll get this fixed in that branch so it's in the next major release.

[2019-10-18 21:53] rpskelton2 opened #52 "Add a disabled parameter"
For use in a business application having a disabled option is a must (or we could create a look-alike control to show instead but ick!)  Please add disabled support!

If Disabled is true:

- Disable input element
- HandleClear and ShowMaximumSuggestions should not be wired or should return before doing any work
- Hover effects over blazored-typeahead__input__icon should be disabled
- placeholder t

[2019-10-18 21:55] chrissainty commented on #52
Agreed, I'll add this to the list for the next release.

[2019-10-21 12:39] dtitovgis opened #53 "no drop down event error"
If not drop down/typing event i have error then submit the editContext.
example
[code]

Microsoft.AspNetCore.Components.Server.Circuits.RemoteRenderer: Warning: Unhandled exception rendering component: Cannot read property 'addEventListener' of null
TypeError: Cannot read property 'addEventListener' of null
    at Object.addFocusoutEventListener (http://localhost:55460/_content/Blazored.Typeahead/

[2019-10-21 15:32] vertonghenb commented on #53
@dtitovgis Thanks for bringing this to our attention, do you have some reproduction steps or preferably a codebase we can test this out with?

[2019-10-21 20:15] chrissainty commented on #53
@dtitovgis I'm not sure what's causing this but I think this will be fixed in the upcoming release (hopefully tomorrow). A lot of code has changed in the new version and I'm not seeing this error when doing what you describe.

[2019-10-22 09:32] #40 closed

[2019-10-22 09:32] #52 closed

[2019-10-22 09:32] #32 closed

[2019-10-22 09:32] #34 closed

[2019-10-22 09:32] #48 closed

[2019-10-22 09:32] #53 closed

[2019-10-22 09:33] chrissainty commented on #51
Resolved by #46

[2019-10-22 09:33] #51 closed

[2019-10-22 09:37] chrissainty opened #54 "Improve the docs"
The new version has a lot of new features and the docs need to be made better so people can discover and understand them better. Also a demo would be a good idea!

[2019-10-22 10:43] chrissainty opened #55 "Free text entry - Add item to the list."
Investigate the ability to add the text entered as a search, as a new value. I'm not sure that makes sense to anyone else, but I know what I mean! 😆

The example would be if the typeahead was used for selecting a city. If the city exists a user can select it as normal, if it doesn't it can be added.

[2019-10-22 10:45] vertonghenb commented on #55
Maybe use the footer as ADD to list? Something like the github labels

[2019-10-22 10:49] chrissainty commented on #55
Great mind! I thought about that and hit the same issue as you.

This feature is fine when dealing with primitives like string or int but complex type aren't going to work as far as I can tell.

[2019-10-22 10:51] vertonghenb commented on #55
We could ask for a second function CreateIfNotExists as parameter which is basically a constructor to create T Based on the search value.

[2019-10-24 09:18] dtitovgis opened #56 "using Blazored.Typeahead.Forms"
NameSpace not found after update.

[2019-10-24 12:26] darrennvisak opened #57 "Close dropdown on click"
I think it would be great to have the dropdown menu closed when you click anywhere on the screen outside of it. If you do not have the dropdown button enabled and end up not wanting to select an item or not finding an item, there is no easy way to close it.

[2019-10-24 13:02] magahl opened #58 "Add CssClassses from EditContext.FieldCssClass to input"
Much like InputBase in AspNetCore ([here](https://github.com/aspnet/AspNetCore/blob/8c02467b4a218df3b1b0a69bceb50f5b64f482b1/src/Components/Web/src/Forms/InputBase.cs#L146)) the status classes from the EditContext should be added to the input. This is needed so that we can style the input itself when it is valid, invalid and modified.

[2019-10-24 13:13] chrissainty commented on #57
It's funny you raise this, I've just finished doing the work to make this happen. Will be in the next release.

[2019-10-24 13:20] chrissainty commented on #58
Agreed. I've added a comment to your PR with a suggestion for a slight change.

[2019-10-24 14:41] #57 closed

[2019-10-24 14:41] #58 closed

[2019-10-24 19:29] tallichet opened #61 "Open / search without input, on get focus"
Allow to search and show suggestions when getting focus, or when user click on the input. Setting the length to 0 seems not to be enough. Or maybe I missed something?

[2019-10-25 06:53] magahl opened #62 "Change so that focus style is applied to the top level div instead"
`.blazored-typeahead__input:focus`  only focuses the input itself. This makes the `:focus` style cut of before the arrow if you have enabled dropdown and it looks kinda strange (in my opinion:))

[2019-10-25 08:01] #62 closed

[2019-10-25 08:59] chrissainty commented on #61
No you haven't missed anything. This was not possible but I've just added a new paramter to enable this. Should be on NuGet in half an hour or so.

[2019-10-25 08:59] #61 closed

[2019-10-25 09:07] chrissainty commented on #55
That sounds like a good plan @vertonghenb. It gives the most flexability to the developer and doesn't make things too complex to handle.

[2019-10-25 15:06] ironbull45 opened #64 "Downloaded Blazored.Typeahead 4.1 & received the following error on compile"
I used the example found here: [https://chrissainty.com/getting-started-with-blazored-typeahead/](url)
[code]
During compile, I received the following errors:

![typeahead_errors](https://user-images.githubusercontent.com/1727015/67582068-14654380-f717-11e9-8d0c-c6d29c424dae.PNG)

The razor component doesn't show any errors until compile time.

[2019-10-25 15:15] ironbull45 commented on #64
This is error in the .cs file on line 110:

![typeahead_errors_2](https://user-images.githubusercontent.com/1727015/67582916-9bff8200-f718-11e9-85a8-3c7426b368f4.PNG)

[2019-10-26 11:02] natsuo opened #66 "Clicking on footer template closes suggestion list"
Clicking on the footer template, or any of the elements inside the footer template causes the component to close the suggestion list.

The footer template can be used in a variety of ways, including:
* Showing suggestion/item count.
* Showing a label with a description or help.
* Showing a link/logo to the service providing the suggestions (like weather service provider).

Clicking outside the lis

[2019-10-26 11:11] chrissainty commented on #66
Thanks for reporting this @natsuo. Definitely something we need to get fixed!

[2019-10-26 22:53] Sapporun commented on #64
Hey, I managed to solve it by changing the code (_Your Typeahead.razor file_) into following:

[code]

[2019-10-27 00:09] ironbull45 commented on #64
Thank you. I saw that in the original comments as well.

[2019-10-27 00:09] #64 closed

[2019-10-27 11:52] #49 closed

[2019-10-28 08:23] Webreaper opened #67 "Add handler for OnKeyUp( enter ) on form/page"
Hi Chris,

Thanks for the control - it's great! :)

I have an input where I'm tying in an event to the Enter key, so that somebody can type in a string, and when they hit enter it'll trigger an action to update the underlying object. So I have:

`<input` @bind-value="NewTag" @bind-value:event="oninput" @onkeyup="ProcessEnterKey" >

@code:
[code]
Unfortunately, if I try and use this with the Blazor

[2019-10-28 08:27] chrissainty commented on #67
Hi,

I think you can achieve what you want but you'll need to change your approach a bit. You can't use `@bind-Value` with the Typeahead, it a complex control and the underlying `input` isn't directly exposed for you to hook into.

You could add an input into the footer or header template which would allow someone to enter a value and you could apply your onkeyup event there. I am currently workin

[2019-10-28 08:41] Webreaper commented on #67
Thanks for the quick response! I guess a quick fix could be an enhancement to allow somebody to specify their own callback, which would get wired up into the HandleKeyUp method ([here](https://github.com/Blazored/Typeahead/blob/c13370556522d55bff1176876f3de8f2ce0cd896/src/Blazored.Typeahead/BlazoredTypeahead.razor.cs#L201)). If I get time I might look at trying that out and if it works submitting

[2019-10-28 08:57] chrissainty commented on #67
If you could hold off doing anything just yet, I appreciate the enthusiasm but we're discussing that option on #55. And I don't want you to do something which then has to be changed or removed.

[2019-10-28 10:08] Webreaper commented on #67
Haha - sure. I was likely to get to this in about 6-8 weeks, if I'm lucky, so no risk of doing anything which will interfere with the work you're doing on that issue. :)

[2019-10-28 11:21] vertonghenb commented on #55
Note to self:
- Check if we have issues with the `Convert Method` taking this approach

[2019-10-28 11:51] chrissainty commented on #66
I think we need to establish the use cases for the footer/header templates. I can add a link to the footer template and I can click on the link without issue. Yes, the suggestion list then closes but I'm not sure why it should stay open.

@natsuo Could you clarify the type of behaviour you're after and maybe some context?

[2019-10-28 11:52] chrissainty commented on #67
I'm going to close this issue in favor of the existing one, if that's ok with you @Webreaper?

[2019-10-28 11:53] #67 closed

[2019-10-28 12:42] Webreaper commented on #67
Fine with me - makes total sense. Thanks!

[2019-10-29 10:41] natsuo commented on #66
This example shows header and footer templates. Footer has item count. Header has button to create a new product and to toggle if disabled items should be shown in the list or not.

![expected](https://user-images.githubusercontent.com/1655659/67760117-024e1280-fa41-11e9-9995-338c17f84c2a.gif)

[2019-10-30 20:07] Joe-LaRue opened #69 "Add ability to set focus to the input box"
A use case for this is as follows - when showing a modal with a typeahead component, it would be nice to set the focus to the input box so the user can just start typing.  The same could apply when navigating to a page with a typeahead component.

[2019-10-30 20:19] Joe-LaRue commented on #69
It looks like the way to do this is to instantiate an instance of the typeahead, reference it in the markup declaration via the @ref attribute, and then call a method on the component when needed.

example:
![typeAhead1](https://user-images.githubusercontent.com/51251572/67895479-f3df2400-fb30-11e9-9061-de5aabc77bbe.PNG)
![typeAhead2](https://user-images.githubusercontent.com/51251572/67895481-f5a

[2019-10-30 20:21] vertonghenb commented on #69
You could do this with some JS and using the .css class of the control.
However @chrissainty  and myself have been thinking to create a Blazored.Essentials package so you could express this easier for example:

[code]
[code]

[2019-10-30 20:27] Joe-LaRue commented on #69
I'd be interested in pitching in if you want the help :)

[2019-10-31 09:32] chrissainty commented on #69
@vertonghenb Yes - we should make a move on that project. Blazored.Essentials seems like a good name. I'll get the repo created.

@Joe-LaRue The more the merrier, I'll get the repo setup then we can get some issues going

[2019-11-01 09:20] magahl opened #71 "Show suggestions on ArrowDown/Enter when input has focus and suggestions arent already showing"
If the input has focus and a user push `ArrowDown` or `Enter` it should `ShowMaximumSuggestions` (much like the handler on the dropddown arrow icon).

This is very convenient when tabbing through a form and you wanna open the suggestions fast (and you dont wanna show all options on focus).

[2019-11-01 09:31] chrissainty commented on #71
@magahl Thanks for this suggestion. I agree it would be a benefit but I'm not sure about your approach. I would rather only enable this option if the EnableDropDown parameter has been set to true. Showing suggestions outside of this is a bit of a blur of function for me. What are your thoughts?

[2019-11-01 09:35] magahl commented on #71
That was my first implementation actually. I didn't find a reason to limit the functionality, but if you think its better  then it problably is. I can update the PR with this.

[2019-11-01 09:38] chrissainty commented on #71
Maybe I'm overthinking it. I was thinking of how we use the control at work, where we use it as a typeahead only there can be 1000's of results allowing the down arrow function would be pretty worthless. Where as if the drop down function has been enabled then potentially there are only a limited amount of options.

[2019-11-01 09:39] magahl commented on #71
Yeah, indeed that would be pretty bad.

[2019-11-01 10:45] #71 closed

[2019-11-01 10:50] chrissainty commented on #69
I am I right in thinking this issue can be closed now @Joe-LaRue ?

[2019-11-01 12:09] Joe-LaRue commented on #69
Yea - it sounds like the plan is to handle it via Blazored.Essentials.

[2019-11-01 12:09] #69 closed

[2019-11-02 08:21] georgemathieson opened #73 "Server side sample blazoredTypeahead could not be found"
I get the following exception when running the server side example project:
[code]

[2019-11-02 08:45] chrissainty commented on #73
Have you tired doing a full clean and rebuild? Do you have the .NET Core 3 SDK installed? I use this project most days at the moment for testing new features so it definitely works.

[2019-11-02 09:42] georgemathieson commented on #73
Clean and rebuild without success, though if I start debugging inside VSCode then everything seems to work. If I call `dotnet run` from the command line then `blazored-typeahead.css` and `blazored-typeahead.js` are not found resulting in the error.

`dotnet --list-sdks`
3.0.100 [/usr/local/share/dotnet/sdk]

[2019-11-02 10:33] chrissainty commented on #73
I'm not sure what to suggest. I've tried the sample on my personal laptop, my work laptop and my wife's MacBook and it runs fine on all of them. I think this may be a local issue on your machine I'm afraid.

Just to be sure we're doing the same thing. I got the latest from master moved into the `samples\BlazorServerSide\` directory and ran `dotnet run`. I then opened the app in a browser - everyth

[2019-11-02 12:00] georgemathieson commented on #73
Odd, shall close this then, thanks for looking into the issue anyway! :)

[2019-11-02 12:00] #73 closed

[2019-11-02 12:02] chrissainty commented on #73
I'm really sorry I couldn't help with this one. It's very strange.

The only other thing I can think of is deleting and recloning the repo. Also have you tried doing a clean and rebuild and then opening the site in a incognito window? Sounds odd but might show if there is any weird cacheing issue.

[2019-11-02 17:54] georgemathieson commented on #73
For anyone else with this issue, calling `dotnet run` will not set the `ASPNETCORE_ENVIRONMENT` variable. If it isn't set, it defaults to **Production**. Static web assets are enabled by default in the **Development** environment, so running `dotnet run --environment "Development"` fixed the issue.

[2019-11-07 08:44] chrissainty opened #75 "Add OnChange event"
Add a event to the control which is raised when the value of the typeahead is changed. This is useful when using the control in more complex forms where you need to enable/disable other controls based on changes to selected values.

**Single vs multi-mode**
Should this work any differently? Probably not.

[2019-11-12 15:11] rgamage commented on #54
Also the docs say to add ref to "@using Blazored.Typeahead.Forms" but this causes an error.  Only works if you use @using Blazored.Typeahead

[2019-11-12 15:13] chrissainty commented on #54
Sorry this was a hangover from the older version. I've updated the docs now.

[2019-11-12 15:19] rgamage commented on #54
Thanks for the update!  Also would be handy to have at least one example code snippet that could work out of the box.  Current examples don't compile because there are missing models/references, etc.

[2019-11-12 15:24] chrissainty commented on #54
The examples in the readme are just for reference. If you want to see working code then you can checkout the sample applications in the repo.

I'm working on a full docs site for all the Blazored components but it's a large project.

[2019-11-12 15:26] rgamage commented on #54
Got it, thanks.  Understand it's a large effort, I appreciate the work that has gone into all of these components.  Will try to contribute when I get to the level of being helpful!

[2019-11-13 07:13] fnils commented on #54
How does it work if I want to use Value and ValueChanged instead of bind-value?
I get an error after the change to Value and ValueChange.
Exception thrown: 'System.ArgumentNullException' in Microsoft.AspNetCore.Components.Forms.dll
Microsoft.AspNetCore.Components.Server.Circuits.RemoteRenderer: Warning: Unhandled exception rendering component: Value cannot be null. (Parameter 'accessor')

[2019-11-14 10:08] chrissainty commented on #54
@fnils In all honesty I haven't used that method of binding before. Whats the use case for it?

[2019-11-18 09:58] fnils commented on #54
I want to invoke an async EventCallback when a value is changed and I wanted to have an await. But maybe I am thinking about it in the wrong way.

[2019-11-18 19:11] rgamage opened #76 "Add support for Enter, Tab keys to finish selection"
Once you've narrowed down the list to only one option, user should be able to hit Enter or Tab to select that option and move on to next control in the form.  They should not have to use the mouse to finish the selection, or use the down-arrow to move down to the one and only selection.

To repro, run the example code app, first example (I'm using Server-side Blazor):
1) Type 'tracy' in search box

[2019-11-18 21:30] rgamage commented on #67
@chrissainty you said you can't use @bind-value on typeahead, but the example code uses it. ??

`<BlazoredTypeahead SearchMethod="SearchFilms"
                            @bind-Value="MyFormModel.SelectedFilm">`

[2019-11-18 21:52] vertonghenb commented on #76
@rgamage Good catch!
Currently you can use Tab > Enter.

However it should be pretty easy to implement.

[2019-11-18 22:00] rgamage commented on #76
Tab -> Enter doesn't work.  It either selects an empty result, or selects the previous selection you made.

[2019-11-18 22:26] vertonghenb commented on #76
True that didn't work, however PR is ready, let me know what you think.

[2019-11-18 22:30] vertonghenb commented on #75
Don't we already support this via the following?
[code]

[2019-11-18 22:39] vertonghenb commented on #66
**Maybe** this is something we can easily fix with the new Blazor version (3.1 p2+)
`Stop event propagation in Blazor apps`
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-core-3-1-preview-2/

[2019-11-18 22:48] vertonghenb commented on #36
Recheck if an `Array` is still the way to go, initially we didn't use `.Count()` that much.

[2019-11-18 22:59] rgamage commented on #76
Thanks for the quick response!  That looks like it might work for Enter, would it be a similar code change for Tab? I would think Tab would be the primary use case.  As a user, if the entire 'form' is just this type-ahead and a submit button, then I would expect pressing Enter would select the item, and click the Submit button (default behavior on form submit buttons).  Basically, it would be nice

[2019-11-18 23:15] vertonghenb commented on #76
@rgamage I get your use case but it's not something I'd suggest doing since you're basically using the typeahead's select to alter some other state outside of the control itself.
What I'd suggest doing is the following:
1. Type in the name
2. There is only 1 suggestion
3. Press `Enter`, which will return the focus to the `typeahead` (where it was basically).
4. Press `TAB` which will focus your ne

[2019-11-18 23:32] rgamage commented on #76
Ok, understood.  I can tell you from my user's feedback that this 'Enter - Tab - Enter' dance on every part number entry (this is for a part lookup system, used by production workers many times a day), will get very negative feedback.  Users want to type in a part, and go, with a single additional keystroke, not three.  I understand many other devs may disagree, so default may be different, but it

[2019-11-18 23:51] vertonghenb commented on #76
The Parameter `OnValueChanged` could be what you're looking for.

[2019-11-19 15:08] rgamage commented on #76
Thanks for the tip on OnValueChanged, and for the "Enter key to Select" code - I will give it a try.  I'll enter a separate issue for the odd tab behavior (Tab key clears your text).

[2019-11-19 15:13] Whyskass commented on #55
Hey guys,

Any updates concerning this Free Text Entry issue?

Thanks anyway for the great job you're doing :)

Best,
L.

[2019-11-19 15:14] rgamage opened #79 "Tab key clears typed text, loses any highlighted selection"
After typing text into the input field, hitting Tab key clears all the chars you just entered, and moves focus to the next control in the form.  Moving focus is expected, but clearing the text you've just typed seems odd to me, and will be confusing for users.  Some users may expect Tab to complete the selection (as it does in, for example, Visual Studio/Code intellisense), but they would not expe

[2019-11-19 15:46] chrissainty commented on #79
This is by design, currently you cannot enter arbitrary text into the typeahead, you must select a result from the suggestions.

In terms of the behavior of hitting tab, I've just been catching up on things and seen your conversation with @vertonghenb  in #76. The standard behavior of tab is to move focus between controls not select values. I'm not trying to say you shouldn't do it, but I think yo

[2019-11-19 15:53] chrissainty commented on #75
You're correct, I obviously hadn't had enough coffee when I raised this :)

[2019-11-19 15:53] #75 closed

[2019-11-19 15:55] chrissainty commented on #66
You might be right @vertonghenb. Do you want to have a go at this one? If not I'll code it up when I get a chance.

[2019-11-19 15:56] chrissainty commented on #55
Not yet @Whyskass. We'll get to this ASAP though, I've had a lot of other bits on recently so been a bit short on time.

[2019-11-19 15:59] #76 closed

[2019-11-19 16:01] chrissainty commented on #67
@rgamage The comment you're referring to was from before a major update of the control when we didn't use `@bind-Value`.

[2019-11-19 16:15] rgamage commented on #79
I understand you can't enter arbitrary text - you have to enter one of the valid entries in the list.  But I've just entered a valid entry, an exact match to one of the drop-down items.  Now I hit Tab, and my result is lost.  Or Enter, and nothing happens.  Or I arrow down, highlight a valid item, again choosing from the list, and Tab erases my work.  Just seems odd to me.  Definitely won't be pop

[2019-11-19 16:34] rgamage opened #80 "Enhancement: Auto-Select on exact match"
If the user has entered an exact match to one of the items (so only one item remains in drop-down), it would be nice for the control to automatically Select that item (same as if the user clicked the item in the drop-down with the mouse).  This way, the input field would be properly populated, and the model SelectedItem would be set OnValueChanged fires, etc. and the control would maintain focus,

[2019-11-19 16:35] chrissainty commented on #79
But until you actually select a entry from the list by selecting it from the suggestions and pressing enter, you have only entered arbitrary text as far as the control is concerned. We use this control at my work with great success (my team build large scale repairs and maintenance software, lots of data entry and heavy keyboard use) our users are happy with this behavior.

@vertonghenb suggestion

[2019-11-19 16:56] rgamage commented on #79
Ok, still not quite understanding your users' workflow - can you describe the exact sequence of keyboard strokes that allows them to enter, and select a value from the list and continue on with entering data in the form, without using the mouse?  I must be missing something, sorry for my dull-headedness.

As for @vertonghenb 's changes, he presented a pull request (#77) that triggered a Select upo

[2019-11-19 17:06] chrissainty commented on #79
No problem, text chat is a bit of a nightmare when trying to understand things! :)

A user would tab into the control and start typing their search term, 99% of the time they don't type in the whole phase they will just use the arrow keys to highlight the suggestion they want, hit enter and tab out. They are normally in and out in a few seconds depending on the user and the length of there search

[2019-11-19 17:25] rgamage commented on #79
Ok, that makes sense, thanks.  One minor thing I noticed when replicating that workflow, Enter selects the item and hides the drop-down, but doesn't return focus to the input box.  You need to then Tab once to focus on the typeahead again, and Tab again to focus on the next control (e.g. submit button).  So your sequence of type chars, hit Enter, hit Tab would actually be type chars, hit Enter, hi

[2019-11-20 08:58] Whyskass commented on #55
Sure no problem, thanks for the answer @chrissainty ;)

[2019-11-20 17:53] chrissainty commented on #54
@fnils So I wanted to try it out and see what using Value and ValueChanged was like, it's not an enjoyable experience!

[code]

This is what you need to make it work.

[2019-11-20 17:56] chrissainty commented on #79
Thanks for pointing that out, I think that's a regression from our last big release. I'll get that fixed.

[2019-11-20 18:15] chrissainty opened #81 "Control should retain focus when a selection has been made"
When a selection is made the control does not retain focus when it swaps back into the template mode. This only matter when selecting a single value, not when the control is in multi-select mode.

The desired behaviour is when a selection is made the suggestions list closes the new selected template is displayed and the control still has focus. This means that the next tab would move to the next c

[2019-11-20 20:10] chucker opened #82 "Allow distinct styling of matching characters"
Right now, the entire result is placed in a div. Given the example template:

[code]

, a result div might be:

[code]

If I searched for **Shi**, I would like the following instead:

[code]

I could then supply styling information for that class and make matching characters bold, underline, or similar:

[code]

[Similar Stack Overflow discussion](https://stackoverflow.com/questions/2435964/how-ca

[2019-11-21 22:54] kiwiingenuity commented on #54
Chris,
You may want to re-visit the documentation at https://chrissainty.com/getting-started-with-blazored-typeahead/
It still makes reference to @using Blazored.Typeahead.Forms

[2019-11-21 23:24] kiwiingenuity opened #83 "The X symbol is giving me grief"
My BlazoredTypaheadInput was working fine before the last update.
I have altered the code now to be only BlazoredTypahead and I have added ShowDropDownOnFocus="true", which gives me similar functionality to what I had before the update.

Now if I click on an item, the dropdown appears and with my mouse I can select a new option.
All good to this point.

However next to the current item there a cro

[2019-11-21 23:32] kiwiingenuity opened #84 "EnableDropDown does not show the arrow symbol"
If I set EnableDropDown="true", then down arrow icon which shows on your docs is not there.
There is a blank area to the right that if I click does show the dropdown.

I'm using Blazor WebAssembly and the target framework is netstandard2.0
The sever app is netcoreapp3.1

[2019-11-22 00:14] vertonghenb commented on #84
@kiwiingenuity Thanks for reporting this.
However I cannot seem to replicate the issue you're mentioning. The .Client sample in the samples folder seems to be doing fine. It might be a css related issue.

Is it possible to send us a repository with the code you're having issues with (it can be a smaller proejct if it contains IP)?

[2019-11-22 00:17] vertonghenb commented on #82
I like the idea, doesn't have a lot of code to it. @chucker want to PR this one?
We might want to add a parameter that controls this behavior though. `HighlightSearchInSuggestions` or something similar.

[2019-11-22 00:28] vertonghenb commented on #80
I like the idea but this could cause some issues in my option. I've been trying to find an example of antoher autocomplete component that works as you mentioned but I wasn't able to find any.

- https://material-ui.com/components/autocomplete/
- https://mdbootstrap.com/docs/jquery/forms/autocomplete/
- https://www.syncfusion.com/angular-ui-components/angular-autocomplete

I think that using the `E

[2019-11-22 12:26] masudijames commented on #83
When I press X it seems the Model is cleared also. Checking the console I get the following error:

**System.InvalidOperationException: EditForm requires a Model parameter, or an EditContext parameter, but not both.
   at Microsoft.AspNetCore.Components.Forms.EditForm.OnParametersSet()**

Any suggestions

[2019-11-23 00:18] kiwiingenuity commented on #84
I've downloaded the source code and attempted to replicate this issue and failed to do so.
This leads me to believe I will have to look a bit harder at my code???
I'm experiencing the error.

Microsoft.JSInterop.JSException: Could not find 'addKeyDownEventListener' in 'window.blazoredTypeahead'.

[2019-11-23 00:27] kiwiingenuity commented on #83
Further investigation... I have discovered it's the same issue as with the drop down Icon issue I created, namely I get the error message
Microsoft.JSInterop.JSException: Could not find 'addKeyDownEventListener' in 'window.blazoredTypeahead'
I will check my source code in more detail!
@masudijames I don't believe we are experiencing the same issue?

[2019-11-23 14:22] chrissainty commented on #54
@kiwiingenuity Yes, it's on my ever growing list of things to do :)

[2019-11-23 14:25] chrissainty commented on #82
The interesting challenge here is how we highlight text in the template as we don't have access to it until its rendered. I think this is only going to be possible using JS interop.

[2019-11-23 14:29] chrissainty commented on #80
I agree @vertonghenb. I've not seen this kind of behaviour in other controls of this type and it might catch people off guard it they are typing and all of a sudden a item is selected without a deliberate action.

[2019-11-23 14:33] chrissainty commented on #84
@kiwiingenuity Have you checked to make sure both the blazored-typeahead.js file and the blazored-typeahead.css file are being included in your application?

[2019-11-23 14:36] chrissainty commented on #83
@masudijames As the error states, have you specifiec a model parameter on your `EditForm` component?

[2019-11-23 14:49] chrissainty commented on #79
I think we're about done one this one so I'm going to close this issue as a won't fix.

[2019-11-23 14:49] #79 closed

[2019-11-24 10:24] masudijames commented on #83
Is it necessary to use ViewModel like SelectedPerson as in your example or I can directly use
<EditForm Model="person" OnValidSubmit="HandlValidSubmit">

[2019-11-24 13:36] chrissainty commented on #83
@masudijames Sorry I don't know what you mean. I would probably be much more helpful if you shared your code.

[2019-11-24 15:30] masudijames commented on #83
[code]
**the following is Student.cs**

[code]
**the following is StudentClass.cs**
[code]

I really appreciate your help

[2019-11-24 15:37] chrissainty commented on #83
Try newing up your Student property

[code]

[2019-11-24 19:05] #80 closed

[2019-11-24 19:06] vertonghenb commented on #82
@chrissainty true! Since we don't have control over de template.
a workaround for this would be to provide the functionality yourself since the user has access to the template.

[2019-11-25 03:18] kiwiingenuity commented on #84
I checked the .js and .css, looking at the Network tab they both had a status of 200.
I noted it was memory cached, so I thought I would try to clear my cache and try again.
This resolved the issue!  The arrow Icon is now showing.
Thank-you for your help.

[2019-11-25 03:18] #84 closed

[2019-11-25 06:55] masudijames commented on #83
Did that but now I get another error in  Selected Template. The error treats studentClass as int instead of StudentClass studentClass and now @studentClass.Id gives error
[code]

[2019-11-25 08:20] chrissainty commented on #83
As you're binding to an `int` value, you are only being provided that value in the selected template. You will need to add a lookup method to find the student from the ID, something like this.

[code]

[2019-11-25 12:05] masudijames commented on #83
I have two tables **Student** and **StudentClass**, this EditForm is a form for student table which contains the columns **Id**, **Name** and foreign key **StudentClassId** .
This form has **Student Name** and **dropdown of studentClass (typeahead)**. I think i need to rearrange my code but still it doesnot work

[2019-11-25 12:18] chrissainty commented on #83
Have you looked at the samples by any chance? There is an example which is doing exactly what I think you're attempting to do. You can [view it here](https://github.com/Blazored/Typeahead/blob/6b0eaadce54b4b88131e990314e9005edc2af0f7/samples/BlazorServerSide/Pages/Index.razor#L78). It searches a list of people but binds to an `int` value.

[2019-11-26 00:11] vertonghenb commented on #81
Mmm I'm wondering how this could work since the `<input/>`  won't be in the render tree anymore since the template or `mask` is present.

[2019-11-26 00:17] vertonghenb commented on #82
I was thinking about this today and I believe we could give the control to the user but that would involve exposing the SearchTerm to the caller. Since he will need the SearchTerm to highlight the part of the template. Maybe I'm overthinking this, but it would be nice if we could come up with some idea how to tackle this problem.

[2019-11-26 12:59] chrissainty commented on #81
Yes, this is an issue. I've tried a few different... hacks. I'm not getting anywhere fast to be honest.

[2019-11-26 14:10] vertonghenb commented on #81
Another point of view is to go to the next control

[2019-11-27 06:21] cyberyaga opened #85 "TypeInference.CreateBlazoredTypeahead_0 Error on new BlazorServerSide project"
I'm running on Linux {Pop_Os 19.10}
VS Code 1.40.1
Dotnet 3.0.1

I wanted to make sure that my code was not the issue. So I created a brand new project on dotnet core 3.0.1 blazorserver template.

I compiled and run the empty project fine.

I do the install steps here: https://chrissainty.com/getting-started-with-blazored-typeahead/

I take the sample code on the page that's under "Usage Example"

[2019-11-27 08:25] vertonghenb commented on #85
Thanks for bringing this up, is there a repository with the source code?

[2019-11-27 14:51] cyberyaga commented on #85
Not really... I just the 3-4 steps in the documentation... and the just copy pasted the code in the "Usage Example" into the Index.razor, and hit F5...

I was just making sure that my code wasn't the issue, since it doesn't work on my main project neither. And my main project is not public.

I might bring down this project and try to debug it and see if I come across why I'm getting this error whe

[2019-11-27 16:31] chucker commented on #85
Could you post both the `Index.razor` and the generated `obj/Debug/netcoreapp3.0/Razor/Pages/Index.razor.g.cs`?

Inside that project, what is the output of `dotnet --info`?

[2019-11-27 19:29] cyberyaga commented on #85
**Index.razor** I added the .txt extension to get it to upload.
[Index.razor.txt](https://github.com/Blazored/Typeahead/files/3898509/Index.razor.txt)

**Index.razor.g.cs**
[Index.razor.g.cs.txt](https://github.com/Blazored/Typeahead/files/3898517/Index.razor.g.cs.txt)

[2019-11-27 20:37] #83 closed

[2019-11-27 22:40] vertonghenb commented on #85
Mmm, haven't tested it yet but could it be because the `Film` class is an implicit `private class` instead of `public`? try adding the `public` keyword infront of the `class Film`.

[2019-11-27 23:57] cyberyaga commented on #85
Just tried making the Films class public... Still the same issue.

Looking at the Index.razor.g.cs file, it seems like it has an issue generating the BlazoredTypeahead component. If I leave all the code intact and just remove the BlazoredTypeahead component from the Index.razor file, it compiles and runs fine.

The issue happens when the BlazoredTypeahead component markup is in the file.
[BlazorSe

[2019-11-29 09:22] chrissainty commented on #85
Hi @cyberyaga,

I downloaded you code and I've spotted the issue, unfortunately Blazor's error's haven't helped us much here. The problem is actually in how you've defined your `SearchFilms` method.

[code]

We changed the signature of the search method in the last major release and we now require a return type of `IEnumerable<T>` not `List<T>`. Once that is changed everything works fine.

[2019-11-29 09:23] #85 closed

[2019-11-29 15:12] cyberyaga commented on #85
Worked like a charm... Thanks for taking a look at this.

[2019-11-29 15:24] cyberyaga commented on #85
BTW... Under "Forms Integration" in your documentation page, you have a tag mismatch:
<BlazoredTypeahead></BlazoredTypeaheadInput>

[2019-11-29 15:44] chrissainty commented on #85
Fixed

[2019-12-01 16:24] NatanBagrov opened #86 "Cannot bind (convert) to Guid"
When trying to bind to `Guid`, there is the following compilation error:

`  Index.razor.g.cs(329, 65): [CS0411] The type arguments for method 'TypeInference.CreateBlazoredTypeahead_4<TItem, TValue>(RenderTreeBuilder, int, int, Func<string, Task<IEnumerable<TItem>>>, int, Func<TItem, TValue>, int, object, int, TValue, int, EventCallback<TValue>, int, Expression<Func<TValue>>, int, RenderFragment<T

[2019-12-01 16:25] NatanBagrov commented on #86
BTW, I tried to figure out how to resolve this issue, but I guess that it's a Blazor thingy...

[2019-12-02 22:05] chrissainty commented on #86
Hi @NatanBagrov, I've just tried this and everything is working as expected. I suspect you're not using a nullable `Guid` perhaps?

[2019-12-04 16:25] rgamage opened #88 "Enable Results list to be wider than Input box"
Often the results template has more information (e.g. part number + part description) than the input box (e.g. part number), which means you would like the results drop-down to be wider than the input box... I couldn't find a way to do this - is it possible as the control is written?

[2019-12-04 17:07] chrissainty commented on #88
Yes, it's possible to change the width. You can override the `.blazored-typeahead__results` CSS class, for example:
[code]
or

[code]

[2019-12-04 17:24] rgamage commented on #88
Note, I was able to make the results wider internally, which adds a horizontal scroll bar to the results drop-down.  This is an improvement, because the user can scroll over to see more info if they want, and it keeps the items from wrapping around and cluttering the list.  This is how I did that:

`                <ResultTemplate Context="part">
                    <div style="width: 700px;">

[2019-12-04 17:32] rgamage commented on #88
Chris,
Awesome, that works great, thanks!  It would be great to know the class names of the various elements of the component.  For example, I'd like change the vertical margins/padding between results items, etc.  I'm having trouble finding the names / properties of the results list, because I can't use the F12 browser tools to inspect it.  It disappears as soon I click somewhere else (like on th

[2019-12-04 17:40] rgamage commented on #88
Sorry, just realized I could check the source code for this info (duh!).  I did, and found everything I need in the blazored-typeahead.css file.

[2019-12-04 18:04] RichardBr opened #89 "doesnt work in "netstandard2.1""
This code no longer works for me as I have upgraded my blazor-client project to "netstandard2.1". Can you please update this code.

[2019-12-04 18:04] chrissainty commented on #88
You beat me to it 😄

[2019-12-04 18:04] #88 closed

[2019-12-04 18:06] chrissainty commented on #89
Yep, I'm doing my best but you know, the full-time job, 10 packages to maintain, family, etc...

[2019-12-04 18:20] RichardBr commented on #89
...it was just a polite request. I am sorry it did not come across that way :)

[2019-12-04 18:24] chrissainty commented on #89
No worries, why not have a go at updating the package and raising a PR? Open source works so much better when everyone lends a hand :)

[2019-12-04 19:08] chrissainty commented on #89
@RichardBr Had a sec to think about this. When you say it doesn't work, what do you mean?

[2019-12-04 19:18] chucker commented on #89
Hmm, I can't confirm this. I changed the BlazorClientSide project to use .NET Standard 2.1 and to use Typeahead from NuGet rather than from the solution, and it still worked.

[2019-12-04 19:20] chrissainty commented on #89
Thanks @chucker. Did you have any issues with the CSS or JS not being loaded? I've spoken to a few people today who've had to reference them in the same way as Blazor Server (which I know has been coming for a while).

[2019-12-04 19:23] RichardBr commented on #89
![typeahead error](https://user-images.githubusercontent.com/5938313/70173770-7a0bfe80-16cb-11ea-8419-d601c1f79e68.png)

[2019-12-04 19:25] chrissainty commented on #89
@RichardBr thanks for the info. Could you try adding the following to you `index.html`

In the head tag add the following CSS.
[code]
Then add the JS script at the bottom of the page using the following script tag.
[code]

[2019-12-04 19:30] RichardBr commented on #89
That fixed the problem :)

[2019-12-04 19:31] chucker commented on #89
Ah, yes. OP is probably running into https://github.com/aspnet/AspNetCore/issues/17535, which probably happened after switching frameworks because:

[2019-12-04 19:32] chrissainty commented on #89
@chucker I think the issue is that static assets don't seem to be being referenced automatically anymore

[2019-12-04 19:32] chucker commented on #82
Hm, seems the other problem is that we don't actually _have_ the matching characters, since the matching function (`SearchMethod`) is something provided by the consumer.

[2019-12-04 19:33] chrissainty commented on #89
@RichardBr Glad we got it sorted.

[2019-12-04 19:40] #89 closed

[2019-12-04 20:08] rgamage opened #90 "Placeholder doesn't appear until first click in input box"
The Placeholder assigned to the typeahead component doesn't seem to appear with the component is loaded/displayed, until the user clicks once inside the input box.  It seems like part of the purpose of the placeholder is to show the user what we're expecting there, and possibly remove the need for a label to the side of the input box explaining that, so it would be nice if the placeholder appeared

[2019-12-04 20:13] rgamage opened #91 "Unable to enter text without mouse click"
With my testing so far (v 4.2.0), I am unable to use the typeahead control as a keyboard-centric user.  I tab through the form's controls until the typeahead has focus, then try to start typing.  Nothing happens.  No apparent way to start entering text until I click with the mouse inside the input box.

It would be great if, upon gaining focus, the typeahead control was able to receive keyboard in

[2019-12-04 21:19] RichardBr commented on #89
Thank you for your speedy assistance.

[2019-12-04 21:52] MarkStega commented on #89
@RichardBR I went ahead and created a PR for DNC 3.1

[2019-12-04 22:46] chrissainty commented on #91
Could you clarify how you've tested this? I've just spun up the sample app and can tab into a typeahead fine and start typing without issue.

Are you trying this with an empty typeahead or one with an already selected value?

[2019-12-04 22:50] chrissainty commented on #90
As per the other issue you raised, could you clarify what you've done to see this behaviour? When running the sample app placeholders appear as expected.

![image](https://user-images.githubusercontent.com/6171719/70188368-6e7b0080-16e8-11ea-9d80-b1840c014ebf.png)

[2019-12-04 22:58] rgamage commented on #90
Here's the code I'm using...
[code]

[2019-12-04 22:58] chrissainty commented on #90
Try placeholder with a lowercase P

[2019-12-04 23:03] rgamage commented on #90
Still behaving the same way, but interestingly, as I'm trying to wrap this inside a custom component, when I consume that custom component, the placeholder shows right away, and I can tab in and start typing.  Unfortunately I've been struggling getting the notification delegate to fire on my consumer, but that's a different issue.  Could it be because I removed the EditForm wrapper?

[2019-12-04 23:07] chrissainty commented on #90
It shouldn't be the control will work both with or without the `EditForm` component.

[2019-12-05 12:53] LockTar commented on #54
I like the extension but the documentation is a bit behind. I don't understand what all the properties of the control do. I want `OnValueChanged` the selected items with some other parameters added. I thought something like 'ValueExpression="@(() => SelectedPerson, "foo", "bar')"'

[2019-12-05 14:27] LockTar commented on #54
Got it working:

[code]

[2019-12-05 19:49] vincentw56 commented on #91
I can confirm this. If I tab from a field to the Type Ahead field, I cannot type anything. I have to click in it with the mouse before I can start typing. This is with a new field with no text inside of it. I am using Core 3.1 and 4.2.0.

[2019-12-05 19:51] chrissainty commented on #91
Could you create a repro showing this behaviour as I can't seem replicate
it.

On Thu, 5 Dec 2019 at 19:49, Vincent Wright <notifications@github.com>
wrote:

[2019-12-05 19:56] vincentw56 commented on #91
Here is a little more info. When I tab into the TypeAhead, it works if I press enter first. Once I do that, I can start typing. It looks like the control doesn't go into search mode when it gets focus from the tab.

[2019-12-05 19:58] chrissainty commented on #91
Thanks, but I really need an actual reproduction.  I can run any of the
samples in this repo, and tabing into the control and typing working
exactly as it should.

On Thu, 5 Dec 2019 at 19:56, Vincent Wright <notifications@github.com>
wrote:

[2019-12-05 20:45] vincentw56 commented on #91
Okay, I've been able to reproduce this with your examples. Add this:

`<small class="form-text badge badge-danger"><ValidationMessage For="@(() => FormModel.SelectedPerson.Firstname)" /></small>`

You can see, it looks like if you have validation on the field, it has an issue. Otherwise, it works as expected.

[2019-12-05 21:33] chrissainty commented on #91
Where abouts am I adding that code?

[2019-12-05 21:39] vincentw56 commented on #91
Any where you want to add it. It is simple validation. If you add validation to the field like the code I gave you, it doesn't work properly.
________________________________
From: Chris Sainty <notifications@github.com>
Sent: Thursday, December 5, 2019 4:33:41 PM
To: Blazored/Typeahead <Typeahead@noreply.github.com>
Cc: Vincent Wright <vincentw@kmwperformance.com>; Comment <comment@noreply.github

[2019-12-05 21:39] chrissainty commented on #91
This is the very first example in the sample app

[code]

It has validation and works fine.

[2019-12-05 23:20] vincentw56 commented on #91
Here is my test project that doesn't work. Everything I am doing is standard Bootstrap coding and styling.
[BlazorApp1.zip](https://github.com/Blazored/Typeahead/files/3929545/BlazorApp1.zip)

[2019-12-05 23:48] rgamage commented on #91
Thanks Vincent for helping to repro this.  For what it's worth, I get this bad behavior without any Form at all, no validation code or elements.  However when I use ValueChanged instead of @bind-Value, everything works fine.  I'm using OnValueChanged in one project because I made a wrapper around the blazored-typeahead, and needed the ValueChanged event in order to propagate the notification up to

[2019-12-06 00:20] rgamage commented on #91
I think I pinned it down to these two cases, at least for me:

Working:
[code]

Not working:
[code]

In the non-working case, I am initializing the selected item in the declaration.  That, apparently, causes an issue where the input box is not working (cannot enter text, does not show placeholder), until you focus and type Enter key, or mouse click inside.  In my case there is no need for me to in

[2019-12-06 14:34] vincentw56 commented on #91
Using the information provided by @rgamage, I think I found what is causing the issue. Using my uploaded project as is, shows it is broken. But, if you go into the FormExample.cs file and comment out this line:

`this.SelectedPerson = new Person();`

it works as expected. But it should work just fine with the line in there. And the current project I am working on needs me to instantiate the object

[2019-12-06 14:59] chrissainty commented on #91
Thanks for all the information @rgamage @vincentw56 I can see the issue now. The control checks if the `Value` is null or not to decide if it has a value. As this is not evaluating to `null` because of the initialisation, the control is trying to go into display mode rather than edit mode.

[2019-12-06 15:16] chrissainty commented on #91
@vincentw56 Are your objects are overriding `Equals` or implementing `IEquatable<T>`?

[2019-12-06 15:18] vincentw56 commented on #91
No, it is just a standard initialization like the code above.

[2019-12-06 15:32] chrissainty commented on #91
I don't think this is going to be an easy one to resolve, this is a bit out of my knowledge range so happy to take any advice here. But I don't think I can check complex objects for their default values without you implementing some code on your side. Would this be something you would be willing to do?

[2019-12-06 16:15] chrissainty commented on #86
@NatanBagrov As I've not heard anything I'm going to assume you've resolved your issue. I'm going to close this issue but please feel free to reopen if you're still having a problem.

[2019-12-06 16:15] #86 closed

[2019-12-06 16:16] chrissainty commented on #81
How could we make this go to the next control? Unless anyone has some suggestions on this I'm going to close as a won't fix for now as I'm out of ideas.

[2019-12-06 16:22] rgamage commented on #91
My personal preference with this kind of situation is that the initial value of an object like "SelectedPerson" should be null, as that is an accurate representation of the current state - nothing has been selected.  Our app's code should handle that state gracefully, as it is expected. Setting it to a new Person() implies that the user has chosen an "empty" person with no name, etc. which doesn't

[2019-12-06 16:33] chrissainty commented on #91
I think for now I'm going to leave things as they are. I agree with your comments @rgamage:

[2019-12-06 16:33] vincentw56 commented on #91
Technically it is not a philosophical question. There is a very real possibility of using initialized values. If I add two `<InputText>` controls that are bound to `FormModel.SelectedPerson.FirstName` and `FormModel.SelectedPerson.LastName`, the runtime compiler throws "Object not initialized" errors or something like that. This is because SelectedPerson is null so it cannot find the properties. P

[2019-12-06 16:40] chrissainty commented on #66
@vertonghenb I've tried using the new prevent default directive but no joy at all. It no effect. I put a prevent default on every event and still nothing was blocked.

[2019-12-06 18:08] #81 closed

[2019-12-08 09:43] NatanBagrov commented on #86
@chrissainty You were correct. Sorry for the delay.

[2019-12-09 19:04] ironbull45 opened #95 "Typeahead not working in layout page"
I'm using this control in a Razor pages project & it works fine if I use in any Page, but it doesn't work if I use in the layout page. Here is the code:

[code]

These are the errors I receive:

[code]

Any help would be appreciated.

[2019-12-10 08:56] chrissainty commented on #95
Thanks for reporting this @ironbull45. I'll try and recreate this my end, but I suspect this may be a Blazor bug as there is nothing in the typeahead which should care about this. I've not seen anyone try and render a Blazor component in a layout page before so it's an interesting one.

Leave it with me.

[2019-12-10 12:52] ironbull45 commented on #95
Hold your horses :) I just installed .Net Core 3.1 & everything works as expected! Thanks for looking into this for me.

[2019-12-10 12:52] #95 closed

[2019-12-10 14:10] SteveHindmarsh commented on #73
Hi, I'm also getting  Error: Microsoft.JSInterop.JSException: Could not find 'blazoredTypeahead' in 'window'. when using Blazor Server Side in IE11 with blazor.polyfill.min.js. Your example code does not show that you are using IE11 polyfills. Can you please test with polyfills and show your configuration if successful. Or let me know if it's broken so I can move on. Great code you've got in every

[2019-12-10 19:45] chrissainty commented on #73
@SteveHindmarsh IE11 isn't a supported browser I'm afraid, but the typeahead does only use very simple JS functions so things should work.

The error you're seeing is because the JS file isn't being included or run. Does the app work ok in a modern browser?

[2019-12-11 09:18] SteveHindmarsh commented on #73
Yes it works ok in modern supported browsers. However IE11 is unofficially supported for Blazor Server Side via the use of polyfills and many people like myself, in a corporate environment where IE is essential until we kill all the websites that require it, are making use of these polyfills so we can keep our skills modern whilst dealing with these behemoths. The choice is yours to support us.  T

[2019-12-11 09:28] chrissainty commented on #73
Thanks for checking that out Steve. I'm more than happy to take a PR for IE11 support, but it's not something I have time to add support for. As you can appreciate, I do this in my spare time alongside a full-time job.

[2019-12-14 19:51] erinnmclaughlin commented on #82
If this was just exposed via public getter, private setter -- would there be any potential issues in doing it that way? Seems like it could be a pretty straight forward solution to at least allow the user to write their own formatting method.

[2019-12-15 02:57] vertonghenb commented on #82
Maybe pass the `searchtext` as parameter to the `ResultTemplate`

[2019-12-16 13:18] pmccowat commented on #90
@rgamage Could you try not initialising selectedPart. We ran into the same issue with a child int property — changing to nullable fixed it.
I have forked Chris' code and will try and find the problem

[2019-12-16 15:32] rgamage commented on #90
Yes, I had confirmed in the other thread that this resolved the issue.  If selectedPart is not initialized, all works well.

[2019-12-18 14:39] chrissainty commented on #90
I'm going to close this issue as this is expected behaviour for the current functionality.

[2019-12-18 14:39] #90 closed

[2019-12-18 17:32] julienGrd opened #96 "Add a default value parameter for search text"
Hello chris, and thanks for your work on this project.

I would like to have an option to initialized the search text with a default value, and ideally directly launch the research at the startup (with this default value).

Do you think its possible.

I can suggest a PR if needed.

thank you !

Julien

[2019-12-18 17:54] julienGrd opened #97 "Add a parameter for keep text entered when blur"
Hello chris, It would be good to have an option to keep the text enter valid even if the user click outside
actually, if i write some text and i click outside the result, my text disappear. I would like to keep the text and then when i focus again have the search relaunch with my text.

I can suggest a PR if needed.

thanks again !

Julien

[2019-12-18 18:57] julienGrd opened #98 "add an option to stopPropagation"
Hi Chris, i have a request again

I have a conflict with the OnKeyUp event which is also launch on my side on a parent component (a bootstrap modal actually). I don't know why, but it make the input crazy (the text entered disappear).

I not suceed to reproduce in a simple example, but add the directive @onkeyup:stopPropagation on your input solve all my problems.

It is possible to add a paramete

[2019-12-19 10:11] chrissainty commented on #96
Currently, you can initialise the Typeahead with an initial value, is that what you mean?

[2019-12-19 10:22] chrissainty commented on #97
Hi Julien,

We did have this behaviour but it was changed to clear the search text upon focus. The reason was that leaving old search text which might not match the current selection just looked odd and made search more tedious in certain scenarios. The user would have to clear text before being able to enter a new search phrase for example.

This is a bit of a no-win scenario as some may like ret

[2019-12-19 10:22] #97 closed

[2019-12-19 10:25] chrissainty commented on #98
Hi Julien,

That makes sense, more than happy to take a PR to sort this. I assume it's the `@onkeyup` event on the `input` controls?

[2019-12-19 16:30] julienGrd commented on #96
Yes but it's an initial value of type TItem no ? what i want is to initialise the text written by the user (without selected a value, for example just initialise the input with a "r" and launch the search method directly).

But if its so big deal don't worry, i have to change the behavior of your component directly so i will use them as a branch and make my updates only for me.

[2019-12-19 16:46] chrissainty commented on #96
I never said it was a big deal, I was just understanding what you were asking for.

I'm not sure if there would be a wide enough use case for this function to warrant putting it in. But if you're forking the code anyway then you can make whatever changes you wish.

[2019-12-19 16:49] julienGrd commented on #98
yes it's what i was thinking. But maybe let user drive it with a parameter of your component ?

somethink like that, with StopPropagation a parameter initialize to false
[code]
what do you think ?

[2019-12-19 16:50] chrissainty commented on #98
I think that's a good idea, that way if consumers do want to have the event propagate up then they can have that control.

[2019-12-19 17:22] julienGrd commented on #97
Yeah i understand, i will fork your project to make this kind of modification, so if one day you want reintegrate this i will can make a PR

[2019-12-19 17:23] julienGrd commented on #98
ok i will make the PR on this way

[2019-12-23 18:31] ironbull45 opened #100 "After a value is selected the Typeahead doesn't work a second time"
I have put the component on my layout page:

`<component type="typeof(razorComponents.AutoComplete)"  render-mode="ServerPrerendered" />`

When a value is selected it works fine. The value is captured & one is redirected to a new page:

`_navigationManager.NavigateTo($"account/{accountId}",true);`

Once on the new Account page, you can type in the Autocomplete component again, but no event fires.

[2019-12-24 11:01] chrissainty commented on #100
Hi @ironbull45, I'd be happy to help, could you provide me with a repro of the issue? The two lines above aren't much to go on :)

[2019-12-24 11:38] ironbull45 commented on #100
Thanks Chris.

I found the issue, but I still don't know how to fix it.

I select the value from the Typeahead & navigate to a new page using a force refresh. The page loads, but the Typeahead doesn't work:

[code]

If I don't force the refresh

`_navigationManager.NavigateTo($"account/{accountId}");`

the Typeahead still works, but the account page doesn't load.

[2019-12-24 12:05] chrissainty commented on #100
Again, could you provide some more code as it’s really hard to diagnose
this type of issue without a working example. There is nothing obvious from
what’s you’ve mentioned.

On Tue, 24 Dec 2019 at 11:38, ironbull45 <notifications@github.com> wrote:

[2019-12-24 12:11] ironbull45 commented on #100
Sorry.

[code]

I do notice when I do the force refresh I'm losing the styling on the Typeahead but I looked in Chrome & the reference to 	<link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" /> is still there.

If this helps further, this is a Razor pages application, but I wanted to use your Blazor component.

[2019-12-24 12:16] ironbull45 commented on #100
This is the layout page where the Typeahead is being called:

[code]

[2019-12-24 13:02] chrissainty commented on #100
Do you have any errors appearing in the browser console? Also, have you got detailed errors turned on in your startup class?

[code]

[2019-12-24 13:12] ironbull45 commented on #100
I will check, but I've narrowed down the problem further. If I redirect with a force refresh to a page that doesn't have any parameters:

`_navigationManager.NavigateTo($"test",true);`

the Typeahead still works. If I change the Page to accept routing parameters, the Typeahead stops working:

`@page "{accountId?}"`

[2019-12-24 13:54] ironbull45 commented on #100
Bingo. Once I add a routing parameter, I see the following reference errors:

![libraries_not_found](https://user-images.githubusercontent.com/1727015/71415709-09e9fc00-262b-11ea-95bb-a8e26661ce71.PNG)

[2019-12-24 14:12] vertonghenb commented on #100
Looks to me that you didn't include the .js and .css files in the _host.cshtml page.
Check the readme in this repo to see how to add them.

[2019-12-24 14:20] ironbull45 commented on #100
haha. no. This is a Razor application. I'm trying to use this blazor component in my app. I added the references to _layout.cshtml. Remember, it works fine initially. The Typeahead also works if I'm redirecting to a page without a routing parameter. It just doesn't work when I'm redirecting to a page with a routing parameter.

[2019-12-24 15:43] ironbull45 commented on #100
So I put the _framework & _content links into local sources as follows:

[code]

And now I get the following errors:
![more_blazor_messages](https://user-images.githubusercontent.com/1727015/71418751-28a3bf00-263a-11ea-8ba5-918865e299c3.PNG)

Looks like more references issues, I don't know how to fix at this point.

[2019-12-28 16:37] chrissainty commented on #100
@ironbull45 I've just had a thought, could you update your code to add a `/` to the following elements.

[code]

[2019-12-28 18:00] ironbull45 commented on #100
I moved your suggestions into the layout page & have the same result. What really gets me, though, is how this works fine as long as there are no routing parameters. With the routing parameter, I still get:

![libraries_not_found_2](https://user-images.githubusercontent.com/1727015/71547738-07acd800-2972-11ea-9d07-ce0b827faf63.PNG)

[2019-12-28 18:06] chrissainty commented on #100
![image](https://user-images.githubusercontent.com/6171719/71547792-8dde1400-299c-11ea-9af7-f5d16b457f40.png)

I think the issue is in the highlighted sections, notice the path, `/test/_blazor/...` I don't think the `test` should be there. Have you got a base tag in your layout page?

[2019-12-28 20:48] jspinella opened #101 "Example code suggestion"
In the usage example in Readme.md, ToLower() is being used when comparing Films with the searchQuery:

`return await Task.FromResult(Films.Where(x => x.Title.ToLower().Contains(searchText.ToLower())).ToList());`

Why not instead use:

`return await Task.FromResult(Films.Where(x => x.Contains(searchText, StringComparison.OrdinalIgnoreCase)).ToList());`

[2019-12-29 02:54] ironbull45 commented on #100
Dude, I could kiss you. I'm new to .NET Core Razor. What is the base tag doing?

How can I show my gratitude for the time you spent resolving this?

[2019-12-29 13:10] chrissainty commented on #100
Your thanks to more than enough, I'm just glad we got to the bottom of it 😄!

[2019-12-29 13:21] chrissainty commented on #101
Hi James,

That code is just a simple example and not a lot of thought went into it. The focus of that code is to show how to use the component, nothing more.

[2019-12-29 13:21] #101 closed

[2019-12-29 13:22] #98 closed

[2019-12-29 13:25] #100 closed

[2019-12-29 16:50] jspinella commented on #101
All good man, thanks for creating an awesome typeahead!

[2020-01-03 01:44] vertonghenb commented on #82
@chucker, @erinnmclaughlin
Any of you created a some production code for this, we might want to add it into the docs so we can close this issue.

[2020-01-03 11:30] vertonghenb commented on #96
Personally I would advice against it because you're mutating the internal state of the component which wasn't our intend. Since it's being forked, I'm closing this one for now until we get more demand for this.

[2020-01-03 11:30] #96 closed

[2020-01-03 11:32] vertonghenb commented on #66
@chrissainty Hehe, I tried the exact same thing but no luck, well it worked in the standalone example. But the validation while using it in a form messes things up.

[2020-01-03 11:33] vertonghenb commented on #55
This is going to be blocked by #66

[2020-01-06 05:13] rburnashev85 opened #103 "Can i manually contol the input value?"
I need the standard behavior of the main search bar on many sites.

1) If there are some suggesstions, then we give them to the user, if not, then ok, we simply let the user to search by this text.

2) I need to manually fill the input value with some text.

3) I also need to intercept Enter

[2020-01-06 08:02] chrissainty commented on #103
Hi, I'm sorry I'm not quite clear on your issue/request? Could you clarify your problem or your request, please?

[2020-01-06 10:49] rburnashev85 commented on #103
Sorry for my English. I try to explain my issue again ) Simple example. https://www.google.com/

I can enter text there without selecting any particular suggestion. And at any time I can stop typing and click on search icon or just press Enter to start the search. Unfortunatelly, I can't achieve the same behavior from your control. I found 3 problems:

1) I can't initialize input with some value.

[2020-01-06 13:28] chrissainty commented on #103
Thank you for clarifying, I appreciate it's hard writing in another language, I wish I could! Let me answer your questions.

1. It is possible to initialise the control with a preselected value, you can find an example in the sample projects

2. This is by design, the control does not support entering arbitrary text. We're looking at adding that functionality here, #55.

3. This is by design, we u

[2020-01-06 15:01] rburnashev85 commented on #103
3. I want the user to be able to type arbitrary text and then press the enter button to start search. Like on google.

I hope the functionality will appear in the control. Anyway good job! The control is very useful and easy to embed. And you share your source code, so I am able to customize it to my needs by myself )

[2020-01-06 16:16] chrissainty commented on #103
This is what happens by default with the control. The user types in their search text and press enter, then control then calls your search method passing it the text the user has entered.

[2020-01-07 11:06] rburnashev85 commented on #103
This is exactly what I need. However, user should be able to click special search button by mouse. In this case I somehow need to read the value of the input.

[2020-01-07 14:03] chrissainty commented on #103
We could potentially look at adding an optional search button. Tagging @vertonghenb for his opinion.

[2020-01-08 07:59] ABCDCoding opened #104 "Bind Value in Blazored Typeahead for Dynamic URL (URL with parameters)"
Different URL for Add and Edit.
In edit mode, blazored type ahead control itself is not loading properly.I need to bind the value in blazored type ahead from the http response. If i am binding the value control is not loading properly only in edit mode. In add mode it is working perfectly. please help !

Add Mode :
![image](https://user-images.githubusercontent.com/59641761/71960942-3ea9a600-321c-

[2020-01-09 05:32] #104 closed

[2020-01-09 06:28] Justincale commented on #55
Hi Guys,

I think, if i have read this correctly, that i may have a solution for very simple entities (in this case a Category has only Id and Name fields). I have a typeahead component that allows the user to search for categories as such:

            <BlazoredTypeahead SearchMethod="SearchCategories" EnableDropDown="true" placeholder="Select Category"
                               @bind-Value=

[2020-01-09 07:10] vertonghenb commented on #55
@Justincale pretty sweet solution!

[2020-01-09 13:09] ironbull45 opened #105 "Typeahead result mixing with text on the page"
I'm using Blazored Typeahead in the MainLayout.razor so it appears globally at the top of the page.

Whenever I have a long result the text from the result collides with the text on my page. I've tried lowering the Z-index on the page components. Sometimes this has worked, sometimes it doesn't. When the collision occurs, it presents a jumbled looking result & also prevents selection.

Is there a g

[2020-01-09 13:56] chrissainty commented on #105
Could you provide a screenshot of what this looks like? I'm having trouble visualising it :)

[2020-01-09 14:05] vertonghenb commented on #103
@chrissainty I wouldn't to be honest for the following reason.
A quote from wikipedia (it might not be the best reference but I can live with it).

Typeahead is a feature of computers and software (and some typewriters) that enables users to **continue typing** regardless of program or computer operation—the user may **type** in whatever speed is desired, and if the receiving software is busy at t

[2020-01-09 14:13] vertonghenb commented on #103
For others reading this post and trying to find an answer on the original question

- The searchtext is not meant to be controlled and therefore you cannot control the input value.
- You can set the initial selected value by specifying the following parameters
  - `[Parameter] public TValue Value { get; set; }` - Singleselect
  - `[Parameter] public IList<TValue> Values { get; set; }` - Multiselec

[2020-01-09 14:14] #103 closed

[2020-01-09 14:27] ironbull45 commented on #105
unfortunately, the data is sensitive. Let me see if I can come up with test data.

[2020-01-09 14:32] vertonghenb commented on #91
To address the original question

If the control has a selected value or selected values (in multiselect), we chose to not be able to start typing directly when the control has focus since it could lead to a poor user experience:
Image you have an EditForm with multiple inputs in it (e.g. Text, Numbers, ... a Typeahead) and the order is as follows:
- Name (text)
- Country (typeahead)
- Age

As a u

[2020-01-09 14:33] ironbull45 commented on #105
I thought of a way to obscure the data.

So here is the first photo that show the page without values:

![screen_without_values](https://user-images.githubusercontent.com/1727015/72076111-09a45e80-32c3-11ea-9591-96ed452c05a2.png)

Then, the results from a Typeahead which shows the results jumbled with the labels on the page:

![autocomplete_overlapping_text](https://user-images.githubusercontent.c

[2020-01-09 14:52] chrissainty commented on #105
Thanks for the screenshots, made things much easier.

Do you have any special styling on your labels? Have you tried adjusting their z-index, just to see what happens?

[2020-01-09 16:12] vertonghenb commented on #91
Back to the original question:

PR #106 should fix this:
![Example](https://i.imgur.com/aKvbBIp.gif)

[2020-01-09 18:18] ironbull45 commented on #105
I drove myself crazy with z-index on different divs. I found this on the Telerik site even though I'm not using a Telerik control for this issue:

https://docs.telerik.com/blazor-ui/troubleshooting/general-issues

I ended up putting my div in a bootstrap Card & set the z-index to a negative number & that worked. I'll isolate the issue when I have more time. Thanks!

[2020-01-09 18:18] #105 closed

[2020-01-10 16:30] #91 closed

[2020-01-12 16:54] vertonghenb opened #108 "Clean-up Mask for single select"
Just an issue to open a discussion about this behavior.

I'm wondering why we are using a mask after an item is selected for the single select auto complete. I don't think it's really needed, just like in the multiselect we can still show the input search element at all times.

-- Update:
I think I know why we can't use the `input` to show the content... We're giving the `SelectedTemplate` to the

[2020-01-12 17:23] #108 closed

[2020-01-13 15:02] vertonghenb commented on #54
I'd go with a wiki, makes it a bit easier, I'll see what I can do later this week.

[2020-01-13 16:59] MadTiger2409 commented on #54
* Link to working example
* Version changes or at least history of breaking changes
* Maybe examples with different types of binding an/or design patterns (this is what I am always complaining about with MS docs for UWP controls)

[2020-01-22 21:24] kirk-mcneil opened #109 "Do you have manual Install instructions?"
Hi,
This looks like a great addition to Blazor and I'd like to try it in our projects but can't get it to install on our core 3.1 MVC project. I'm using Blazor components and have them working in other areas but the TypeAhead install is failing (I'm guessing) because this is a hybrid project.

Would you please supply some manual instructions?
Thanks!
Kirk

[2020-01-24 08:52] chrissainty commented on #109
Could you provide some information about what isn't working? Errors, etc... I believe others are using the typeahead in hybrid solutions so we should be able to get things going for you.

[2020-01-24 13:10] kirk-mcneil commented on #109
Hi Chris, Thanks for your quick response! My initial assessment was written while I was frustrated about my ignorance since Blazor is so new to me.

I had installed the nuget and tried to implement a custom component. There were no errors on the install. The input was put on the screen but nothing happened when I typed. I put a breakpoint in the code and it wasn't getting called. I looked through

[2020-01-24 13:13] vertonghenb commented on #109
It could be that your searchmethod is never called. To investigate the issue, please provide us with a small repo which reproduces this behavior. Currently it's impossible to troubleshoot.

Thanks!

[2020-01-24 13:22] chrissainty commented on #109
I would second what @vertonghenb has suggested. The only other thing I can think of is have you included the JavaScript files for Blazor in your application? Not just the ones for this Typeahead.

[2020-01-24 14:11] kirk-mcneil commented on #109
Good morning and thanks again for your quick responses.
@vertonghenb I created a new solution with bare bones and was able to reproduce what I'm seeing in my project. Where do I send/upload it to?

@chrissainty Yes, I did put the Blazor js file in the _Layout. I followed, as best I could, the instructions I found on this page: https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view

[2020-01-24 14:49] kirk-mcneil commented on #109
I signed up for a hosting service. Here's a link to the solution:

https://mega.nz/#!FBdTma4b!cPYwaXZBTCtX7A2f7jjWY_lZrKPdwu-PEF9WcQHytlg

[2020-01-27 19:15] kirk-mcneil commented on #109
Were you able to open the solution and see the problem I'm facing?

[2020-01-27 19:55] vertonghenb commented on #109
@kirk-mcneil Not to be annoying or anything but I'd rather not download/open a mega file. Please provide a public repository hosted on GitHub with a reproduction of the issue you're facing.

[2020-01-28 12:39] kirk-mcneil commented on #109
I didn't know I could do that. Can you see this?
https://github.com/kirk-mcneil/testFiles

[2020-01-28 14:01] vertonghenb commented on #109
@kirk-mcneil
Found the issue but it has nothing to do with the typeahead component.
Please check your _Layout.cshtml in the Views\Shared folder.
Adjust the following:
-  **Move** Line 13 : `<script src="_framework/blazor.server.js"></script>` to the end of the html  `</body>` element.

It's best practise to always add .js or script files at the end of the `<body>` element or use the `defer` or `as

[2020-01-28 14:01] #109 closed

[2020-01-28 14:06] kirk-mcneil commented on #109
Fantastic! Thanks @vertonghenb Sorry to take up your time on something so simple.

[2020-02-04 08:55] adopilot opened #111 "Template for MinimumLength condition and SerchingEvent"
First at all thank you on such great control.
In js world I am fun of select2, I think that select2 was needed 4 years to get degree of development where is Typeahed now.

It will be great if we could return user message that need to type more chars before control trigger searching.
![image](https://user-images.githubusercontent.com/4448913/73728753-2c942800-4734-11ea-9a04-b70af004d7d0.png)
___

A

[2020-02-09 19:29] adopilot commented on #75
Apologies for bumping post,
But How we can subscribe to `ValuesChanged` ?
Is this even possible if we using `@bind-Values`

[2020-02-10 01:53] vertonghenb commented on #75
@adopilot
No problem!
If you're using `bind-...` it actually means you're not interested in handling anything yourself, the control does everything for you. If you provide the 2 parameters ValueChanged and Value then you can do anything you'd want because you're in control of the value and the changehandler.

[2020-02-10 01:57] vertonghenb commented on #111
Agreed, this would be a huge UX improvement.

Quick todo:
- [ ] Add Parameter, any suggestions for the name?
- [ ] on each debounce trigger to show the text.
- [ ] Do we show the text initially?

Feedback would be nice!

[2020-02-10 02:44] calebhughes commented on #111
Parameter name could be something like: HelpTemplate or HelperTemplate.

I think the text should only show after the first debounce of input if they don't hit the required length personally. This way users don't see a text they may never need because they are going to enter a valid search the first try.

[2020-02-10 10:40] adopilot commented on #75
@vertonghenb sory once  again,
I am unable to subscribe to ValuesChanged
Whatever I do I get error

`Argument 2: cannot convert from 'method group' to 'EventCallback'`

Here is sample page I am trying to capture ValuesChanged event.
What I am doing wrong ?

[code]

[2020-02-10 13:05] calebhughes commented on #75
Have you tried specifying your value type using the TValue parameter on the Typeahead? Specifying that worked for me, and maybe the TItem type as well.

[2020-02-10 13:36] adopilot commented on #75
I did try but, unfortunately I do not know how set TItem what that should be typeof(Person) or something else, also TValue won't accept anything to allow me to compile my code.

[2020-02-13 15:40] garethjwelsh opened #112 "Update Description to make clear incompatibility with IE11"
Hi,
Think the documentation and description of this very good product should make clear that it is incompatible with IE11.
Many developers will probably be working in companies who will still be supporting IE11, and it would save a lot of stress for them to highlight that this can't be used with that browser.

[2020-02-13 15:57] calebhughes commented on #112
#54

[2020-02-13 16:21] chrissainty commented on #112
Thanks for raising this @garethjwelsh. As this control only works with Blazor and there is a clear definition of the browsers Blazor supports on the official Blazor site, do you think there is a need to restate all of that? Or do you think it would be enough to just add something along the lines of this control only works with Blazor supported browsers?

[2020-02-13 16:28] garethjwelsh commented on #112
Hi,
The Blazor site suggests that ie11 is supported using server-side Blazor and some extra polyfills. I tested with the latest polyfill.js from Microsoft and latest nuget package and the component did not work.
I think there is still the expectation that Blazor would work in ie11 and the incompatibility should probably be highlighted.

https://docs.microsoft.com/en-us/aspnet/core/blazor/supported

[2020-02-13 16:36] chrissainty commented on #112
That's interesting feedback, I'll raise that with the Blazor team as that's not the general perception I've encountered, usually, it's the other way round, people think Blazor only works with the latest and greatest.

Could you tell me when you performed your test, did Blazor work and this component didn't? Or did nothing work?

[2020-02-13 17:18] garethjwelsh commented on #112
Hi,
Application was Core 3.1 Server Side Blazor. Quite a simple application but integrated with authentication and Api backend. The application runs fine as a Blazor App and is currently being tested predominantly in IE11 and is running fine. Attempted to add this component to it and it did not work and disconnected the Blazor app from the server.

Ideally I would happily forget about ie11 and jus

[2020-02-13 18:39] chrissainty commented on #112
That's great, thanks for the info @garethjwelsh. I'll look into this as I would expect the component to work. I don't suppose you have any errors or traces?

[2020-02-13 18:51] calebhughes commented on #112
I encounter an error in IE 11 using polyfills as well.

`[2020-02-13T18:44:29.634Z] Error: Microsoft.JSInterop.JSException: Could not find 'blazoredTypeahead' in 'window'.
Error: Could not find 'blazoredTypeahead' in 'window'.
   at Anonymous function (http://localhost:9924/_framework/blazor.server.js:8:30742)
   at p (http://localhost:9924/_framework/blazor.server.js:8:30693)
   at Anonymous func

[2020-02-15 11:37] chrissainty commented on #112
I would love to sort this and get it working wherever Blazor works. Perhaps the answer is to switch to TypeScript instead of vanilla JS so it can be compiled to a version of JS which is friendlier to older browsers. However, the trade-off is this makes the toolchain heavier for the project, but maybe it's the right thing to do.

[2020-02-17 02:33] vertonghenb commented on #112
@chrissainty
If I'm not mistaken we're only using the `.Focus` and something something `Blur` in the JS part. So there will be some workarounds for this.

[2020-02-17 09:21] garethjwelsh commented on #112
I also had a little play about with the javascript file, and arrived at the same code as above. So far it is working as expected, but in fairness I have not tested all the features available, will continue to do so and feedback.

[2020-02-17 15:35] chrissainty commented on #112
@vertonghenb @garethjwelsh If the above solves the problem then I'm happy to go with that as the solution.

[2020-02-20 20:03] kirk-mcneil opened #113 "Giving the component a name/id"
Hi Chris and Blazored team,
I'm using the Typeahead component in a dynamic form, created from database entries. Would you please help me understand how I can get the name/id field from the database to the model through the component?

In the below code you can see I'm constructing an input for the default and using the @param from the foreach to identify the control that sent the data. What's the

[2020-02-21 17:44] sven-n opened #114 "BlazoredTypeahead.Values requires a IList<T>"
For my use case, it would be great to just require a ```ICollection<T>```. In my business models and EF Core classes, I just use ```IList<T>```, when a explicit order is required. Other than that (most cases) I use ```ICollection<T>```.

I found no reason why it shouldn't work just with ```ICollection<T>```. Do you see any reason which would prevent a change? If not, I'd like to create a pull requ

[2020-02-21 17:45] sven-n opened #115 "JSException after clicking on a link inside SelectedTemplate"
How to reproduce:
1. Create a blazor server-side project with the template in VS 2019 16.4(+)
2. Setup BlazoredTypeahead, like described in your documentation.
3. Add a razor page under "Pages", e.g. "Issue.razor" with the following content:
[code]

4. Edit NavMenu.razor, add a new entry:
[code]

5. Start the app, go to the page "Test issue"
6. Select an item
7. Click on the link which was generat

[2020-02-22 18:19] chrissainty commented on #115
Hi @sven-n, thanks for raising this. The SelectedTemplate isn’t designed to have links inside it. The SelectedTemplate is designed be allow you to format look of the selected item.

I suspect you’re correct that that the actual exception is being caused by us swapping out elements but I don’t see us supporting this use case.

@vertonghenb do you have an opinion on this?

[2020-02-22 18:29] sven-n commented on #115
Thanks for your response. I understand it’s a special use case, but the fix seems to be easy. It requires just an additional null-check at the client side javascript code, isn’t it?

[2020-02-22 18:43] sven-n commented on #115
I checked the code and it seems it was fixed already, 1 month ago: https://github.com/Blazored/Typeahead/commit/c7805d5979929bde4750b2df4806e0c54b69331f

[2020-02-22 22:07] sven-n commented on #73
To make it work for all environments, call ```UseStaticWebAssets()``` on the ```IWebHostBuilder``` when you set up your ```IHost```, e.g. in your Program.cs.

Example:
[code]

[2020-02-23 12:39] vertonghenb commented on #115
Yup that's the fix which will solve this issue.

[2020-02-23 17:52] chrissainty commented on #115
@sven-n Well, that's handy! :) We'll get this shipped soon.

[2020-02-26 14:32] Kurti123 commented on #75
Currently have the same problem. Any solution yet adopilot?

[2020-02-26 14:41] calebhughes commented on #75
@adopilot Try specifying your TValue and TItem as:

`<BlazoredTypeahead SearchMethod="GetPeopleLocal"
                   Values="SelectedPeople"
                   EnableDropDown="true"
                   ValuesChanged="PersonChanged"
                   TItem="Person"
                   TValue="Person"

    <SelectedTemplate Context="person">
        @person.Firstname
    </SelectedTemplate>
    <

[2020-02-26 14:42] adopilot commented on #75
@Kurti123 nope, but I am glad that I am not only one facing issue, I thought that my lack of C# knowledge is issue here

[2020-02-26 14:45] Kurti123 commented on #75
This is what I am trying to do.

[code]

SelectedADUser is of type ActiveDirectoryUser

[2020-02-26 14:48] calebhughes commented on #75
The use of TValue is to specify the type of the value in your typeahead. You should use the Value parameter to specify a property being bound. Then your TValue would be ActiveDirectoryUser.

[2020-02-26 15:55] Kurti123 commented on #75
That specific configuration gives me the following error:

 <BlazoredTypeahead   SearchMethod="SearchUser"
                                       ValueChanged="UpdateCompanyByShort"
                                       TItem="ActiveDirectoryUser"
                                       TValue="SelectedADUser">

The type of namespace name 'SelectedADUser' could not be found (are you missing...)

[2020-02-26 16:04] calebhughes commented on #75
@Kurti123 It doesn't look like you changed anything. The code from my comment was just your code as a quote.

What it seems like you need is

[code]

This is if your selected value is the same as the item your search method is using. If it's not you will have to provide a method to convert them and assign it to the ConvertMethod parameter on the component. It's hard to say more without seeing the

[2020-02-27 08:53] adopilot opened #116 "Keyboard scoring hide current row"
When control return more rows that drop and  down list can display,
If user use keyboard to to navigate suggested rows, he can hide selected row.
Searching for row with keyboard navigation keys does not move scols in dop and down list

![DropNDownScols](https://user-images.githubusercontent.com/4448913/75427531-f454c380-5946-11ea-92fe-cf1d0721a90d.gif)

[2020-02-27 21:08] sven-n commented on #114
I have to admit, it's not as easy as replacing ```IList<T>``` with ```ICollection<T>```. Ofc, the component would work, but the consuming code might not compile after the change, because of a changed ```ValuesChanged``` return type - it would be a breaking change.

[2020-02-28 15:02] chrissainty commented on #116
Hi @adopilot, this is a known issue and thanks for raising it so we have a place to track it going forward.

[2020-02-29 16:22] chrissainty commented on #114
Hi @sven-n, sorry for the long reply I've been busy with some talks.

Thanks for the suggestion but due to the breaking change I don't think it's something I'd want to do. The change just doesn't have enough value, in my opinion, to warrant the disruption it would cause.

[2020-02-29 16:22] #114 closed

[2020-03-03 21:02] uwerichter opened #117 "How to get rid of the "clear" Symbol ... "x" on the right site of the input field."
Hi folks,

i can't find how to switch/disable the little "x" that should clear the input list.

Or otherwise what function is to be calles if the user click on the clear "x" Symbol.

[2020-03-04 08:45] chrissainty commented on #117
Hi @uwerichter, I don't think we give that option as you wouldn't be able to clear the seleted value in the dropdown.

[2020-03-05 03:10] trademark18 commented on #115
Looks like c7805d5 is just what I need too!

[2020-03-05 09:29] chrissainty commented on #115
Thanks for letting us know @trademark18. I'm working on a big update to Blazored Modal that I'm trying to get out this week. Once that is done I'll get back over to Typeahead and look to ship a new version.

[2020-03-06 08:35] chrissainty commented on #117
As there hasn't been any further communication I'm going to close this issue. Please reopen if you want to discuss this again.

[2020-03-06 08:35] #117 closed

[2020-03-06 08:45] chrissainty commented on #113
Hi Kirk, apologies for the delay, I missed your issue being raised.

I've looked at your code but I'm not sure what you're trying to do and where the problem with the control is. Could you give bit more detail?

[2020-03-06 09:17] chrissainty commented on #115
@sven-n @trademark18

I'm been working on the fix for this issue this morning, but when I run the sample app in IE11 nothing works for me at all. But I'm also not seeing any errors in the console. I've added [Daddoons Blazor polyfill library](https://github.com/Daddoon/Blazor.Polyfill) as per the instructions in the readme with no joy.

Do you have an example somewhere I could look at that runs?

[2020-03-06 09:50] chrissainty commented on #112
## Update
I've been working on fixing this issue this morning. I've got everything working with the changes suggested by @vertonghenb.

However, there are a couple of new issues which have appeared. It seems the keyup/keydown events for moving through the suggestion list don't function on IE11. As well as clicking on the dropdown arrow to the right of the typeahead, the suggestin list doesn't open

[2020-03-06 10:02] #112 closed

[2020-03-06 10:04] #115 closed

[2020-03-06 10:49] #111 closed

[2020-03-06 11:00] chrissainty commented on #55
Just doing some housekeeping and it seems like @Justincale solution works without needing any modification our end. Based on that, I'm going to close this issue as there is a workable solution.

Anyone please feel free to reopen if further discussion is needed.

[2020-03-06 11:08] chrissainty commented on #66
I'm doing some housekeeping. Looking back at this issue now it seems like we need to take some more aggressive steps to keep the suggestion list open after clicking on a header or footer link.

Personally, I'm not sure it's something we should look to do right now. As I mentioned before I think this would involve a lot more JS and I'm not sure of the demand for this feature. Based on all this I'm

[2020-03-06 11:08] #66 closed

[2020-03-06 12:32] kirk-mcneil commented on #113
Hi Chris,
I'm all set :)
I was able to accomplish my task by putting in a hidden input and binding the value to the selected object with the param name.
Thanks for getting back to me.
Kirk

[2020-03-06 12:33] #113 closed

[2020-03-06 14:14] chrissainty commented on #116
Just to add a bit more info here. The reason the list doesn't scroll with the with the selected item is that the appearance of moving up and down the suggestion list is an illusion.

In order to make this work I think we may need to rethink how we do the suggestion list. Which might not be the worst thing as it is causing a few issues now.

[2020-03-06 14:40] chrissainty commented on #82
Its great there is a manual way round this for people based on @vertonghenb [comment](https://github.com/Blazored/Typeahead/issues/82#issuecomment-565772496). But it would be great to get this working automatically with the control, somehow.

[2020-03-06 14:43] chrissainty commented on #54
I'm going to close this issue as the docs improvement are part of a wider issue covering all Blazored packages. The main tracker for this is https://github.com/Blazored/Home/issues/1

[2020-03-06 14:43] #54 closed

[2020-03-06 15:27] chrissainty opened #120 "Investigation: Redesign how the suggestion list works"
# Motivation
We have seen a few issues now which have been raised that are a result of how the suggestion list works. #116 and #66 are examples of this there are others as well.

# Plan
1. Investigate if there are other options for how the suggestion list could work.
2. Make a decision based on the findings of the investigation
3. Implement

It would be great to get others feedback on this, do oth

[2020-03-10 14:34] dolare1 opened #121 "Can we use a delegate for SearchMethod?"
Hello, we are trying to develop a reusable typeahead control that can be extended. I was wondering if it is possible to use a delegate instead of an actual method for SearchMethod attribute?

Any pointers?

[2020-03-10 19:14] chrissainty commented on #121
Hi @dolare1, is this related to this control? What about the current search method approach doesn't work for you?

[2020-03-10 22:19] dolare1 commented on #121
We are using blazored typeahead control. We use it in various locations in our project to retrieve projects, employees, resources etc. Instead of writing the razor code in every location we thought it would be helpful if we could implement a reusable component and then just pass the necessary attributes as "parameters".

this is where it would be helpful to pass a delegate to "SearchMethod" attrib

[2020-03-11 15:22] chrissainty commented on #121
The `SearchMethod` parameter is a func delegate, so you can pass in whatever method you wish as long as it accepts a string and returns an `IEnumerable<T>`. If you want to wrap this component inside another (I think that's what you're doing, apologies if I've misunderstood) then have you component acces a paramter with the same signature and that can be passed in by whatever is using your componen

[2020-03-21 19:19] gaffkins opened #122 "[Bug] element.focus is not a function"
After select result I got many errors
"Microsoft.JSInterop.JSException: element.focus is not a function"
After that component stop working.

Blazor Server side.

`<BlazoredTypeahead TItem="string" TValue="string" Value="SelectedFilm" ValueExpression="@(() => SelectedFilm)"  ValueChanged="@(e => Console.WriteLine(e))" placeholder="Search..." Debounce="1000" SearchMethod="SearchFilms">
    <Selected

[2020-03-22 21:26] vertonghenb commented on #82
The issue is that we do not have control over the templates provided by the client. Unless we take control over the templates but that means clients will lose flexibility. The only thing we can do is :
- Provide some static helpers like the ones used in the comments.
- Advise the clients to use an adapter/composition pattern where they wrap the `Typeahead` component with their custom one and then

[2020-03-22 21:33] vertonghenb commented on #120
You could fallback to a `<select>` element but then we cannot use customized templates in the suggestionlist e.g. `<div>` elements.

Another option is to take control of the scrollbar of the container.
- Get the height of each element.
- Get the max height of the container.
- calculate the scrolling behavior.
But I guess we'll need some JS for this...

The last idea is that we could make all sugge

[2020-03-22 21:47] vertonghenb commented on #122
@gaffkins Which version are you using? We had an issue with the same problem but that seemed to be fixed. Try to use the latest version and see if the issue still persists.

[2020-03-24 08:03] digitalsigi opened #123 "[Feature Request]"
First of all: Thank you for this great component. It saved me a lot of work!
I am not so experienced with CSS and SCSS but can survive. So I ran into a situation where I need help.

**Is your feature request related to a problem? Please describe.**
I am using the AdminLTE Styling template for a Blazored Application with many pages and of course
blazored.typeahead. The Problem is, typehead styling

[2020-03-25 15:50] adopilot opened #124 "[Feature Request] Sample for subscribing on ValueChanged and ValuesChanged events"
Can we get sample code how to subscribe on event ValueChanged when is control in single select mode and sample of subscribing of event ValuesChanged  when contol is bind to list.
We did discus abut these events on https://github.com/Blazored/Typeahead/issues/75  but unfortunately I can't write my code to handle change event in code behind.

[2020-03-25 16:16] chrissainty commented on #123
Hey Josef,

I'm not sure this is something we can do. We need specific CSS to make the control work correctly if that is missing or is altered in the wrong way then the control will break. Also, the control isn't really what it appears to be. When you're not focused into it it's just some `div`s styled to look like a control.

If you have an idea of how this could work universally for anyone and w

[2020-03-25 16:31] digitalsigi commented on #123
Hi Chris,
you are right, I discovered that already when playing with it.
Currently I did nothing more than adding the two mentioned classes to exactly this line shown above.

I did not find the time to dig further into that, but its seems not an easy one.

[2020-03-25 16:36] chrissainty commented on #124
We can certainly get an example added to the docs @adopilot.

[2020-03-25 16:39] chrissainty commented on #123
I'll have a think and see if something comes to mind, but I'm not hopeful right now.

CC'ing @vertonghenb just in case he has any thoughts/ideas.

[2020-03-26 12:59] magahl opened #125 "[Feature] Improve the keyboard experience around deselecting options in multi-select mode"
https://github.com/Blazored/Typeahead/blob/1ab77d11cd7049efae3576d0fe229ac41ebe294d/src/Blazored.Typeahead/BlazoredTypeahead.razor.cs#L366

As the title says, am I missings something or why is this done? Should it not just skip the add part? Or perhaps replace it at at the very least.

If there is a good reason for this, just close this issue.

[2020-03-26 15:02] chrissainty commented on #125
Hey @magahl, good question and I appreciate it looks odd 🙂. The reason is so if someone is just using a keyboard and they select an item by mistake, they can use the keyboard to remove it by selecting it again.

[2020-03-27 09:23] magahl commented on #125
Aight. Then I understand. A better soultion might be to navigate with backspace to delete the latest. and arrow to navigate and select an earlier value. Much like this gif where i only use the keyboard.

![KeyboardDelete](https://user-images.githubusercontent.com/1409979/77741192-c67da000-7014-11ea-8c4a-8fac40b23113.gif)

I understand that there is alot of work to implement this and i don't expect

[2020-03-27 09:52] chrissainty commented on #125
@magahl Yes, I agree that would be a nice improvement on the current functionality. I'd be happy to take a PR to improve it if you're interested? 🙂

[2020-03-27 09:55] magahl commented on #125
Yes I am defintly interested. Right now I don't have time though. But i keep it in mind if I run into some extra time in the foreseeable future :)

[2020-03-27 09:58] chrissainty commented on #125
Cool, I'll leave this issue open and tag it as a feature.

I would ask though if you realise you can't get to it for the foreseeable future, if you could just drop a comment so we know whats going on. Is that ok?

[2020-03-27 10:00] magahl commented on #125
Yes, o fcourse. No problem :)

[2020-03-30 17:17] kirk-mcneil opened #126 "Don't blank out the text written by the user"
Hi Chris and Blazored community,
I hope everyone is doing well in this odd time.

My user's are searching for an agency name, and if it doesn't exist, they want to create that agency name starting with what they just typed. In order to give them this functionality, I return a new object list with 1 object that has the search text and they have to select that description to get their own text back.

[2020-03-30 19:03] vertonghenb commented on #126
I'm not sure but I think this is what you're after:
https://github.com/Blazored/Typeahead/issues/55

[2020-03-30 19:05] vertonghenb commented on #55
This baby should be documented, Reopening to track in the FAQ

[2020-03-30 19:07] vertonghenb commented on #122
@gaffkins any update on this?

[2020-03-30 19:37] kirk-mcneil commented on #126
You nailed it!

Unfortunately, having a button there doesn't help in this instance. In order for the Agency to get added to the list, they need to fill out a whole bunch of information - which is the reason they are on the page to begin with and the reason for the type-ahead, lookup. We don't want them adding new agencies unless we can't find them in the database.

I'm using the lookup to give the

[2020-03-30 19:49] chrissainty commented on #126
Hi @kirk-mcneil,
I think I understand what you're trying to do. I think you can achieve it but possibly not the way you were hoping.

We don't leave the search text in the input when focus is lost as the input they typed it into is removed from the DOM when focus is lost. We replace it with the `SelectedTemplate`. I think you can achieve what you're after by adding a button, as per @vertonghenb co

[2020-03-30 20:18] kirk-mcneil commented on #126
Hi @chrissainty
That makes sense. The solution I have now is to create a list with one new object that has the search text as the name of the agency so they have to select that.

I was thinking if I could get to a lower level, I would return just the search text as an option to the selectedTemplate in order to fill in the input field. That way the resultTemplate would still show that no results we

[2020-03-30 20:26] kirk-mcneil commented on #126
Here's what it looks like if it's not in the database
![image](https://user-images.githubusercontent.com/58949068/77958561-399c4600-72a3-11ea-97b0-af42d0a2d99a.png)

[2020-03-30 23:18] chrissainty commented on #126
I think what you're doing is probably the best option for what you're doing.

[2020-03-31 12:55] kirk-mcneil commented on #126
It's going to require training since it isn't intuitive to select the item you just typed. Maybe I can fill it with javascript.
You can close this if you don't think it's a feature worth pursuing.
Thanks,
Kirk

[2020-03-31 12:59] chrissainty commented on #126
I more of a matter of what's possible with our design. We've had this discussion and it's just not an easy thing to achieve, or potentially even possible with how things currently work. I'll close this as it's definitely not a bug.

[2020-03-31 12:59] #126 closed

[2020-04-07 14:19] esamk commented on #124
Hi Chris,

I've also problems with ValueChanged event.

[code]
Result:
[code]
What am I doing wrong? Anyone?

[2020-04-08 09:00] chrissainty commented on #124
@esamk try initialising your `_teamSelection` property.

[code]

[2020-04-08 11:05] esamk commented on #124
@chrissainty
That didn't help, but your advice inspired me to try something along the same lines.
I made the _teamSelection a parameter:

[code]
and initialized that in parent component.

Now the control seems to work (its firing change events).

The set of errors in the console remains the same, however. Unfortunately, the end user also sees an error message because of the 'blazor-error-ui' eleme

[2020-04-08 11:39] fnils commented on #55
If you can choose to "lock" the no results view in open mode. Then you could add textboxes and button  for adding in it.
` <BlazoredTypeahead SearchMethod="SearchItems"
                       @bind-Value="SelectedItem"
                       Placeholder="Area">

        <SelectedTemplate>
            @context.Name
        </SelectedTemplate>
        <ResultTemplate>
            @context.Name

[2020-04-09 08:46] magahl commented on #125
I will not have time to do this in coming month at least @chrissainty

[2020-04-09 09:53] chrissainty commented on #125
Ok, thanks for letting me know @magahl

[2020-04-09 23:14] ghok-rgb opened #128 "[Question] Unable to pick an item from typeahead using mouse"
My apologies in advance if i misclassified the issue type.

I recently upgraded to v4.3.0. Below is our typeahead markup in the razor page:

[code]

For some reason, if we use mouse to scroll through the items in the typeahead control and select an item, SelectedItem's value is not set. I don't see any browser console errors. It's as if it just ignored my mouse click. However, once I open the drop

[2020-04-10 09:20] chrissainty commented on #128
Hey @ghok-rgb, can I just clarify. Are you saying when the suggestion list is open, and you click an item with the mouse, it is not selected?

Just for reference, we don't have any functionality to handle the wheel event in the typeahead. So I wouldn't expect you'd be able to scroll through items in the suggestion list with the mouse wheel.

[2020-04-10 17:01] ghok-rgb commented on #128
Thanks Chris. I am not using mouse wheel to scroll down the list. My issue is when I open the list and select an item using mouse, the SelectedItem is not set.

Please standby, I will try to reproduce the issue and share the code with you.

[2020-04-10 20:24] x6060x commented on #128
+1 I can reproduce the issue with the sample example in Firefox and Chrome. I'm using Blazor WebAssembly btw.

[2020-04-10 22:05] chrissainty commented on #128
@x6060x Can you describe exactly what you did?

[2020-04-11 15:52] chrissainty commented on #128
@ghok-rgb @x6060x I've been trying to replicate the issue. So far I've tested it on Windows using Edge, Chome and FireFox. I've also done the same on MacOS in all three browsers. Everything is working as expected.

Can you provide any further details?

[2020-04-11 16:19] x6060x commented on #128
@chrissainty Today I was playing more with that control. I'm using the provided example in the home Github page. The issue is not replicating every time, but I found that it's caused by racing condition when the onclick event is triggered when an item is selected:
[code]
Onblur on the input text field is called too soon sometimes and it's breaking the selection.

You can replicate the issue every

[2020-04-12 21:42] chrissainty commented on #128
Thanks for the feedback @x6060x. I agree the solution isn't great. It's always been something we'd want to get rid of if at all possible. Are you planning on raising a PR with a better solution?

[2020-04-13 07:21] esamk commented on #124
@chrissainty

I was able to achieve what I wanted, namely, getting change events from my own component in which typeahead is one part of. This may be pretty obvious solution to a seasoned Blazor dev, but I was so focused on the errors it didn't occur me immediately. So, I thought to put it here in case someone else struggles with this issue too.

Markup:

[code]
And the code

[code]

[2020-04-13 22:07] vertonghenb commented on #123
### A workaround:
Add the styling directly to the predefined css classes.

### Solution
We can simply add a `Class` parameter and add the classes to the list of css classes in the control. The user is then responsible for the overwrite.

[2020-04-13 22:32] ghok-rgb commented on #128
@x6060x could you please explain your workaround? where onblur come into picture?

[2020-04-14 06:43] x6060x commented on #128
@chrissainty @ghok-rgb  I tried different possible solutions. I found a StackOverflow [topic](https://stackoverflow.com/questions/17769005/onclick-and-onblur-ordering-issue) explaining that using event.preventDefault() on the onMouseDown event should work, but it didn't work for me for some reason. If it worked it would be a "perfect" solution.
I have 2 working fixes at the moment - one is changin

[2020-04-14 06:52] digitalsigi commented on #123
Sounds good. I think, if one wants to change it, it should be possible.
I experienced already, that this is not easy doing and requires good knowledge of css.
**@Workaround:** Did not work for me, because I am using the scss templates bootstrap and AdminLTE (yes, I know, not Javascript free) and their responsive design. It was easier to fork the project and change the code.

[2020-04-14 13:01] chrissainty commented on #128
@x6060x What was the code you used with the `event.PreventDefault()` and `onMouseDown`? I've been playing with some ideas this moring using JavaScript but it just keep nagging at me that somehow it's the overall design of the component that is wrong. I just can't figure out why.

[2020-04-14 13:17] x6060x commented on #128
@chrissainty According to this [article](https://visualstudiomagazine.com/articles/2020/01/27/suppressing-events-blazor.aspx) using:
[code]
in the input control should work, but it didn't resolve the issue for me. I haven't tried calling js with JsInterrop.

[2020-04-14 13:29] chrissainty commented on #128
But wouldn't we want the prevent default on the item in the suggestion list? As that is the element receiving the click? But that won't prevent focus being lost from the `input` which is what is causing the list to close in the first place.

[2020-04-14 13:37] x6060x commented on #128
@chrissainty Sorry, my bad.. I had to re-read what I wrote, before posting. What you're saying is what I tried - I used the preventDefault on the items in the suggestions list, not in the input.

[2020-04-14 14:21] ghok-rgb commented on #128
@chrissainty if i downgrade from 4.1.3 to 3.1.8 would there be any issues. I did not experience this issue in 3.1.8 so I am hoping I can downgrade without any issues. Could you please confirm that? Target framework for my application would be .NET Core 3.1

[2020-04-14 14:36] chrissainty commented on #128
@ghok-rgb I would try it and see, I haven't tested the older versions with newer versions of Blazor.

[2020-04-14 16:46] x6060x commented on #128
@ghok-rgb @chrissainty I haven't run version 3.1.8, but browsed the source code from 25th of Sept (when 3.1.8 was released) and onblur wasn't used back then - there was "addFocusoutEventListener" in the js file instead.

[2020-04-14 19:21] chrissainty commented on #128
@ghok-rgb @x6060x I've been working on this most of the afternoon and evening and I've managed to remove all but one of the `Task.Delay`s, can probably get rid of the other one as well, just havn't tried yet.

Could either of you try the code in this branch and see if it's working as you expect. It needs more polishing before a PR but I think it's doing what we want.

[2020-04-15 09:08] adopilot opened #129 "[Question] How to prevent multiple threading issue when searching from entity framework dbContex"
I am trying to make Typeahead control searching from entity framework database.
My search metold looks like

[code]

Sometime when db is slowly to preform search and if user while one searching task is started continue typing and trigger control to preform new search EF will rise exception

Is there a way to silently swallow this exception or to make searching sync.

I did try to increase Debounce

[2020-04-16 01:35] ghok-rgb commented on #128
@chrissainty sorry for getting back so late. I downgraded to 3.1.8 as a workaround. I am definitely going to try your latest branch and let you know sometime this weekend or next week. Thank you for spending time on this.

[2020-04-16 06:19] x6060x commented on #128
@chrissainty For me the control is working as expected - I'm able to select an item from the list and click a button, which is located in the footer. However I noticed that I'm getting an error in the console:

TypeError: element.classList is undefined[Learn More] blazored-typeahead.js:55:13
    addOnClickListener https://localhost:44304/js/Blazored.Typeahead/blazored-typeahead.js:55

This is for

[2020-04-16 07:07] chrissainty commented on #128
@x6060x Thanks for the feedback. I’ll take a look this morning and see where that’s coming from and get it fixed.

[2020-04-16 07:47] chrissainty commented on #129
Hi @adopilot, you could get around this issue by adding something like an `IsSearching` bool around you DB context code. Then if subsequent calls come into your method you can ignore them until the current one finishes.

[code]

I would also take a look at improving the performance of your DB query.

[2020-04-22 16:34] chrissainty commented on #129
I'm guessing this answered your issue so I'm going to close.

[2020-04-22 16:34] #129 closed

[2020-04-23 15:13] chucker commented on #82
Nope. Haven't had a chance to look into this for now.

One approach might be to add an `out IRange[] highlightedCharacterRanges` parameter to the expected `SearchMethod`.

I'm not sure this would work well for complex `ResultTemplate` scenarios, though.

[2020-04-29 12:32] omora commented on #122
The same error happends to me

[2020-04-29 19:17] memerson commented on #75
Using the above-described technique I get an exception: System.ArgumentNullException: Value cannot be null. (Parameter 'accessor').

It seems to want a non-null initial Value for the lookahead (which doesn't make much sense; it's a search box). However even when I provide a non-null property for Value, I still get the exception. I'm not sure what I can do to satisfy this thing.

[2020-04-30 09:03] adopilot commented on #75
@memerson

You can implement your own event here is sample https://github.com/Blazored/Typeahead/issues/124#issuecomment-612785675

[2020-05-01 23:08] dhebbler opened #131 "[Question] Invalid HTML attribute in rendered control"
Thank you for all your work on the Typeahead component.  We have an application that is heavily form focused and makes use of tons of look-up / drop downs for data entry.  This control and the ability to easily wire it up to our existing framework is saving us months of work developing our own component.  It is also a lot more efficient than any other 3rd party components available.

We are notici

[2020-05-01 23:28] chrissainty commented on #131
Thank you for such a detailed account @dhebbler.

The code that's causing your issue is generated by Blazor `@ref` directive. We use it to capture references to certain HTML elements we pass to JavaScript. Without these, the control won't function.

It seems odd that Ignitor would see this as a fail as it's code generated by Blazor itself. Unfortunately, I can't see there is anything we can do to

[2020-05-02 04:36] dhebbler commented on #131
Thank you.  That helps me narrow down the code.  With this I can reproduce my issue with just a simple page and input with @ref.

We've been using the @ref directive only with Blazor Component instances, and I've been passing string Ids to my JSInterop calls, then finding the element to interact with.  Passing the ElementReference is a lot cleaner, and I'll be updating my code to take advantage of

[2020-05-02 04:36] #131 closed

[2020-05-05 15:22] rono1 opened #132 "[Feature Request] Ability to add id attribute"
I would like the ability to add an id attribute to the input control used to type in the value.  This way I can tie a label to it using the label's for attribute.

[2020-05-05 15:27] chrissainty commented on #132
Hi @rono1, adding an ID to the typeahead will render it on the internal input.

[2020-05-05 15:35] #132 closed

[2020-05-05 16:49] kirk-mcneil opened #133 "[Question] How do I make this field required in HTML5?"
Hi Chris and Blazored team,
Hope you're all doing well in these odd times.
I'm using the type ahead as a component in an MVC form that fills out a hidden field and would like to make the field required. I tried making the object required in the component using data annotations but that doesn't help stop the form from getting submitted when it's empty.
Should I use javascript on it?
Thanks,
Kirk

[2020-05-05 16:54] chrissainty commented on #133
Hi, I'm not sure the component will work correctly in that scenario. It's designed to be used in Blazor apps and with the Blazor mechanisms for form validation and submission.

I think you'll have to create some kind of manual solution for you use case.

[2020-05-05 17:05] kirk-mcneil commented on #133
That's what I was afraid of. I'll build something to manually check it - thanks for the quick response!

[2020-05-05 17:05] #133 closed

[2020-05-05 17:26] chrissainty commented on #133
One thing to try @kirk-mcneil is adding the HTML5 required attribute to the component and seeing what happens. We pass a few HTML attributes to the internal input control and I think required would get passed as well. Might be worth seeing what it does.

[2020-05-06 22:19] aqkhana2002 opened #134 "Is there a way i can use Z-Index , please see screenshot the issue i have"
**Please be sure to check the readme file before raising an issue.**
![image](https://user-images.githubusercontent.com/5283983/81234071-662e4500-903b-11ea-886d-2736148188c8.png)

is there a way I can use z-index

[2020-05-07 06:13] chrissainty commented on #134
I’m sorry, but you need to be a more specific about what you’re asking.

[2020-05-07 06:54] aqkhana2002 commented on #134
if you look at the image i have attached you will notice dropdown is cut half if we have z-index option this might come front.  this had to display 10 items

[2020-05-07 06:58] chrissainty commented on #134
Ah ok, as the image itself is cropped to where the suggestion list is cut off it makes it hard to spot.

If you want to affect the z-index you can do so by overriding the current settings via CSS. Just specify whatever new z-index you wish for this class, `.blazored-typeahead__results`.

[2020-05-07 06:59] #134 closed

[2020-05-08 11:37] mkchx opened #135 "[Bug] Preselected Items won't remove on click"
**Describe the bug**
For the multi-selection option, suppose we have pre-selected items.
Once you click any element that was added from the UI drop-down the item is being added twice instead of removing it from the UI.

**Expected behavior**
Should remove the clicked item from the UI component

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Hosting Model (is this i

[2020-05-11 09:25] adopilot opened #136 "[Question] How to disable / enable typeahead from outside of contol"
I am trying to make my control using Blazored Typeahead control.
I am having trouble to propagate enable / disable parameter, so users of my control can disable or enable it.
Here is what I am trying to do

My controllooks like
[code]

In code behind

[code]

On other Page I am trying to use my contol

[code]

In code behind

[code]
This simply do not working, there is no errors
Am I doing somethi

[2020-05-11 09:38] adopilot commented on #136
Apologises for spamming and opening issue ,
If I use parameter on proper way I am able to disable or enable control on page.
Here is sample

[code]
[code]

[2020-05-11 09:38] #136 closed

[2020-05-14 18:05] chrissainty commented on #135
Thanks for raising this @mkchx. We use [`List<T>.Contains(T)`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.contains?view=netcore-3.1) to check for an existing item in the list. This means for complex objects you need to implement `IEquatable<T>` on the objects you're passing us otherwise there is no way for us to know that two objects are the same.

[2020-05-14 18:05] #135 closed

[2020-05-22 01:03] osheab87 commented on #124
I just spent a few hours dealing with the same problem @esamk had. The null reference exception comes from not setting the ValueExpression parameter. Here is the code is used to get the event firing. Hope it helps someone in the future.

[code]

[2020-05-22 09:13] esamk commented on #124
@osheab87

I was never happy with my hack and now I can get rid of it. Thanks a bunch.

[2020-05-22 17:30] osheab87 commented on #124
@esamk You're welcome.

One thing to watch out for is that the Value parameter backing variable is not automatically bound like when using the @bind-value syntax. You need to handle everything explicitly in the ValueChanged method. Also, the variable passed to the callback method is nullable, so I ended up having to add a null check to the method.

[code]

The advantage of this binding syntax for

[2020-05-23 05:46] esamk commented on #124
@osheab87 Makes sense. Thanks again.

[2020-05-25 03:29] nssidhu opened #137 "Gettingerror : equires a ConvertMethod parameter."
blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Blazored.Typeahead.BlazoredTypeahead`2[DbModels.CountryCodes,System.String] requires a ConvertMethod parameter.
System.InvalidOperationException: Blazored.Typeahead.BlazoredTypeahead`2[DbModels.CountryCodes,System.String] requires a ConvertMeth

[2020-05-25 13:34] chrissainty commented on #137
As the message states, you need to provide a convert method as, I'm assuming, your binding a string value in your form `_editprofileModel.CountryName` but you're providing a list of `CountryCodes`. You need to tell the Typeahead how to map whatever the value is in your form to a country code.

If you have a look in the readme there is an explanation there.

[2020-05-25 13:35] #137 closed

[2020-05-31 17:43] joaopgrassi opened #138 "Is it possible to keep the selected item inside the input?"
Hey

I'm porting our project ([NuGetTrends](https://nugettrends.com)) to Blazor WASM. In the "original" project I used the Angular Material "typeahead" control.

I integrated this typeaded in the app with some additional styles and it's working great (great work btw!).

The only thing I couldn't find out is related to the `SelectedTemplate`. It's required and after I select an item from the sugges

[2020-05-31 17:58] joaopgrassi commented on #138
Ok was just a lazy bastard. I ran the samples and it works as I expected. Must be something conflicting with my styles (I use Bulma instead of Bootstrap).

[2020-05-31 17:58] #138 closed

[2020-06-03 11:09] SphtKr commented on #121
@dolare1 I'm trying to do the same thing I think, and I think I figured this part out. Here's my attempt:

[code]

However, I'm not sure that it works because I can't yet figure out how to get the Razor Markup to render for my subclass... curious what you did. Maybe between the two of us we can figure out if this works, or if any addition/change to the base class is needed.

[2020-06-11 15:46] pelshen opened #139 "[Bug] When disabled, dropdown icon shouldn't show unless EnabledDropDown is true"
**Describe the bug**
If you don't have EnableDropDown set to true, when the field is rendered normally (Disabled is false), you do not get a dropdown arrow icon at the end. If you set Disabled to true, in the disabled version, you do get the icon.

**To Reproduce**
Steps to reproduce the behavior:
Use a BlazoredTypeahead without EnabledDropDown specified, or set to false explicitly. Set Disabled t

[2020-06-13 14:07] chrissainty commented on #139
Thanks for reporting this @pelshen. It's definitely something we should fix.

[2020-06-17 13:50] Kylar182 opened #140 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
Id and tabindex cannot be used to target input, the wrapper or something is blocking them possibly?

**Describe the solution you'd like**
Be able to tab to input and / or target input with id attribute

**Describe alternatives you've considered**
I've tried both id and tabindex, I know of no other way to programmatically select an

[2020-06-19 13:39] chrissainty commented on #140
Hi @Kylar182, as far as I can see tabbing through the control works as expected. We did some work to enable this a while ago. You shouldn't need to add any additional attributes to allow this either.

Can you create a minimal repro of the behaviour you're seeing and we can take a look.

[2020-06-19 14:20] Kylar182 commented on #140
You can tab through the controls while in the component, from outside the component it's not possible as the input is marked as hidden unless it's clicked on

[2020-06-19 19:13] chrissainty commented on #140
@Kylar182 yes this is per design. The input is hidden as we display the selected template when the component doesn’t have focus. As soon as it has focus the selected template is hidden and the input is shown and focus is set to it automatically.

[2020-06-19 19:20] Kylar182 commented on #140
@chrissainty How do you focus the element? I attempted to add an id attribute but it was hidden with the input. What element should I focus to make the input available? Again, it's just for a user to be able to tab between inputs for quick inputs.

[2020-06-19 21:15] chrissainty commented on #140
As I said earlier, you don’t need to do anything tabbing works out of the box. You can see this for yourself by running the sample projects in the repo.

[2020-06-20 11:29] Kylar182 commented on #140
Ahh, I see now. It works when you don't have tabindex set on any other form inputs or anywhere else out of the page and you can't use Id to set focus. Okay, fair enough, not for me I suppose.

[2020-06-20 12:11] chrissainty commented on #140
Could you add your form code so I can see what you’ve done? I think I might be understanding what you’re trying to do but just want to check.

[2020-06-20 12:19] Kylar182 commented on #140
Technically it's a private repo with a contract attached, I'll mock something up and send it later today on a public one

[2020-06-20 18:47] ghok-rgb opened #141 "Microsoft.JSInterop.JSException: Cannot read property 'addEventListener' of null"
Hello,

I am noticing this error when someone begins loading a page with typeahead control and navigates away from that page prematurely. Could you please let me know if you have seen this before and if no, how I can handle this? Any pointers will be much appreciated!

`Microsoft.JSInterop.JSException: Cannot read property 'addEventListener' of null
TypeError: Cannot read property 'addEventListene

[2020-06-22 08:28] chrissainty commented on #141
Hi @ghok-rgb, thanks for raising this.

There isn't anything you can do to resolve this yourself, we need to add a null check before adding the event listener. I'll mark this as a bug and we'll get this added in as soon as we can.

[2020-06-22 08:30] chrissainty commented on #141
For reference this issue is here:

[code]

we need to add a check for null before adding the event listener.

[code]

[2020-07-06 10:39] Discovery-support opened #143 "SearchingTemplate - When a typeahead search relies on an external slow resource [Feature Request]"
Any chance of adding a **SearchingTemplate** that permits the display of a user customisable 'Searching' message that appears after a specified period of time whenever a search result is taking longer than expected?

e.g.

\<SearchingTemplate>
&nbsp;&nbsp;&nbsp;&nbsp;Looking for you - please wait...
\</SearchingTemplate>

and a **SearchingDisplay** parameter in milli seconds?

[2020-07-06 14:44] tkennedy13 opened #144 "[Question] Cascading Typeahead Initial Value"
I have a set of cascading typeahead. I'm using ValueChanged of the "parent" typeahead to load the data for the "child" typeahead. This part has worked well. The problem is when I open a record to edit it the "parent" typeahead is always empty even though there is a value stored for it in the database. The trouble has to do with my bindings i'm sure, but I am unable to use a binding value with Valu

[2020-07-07 15:32] needhelp33 commented on #122
Did anyone find any solution?

[2020-07-07 22:27] arivera12 commented on #122
This library was working properly for me, but after making a few changes now this error is being thrown...

[2020-07-07 22:53] chrissainty commented on #122
Thanks for the info @arivera12. I’m working on a very big update for Blazored Modal which should be out this week. Once I’m done with that I’m going to be working on the Typeahead.

[2020-07-08 07:23] chrissainty commented on #143
Hi @Discovery-support, this seems like a good idea. I was sure we already had this but as you've quite rightly pointed out, we don't. I'll mark this as a new feature.

[2020-07-08 09:02] needhelp33 commented on #122
@arivera12 after reading your comment I tried to set an initial SelectedValue and that solved the problem for me. Thanks

[2020-07-09 10:07] chrissainty commented on #144
Hey @tkennedy13, it looks like you're missing assigning the `Value` parameter. That is what assigns an initial value to the component.

[code]

[2020-07-11 02:00] arivera12 opened #145 "[Feature Request] Any Chance to support some css frameworks?"
Is there any chance to support some css frameworks like bootstrap?

Maybe we could have a enum called `Skin` with a enum of the supported css frameworks and apply them internally.

[code]

[2020-07-11 02:55] nssidhu opened #146 "Is there an event for when selected item is changed"
I am looking to build cascading Drop downs for Country, City & State. of Car Make, Model etc..
Is there an event to which i can hook into to watch for change in Country so that i can filter the States for the selected country and blank out the cities and repopulate cities once the state is selected ?

[2020-07-12 05:48] nssidhu opened #147 "Is there a Selected Item change Event ?"
Trying to build cascading Drop downs for Country/State/City.
Need to filter State Drop Down if Country is changed.
Is there an event that i can subscribe to or listen to for Typeahed  ?

[2020-07-13 09:10] NatanBagrov opened #148 "[Question] MaximumSuggestions default value"
Hi, just something I have encountered in my application and might worth consideration.

The default value is not UX-ish, it is rather too small.
#### Why?
When writing the code, developers might overlook this `MaximumSuggestions=10` default value, limiting the max suggestions to 10.

Since users are using the list, they might think that there are no *additional* results, since nothing is written (

[2020-07-13 09:16] NatanBagrov commented on #147
Personally, I did not find any. I ended up writing a wrapper (for the dto) myself, providing the necessary events.

[2020-07-13 09:18] chrissainty commented on #148
Hi @NatanBagrov,

Thanks for asking this question 🙂.

There are options available to the developer to control this. As you pointed out, there is the `MaximumSuggestions` parameter. There is also a footer template which can be used to add a message as you have suggested, prompting the user to type more characters.

I appreciate where you're coming from with this, but the tools are already there. In

[2020-07-13 09:18] #148 closed

[2020-07-13 09:25] NatanBagrov commented on #148
Sure @chrissainty , no worries. I agree that it everything that is needed is indeed there.

Just wanted to share my experience regarding the default value, I ended-up changing it across the app since I've overlooked it when I started using the component. :)

[2020-07-13 09:28] chrissainty commented on #147
Hey @nssidhu, yes you can achieve this using the `ValueChanged` event. I've included some code to give you an example of how to configure it. You will need to provide the additional parameters as per the example code.

[code]

The example here is taken from a similar question #144. Let me know if you have any problems.

[2020-07-13 09:28] #147 closed

[2020-07-13 09:29] chrissainty commented on #146
Closed as duplicate of #147

[2020-07-13 09:29] #146 closed

[2020-07-13 09:30] chrissainty commented on #144
I'm assuming as there has been no further comment that this resolved the issue so I'm going to close this. Feel free to reopen and provide extra detail if this is not the case.

[2020-07-13 09:30] #144 closed

[2020-07-13 09:32] chrissainty commented on #145
I think this is something we should enable/support.

[2020-07-16 20:18] tkennedy13 commented on #144
Sorry for the late reply. I got caught up in a different problem.

This worked great though! Thank you very much for the help.

[2020-07-17 06:47] ericpincus opened #149 "[Bug] Typeahead Erasing Keystrokes when in a Blazored Modal"
I just upgraded to the new version of Blazored Modal (including the new setup that includes adding a script file to index.html). I have Typeahead controls in various Blazored Modals and they all immediately erase any keystrokes. For example, I can type in the letter "s" and for a moment I can see it, but then it's erased. I can't get to the second character.

To test, I pulled the same code out of

[2020-07-18 18:07] rvanderkooy opened #150 "[Feature Request] Add a public method to focus the component"
**Is your feature request related to a problem? Please describe.**
I'm trying to find a way to programmatically expand the result dropdown list

**Describe the solution you'd like**
I would like to see a public method that can be called that will focus the input box and expand the dropdown list

**Describe alternatives you've considered**
I have tried to set focus using JSInterop to see if that wo

[2020-07-19 04:48] ericpincus commented on #149
FWIW: Adding StopPropagation = "true" seems to resolve whatever the issue is within the BlazoredModal.

[2020-07-19 10:16] #141 closed

[2020-07-19 13:24] chrissainty commented on #140
As this has been almost a month with no updates I'm going to close this issue.

[2020-07-19 13:24] #140 closed

[2020-07-19 13:28] Kylar182 commented on #140
Hey @chrissainty I apologize, I've gotten pretty busy. Basically I can't focus the element via the ID or tabindex. My elements were all in child components though, not sure that matters. I appreciate the response though and sorry I didn't get a chance to push a repo.

[2020-07-19 13:30] chrissainty commented on #140
No worries @Kylar182. I very much appreciate having a busy schedule

[2020-07-19 13:40] chrissainty commented on #121
I'm just doing some housekeeping and looking at this issue there isn't anything which needs to be done on the component, so I'm going to close it. If there is a problem or a feature which needs changes to the control please open a new issue specifically for that change.

[2020-07-19 13:40] #121 closed

[2020-07-19 13:50] chrissainty commented on #150
I think the way we could offer this would be a public method on the component called `Focus`, for example. You can then get a reference to the component using the `@ref` directive then just invoke `Focus`.

[2020-07-19 13:52] chrissainty commented on #149
@ericpincus Thanks for raising this. Where about did you add the StopPropagation directive? Could you provide a code sample?

[2020-07-19 14:36] rvanderkooy commented on #150
A public Focus method would be great. I’d be glad to help however I can. Thanks.

[2020-07-19 21:55] ericpincus commented on #149
Sure thing:

Everything after the opening tag is identical as above, here's the revised BlazoredTypeahead tag that gets around the issue:

`<BlazoredTypeahead SearchMethod="@SearchPlayers" MinimumLength="3"
                                   @bind-Value="@Player" Debounce="500" StopPropagation="true">`

[2020-07-20 16:40] chrissainty commented on #149
This issue isn't actually a problem with Typeahead but with Modal and should be resolved with https://github.com/Blazored/Modal/pull/202. I'm going to close this issue as there is nothing to do.

[2020-07-20 16:40] #149 closed

[2020-07-21 09:31] shaneconnolly commented on #122
Hi guys, I'm also having this issue. @needhelp33 could you give me a sample of the code you used for the 'SelectedValue' workaround? I don't see that as a listed parameter. Thanks.
And thanks @chrissainty for this project.

[2020-07-21 09:51] needhelp33 commented on #122
Hi @shaneconnolly,

This worked out for me:

<BlazoredTypeahead SearchMethod="GetSome"  Value="SelectedGroup"  ValueChanged="GroupChanged"	   TItem="Articles"   TValue="Articles"   ValueExpression="@( () => SelectedGroup)"><SelectedTemplate Context="group"></SelectedTemplate><ResultTemplate Context="group">@group.Designation</ResultTemplate></BlazoredTypeahead>

The important part, set a  'Selecte

[2020-07-21 09:54] needhelp33 commented on #122
Hi @shaneconnolly,

This worked out for me:

`<BlazoredTypeahead SearchMethod="GetSome"  Value="SelectedGroup"  ValueChanged="GroupChanged" TItem="Articles"			   TValue="Articles"  ValueExpression="@( () => SelectedGroup)">	<SelectedTemplate Context="group"></SelectedTemplate><ResultTemplate Context="group">@group.Designation</ResultTemplate></BlazoredTypeahead>`

The important part, set a 'Select

[2020-07-21 10:35] shaneconnolly commented on #122
Thanks @needhelp33, I understand what you mean now.
I've just realised that my issue was actually related to the fact that I was using the ValueChanged event instead of @bind-Value as per #124 and I hadn't followed @osheab87's advise here: https://github.com/Blazored/Typeahead/issues/124#issuecomment-632820208

[2020-07-24 12:05] suryasundarraj opened #153 "Dropdown icon on Internet Explorer not Working"
**Describe the bug**
The drop down icon is working fine on Firefox, but on IE 11 there the drop down opens only when you click on top of the icon

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MS IE 11 with a sample app using typeahead with enabledropdown
2. Click on border box of the arrow, it works
3. Clicking on the down arrow box has the issue

**Expected behavior**
The user shoul

[2020-07-24 14:03] chrissainty commented on #153
Thanks for reporting this @suryasundarraj. Unfortunately, I'm now running exclusively on a mac and I can't run IE11.

This will have to be a contribution for you, or the community.

[2020-07-24 23:04] arivera12 opened #154 "[Feature Request] What about supporting internally this parameters: Hide, Hidden and ReadOnly?"
Hide -> Hide the component using razor syntax like this `@if(!Hide) { }`
Hidden -> Hide the component via style sheet like this `style="@(Hidden ? "display:none": "")"`

Take note that hide and hidden are not the same and also doen't behave the same.

Hide will destroy the component while hidden will not destroy it and hide it via style.

ReadOnly -> Makes the input readonly.

I know we can pass e

[2020-07-24 23:11] chrissainty commented on #154
Hi @arivera12 this isn't something we would support in the component. Developers can hide the component with normal razor code when required.

[2020-07-24 23:12] #154 closed

[2020-07-24 23:16] arivera12 commented on #154
The point was its more clean and clear on UI having this `Hide=true` than `@if(Hide) { }`

[2020-07-27 02:01] nssidhu commented on #147
I keep on getting this error.
since this is the first load of Page, i cant set any value.
Also i am not sure what is the use of   ValueExpression is it trying to over come the null problem ?
[code]

I don't get error when i use @bind-Value, only when i change it to Value.
How do i handle this ?
 <BlazoredTypeahead SearchMethod="SearchBusiness"
                                       Value="_Selecte

[2020-07-27 19:54] nssidhu commented on #147
I have tried to create sample in the attached file(webAssembly Index Page at the bottom).
Will appreciate your help in getting it working.

[Typeaheadchanged.zip](https://github.com/Blazored/Typeahead/files/4984153/Typeaheadchanged.zip)

[2020-07-28 04:14] solvix opened #155 "Binding typeahead control to a model while iterating over it"
I'm not able to bind my typeahead control results to an active model in my page.  The control is awesome and I figure I'm just missing something.  Any advice would be greatly appreciated.  I'm able to bind to a private value set in @Code, but I populate the my_componentEntity list on startup and there is a blank value I want to associate the result of the typeahead control to.

Sample code snippet

[2020-07-28 13:51] adugasBID opened #156 "[Feature Request] Allow binding to any ICollection (such as HashSets)"
It would be nice if the control used an ICollection internally instead of an IList.
That way, HashSets (and many other collections) would be compatible.

[2020-07-28 13:51] RichardVogelij commented on #103
In my use case i'd like my users to be able to change a previously selected item (it's for a location chooser when you enter an address and a house number) - When someone chose the wrong number and tries to correct this, i'd like them to be able to focus the control - and press backspace, only changing the last couple of characters of the auto-complete component.

Currently my users have to retype

[2020-07-28 19:49] chrissainty commented on #156
I believe we had a reason for using an IList as we've gone back and forth on this once or twice now. I'll need to check into the issues when I'm back at my laptop.

[2020-07-28 20:01] adugasBID commented on #156
For reference, IList adds those on top of ICollection:

[code]

So if you heavily rely on those it might be hard to make the switch.
Thanks!

[2020-07-28 23:04] solvix commented on #155
Good news folks!  I figured it out.  I needed to add a Person model reference in my my_componentyEntity model, the would @bind-value to "my_component.Person.personId".  Viola!

[2020-08-01 22:25] chrissainty commented on #147
By the looks of your code you've not included the ValueExpression as per my example in my last comment. You need all 3, Value, ValueChanged and ValueExpression.

[2020-08-01 22:40] #155 closed

[2020-08-02 21:18] Kylar182 commented on #150
https://github.com/dotnet/aspnetcore/issues/17472#event-3572453000

[2020-08-15 22:05] AskYous opened #158 "[Feature Request] onchange?"
**Describe the solution you'd like**
I use this typeahead in a child component, and the parent component needs to be notified of the change. Binding to a value does cause the state to change, but not the parent component to change. We need something like `onchange` so I can invoke a parent listener.

**Describe alternatives you've considered**
Using the property `ValueChanged` but that caused erro

[2020-08-15 22:15] chrissainty commented on #158
ValueChanged is the correct way to do what you're looking to achieve. We won't be adding anything additional to the component for this. If you shared the errors you're getting hopefully we can spot what's not right with you're approach.

[2020-08-16 18:11] AskYous commented on #158
#### `ValueChanged` without `@bind-value`

Code:
[code]
Errors at runtime:

   at Microsoft.AspNetCore.Components.Forms.FieldIdentifier.Create[TField](Expression`1 accessor)
   at Blazored.Typeahead.BlazoredTypeahead`2.OnInitialized()
   at Microsoft.AspNetCore.Components.ComponentBase.RunInitAndSetParametersAsync()
---
#### `ValueChanged` with `@bind-value`

Code:
[code]
Error at compile time:

[2020-08-16 18:18] chrissainty commented on #158
You have to set several parameters when using ValueChanged directly. There are quite a few example of this in other issues but I would check out this one https://github.com/Blazored/Typeahead/issues/124#issuecomment-632421782

Also when using ValuesChanged you can't use @bind-Value as that is is using ValueChanged under the hood. It's an either, or situation.

[2020-08-16 18:52] AskYous commented on #158
Thank you! I used `ValueExpression` and it worked! One thing I noticed though is that `ValueExpression` doesn't really do anything. I have the code below, but I never set `selectedQnaSet` to anything, and it still worked fine. I wanted to just remove `ValueExpression` but that gives the null exception mentioned earlier.

[code]

[2020-08-18 05:15] chrissainty commented on #158
Glad you've got it working :)

[2020-08-18 05:15] #158 closed

[2020-08-24 20:26] Treemendus opened #160 "[Feature Request] Custom Filter"
Add the ability to use a custom filter search instead of having to select a value found in the search method.

[2020-08-24 21:21] chrissainty commented on #160
Hi @Treemendus, could you clarify what you want in this request? You have full control over what the Search method returns, I'm not sure what more could be done.

[2020-08-24 21:25] Treemendus commented on #160
I am trying to search the result set but be able to keep the typed texted as the input instead of it selecting the first matched result from the search method.

I am attempting to use this like a Google search that will allow partial searching as well as selecting the suggested text options.

I hope this clarifies my request more.

[2020-08-25 02:07] RomainAn opened #161 "[Bug] StateHasChanged reset the component"
Hi everyone, i come to you because i have a little issue with the typeahead

**Describe the bug**
If the view get refresh while doing a typeahead, it cancel the suggestion and clear the input.

**To Reproduce**
Steps to reproduce the behavior:
1- Start doing an autocomplete
2- Trigger a refresh (For my case i use SignalR for realtime data update)

**Expected behavior**
 Do not refresh or reset the

[2020-08-25 03:55] RomainAn opened #162 "[Bug] Exception when clearing the input"
Hi back guys, a little issue again

**Describe the bug**

An exception is thrown in the chrome developer console.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Input any strings matching an item from the input list.
2. Select in the dropdown the item
3. Click on the X to clear/reset the input.

**Expected behavior**
Not having an error and effectively clear the property

**Hosting

[2020-08-25 05:28] chrissainty commented on #160
I *think* I have an idea what you mean. You want users to type a few characters into the typeahead, they then see some suggestions based on what's returned from the Search method. But they can still hit enter without selecting one of the results and that triggers another search? Is that right?

[2020-08-25 05:31] chrissainty commented on #162
Hi @RomainAn, I've just been trying to replicate the bug using the live sample site (https://blazored.github.io/Typeahead/) but I can't see to replicate the behaviour. Could you try to replicate the bug on that site and let me know what you did if you can?

[2020-08-25 05:34] chrissainty commented on #161
Hi @RomainAn, unfortunately this isn't a bug and this isn't something that we would be able to fix or do anything about. This is how Blazor functions and we can't override it, the best thing you can do is take advantage of ShouldRender as you have.

Sorry we can't be more help on this one.

[2020-08-25 05:34] #161 closed

[2020-08-25 05:43] RomainAn commented on #162
@chrissainty Hello Chris.

I just find what was wrong, and it's from my side, i totally forgot that i'm using a computed property that is doing a trim on the value.

value.Trim() => value?.Trim()

I apologize for my lack of diligence, i gave you some work for nothing.
Thank you for your help.

Stay safe and healthy
Ro

[2020-08-25 05:43] #162 closed

[2020-08-25 05:45] chrissainty commented on #162
No problem at all @RomainAn 🙂

[2020-08-25 09:00] Treemendus commented on #160
Yes that is exactly what I want.

[2020-08-25 12:36] chrissainty commented on #160
No this isn't possible right now. I think this would be pretty difficult to fit into the control with it's current design, I'm also not sure if this is pushing the bounds of what a typeahead should be doing. At least what I would interpret as a typeahead control.

I'd be interested in others feedback and thoughts on this, if it's popular we could look at what would be required to make it work.

[2020-08-26 11:57] vertonghenb opened #163 "[Maintenance] .NET 5 Preparation"
In .NET 5 we'll have some nice new stuff, for example:
- [Scoped CSS](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/#css-isolation-for-blazor-components)
  - Because of this, I think we can remove the .css file and the need to wire it up in the .index pages.
- [.FocusAsync()](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-preview-8/#set-ui-focus

[2020-08-26 12:03] vertonghenb commented on #36
Also coming in .NET 5 (Virtualize Component)

[2020-08-26 17:35] alexandredsimoes opened #164 "[Bug] Publish website failed to load dll"
**Describe the bug**
My website published as win-x86 / stand-alone, shows an error loading the file "Blazored.Typeahead.dll"
Only the published site displays the error, locally the site runs smoothly

**To Reproduce**
Steps to reproduce the behavior:
1. Publish website as selfcontained/win-x86

**Expected behavior**
The site runs smoothly

**Screenshots**
If applicable, add screenshots to help exp

[2020-08-27 05:32] chrissainty commented on #164
I'm guessing from the error message the dll hasn't been included in the published output. Can you check to see if it's there?

[2020-08-27 13:09] alexandredsimoes commented on #164
Its include.
![image](https://user-images.githubusercontent.com/5480346/91446062-54bcb300-e84d-11ea-9916-5af5b969c144.png)

[2020-08-27 13:22] chrissainty commented on #164
I'm not sure on this one @alexandredsimoes. I think the only thing you can do is raise an issue on the Blazor repo and see what the team have to say. We have no way to effect any of this - at least as far as I'm aware.

[2020-08-30 12:32] JohnKiller commented on #36
@vertonghenb where did you find that information? I really hope some kind of virtualization is supported natively in Blazor, but I didn't find any GitHub issue documenting the progress on this

[2020-08-30 13:42] vertonghenb commented on #36
In one of the asp.net live community stand-ups.

[2020-08-30 20:10] alexandredsimoes commented on #164
Problem solved. I just removed everything and uploaded again. Don't blame me. 🤷‍♂️🤷‍♂️🤷‍♂️

[2020-08-30 20:10] #164 closed

[2020-09-02 23:45] arivera12 commented on #150
did you try passing the `autofocus` attribute on the input?

[2020-09-08 11:03] esamk commented on #36
@JohnKiller

Daniel Roth (of MS) replied a question about virtualization in asp.net blog:

"We’ve added a Virtualize component to help with handling virtualization in .NET 5 RC1, which should be available in a couple of weeks.. You can try out a .NET 5 RC1 build from https://github.com/dotnet/installer."

That was 31. August, so I guess we don't have to wait too long...

[2020-09-12 08:23] zandhaai opened #165 "Best practice for loading details upon selecting an item."
I am confused what is the best practice for loading the details for a selected item. I am seeing issues which use the 'ValueChanged'  option. Isn't it viable to use the setter of a property bound to '@bind-Value?'

Example:

`
  <BlazoredTypeahead SearchMethod="..."
                                       @bind-Value="@ SelectedItem">

@code {

    public string SelectedItem
    {
        get => _s

[2020-09-16 02:51] kiasyn commented on #150
I have submitted a pull request that implements this functionality... https://github.com/Blazored/Typeahead/pull/166

[2020-09-16 14:37] sion-corn opened #167 "[Question] How to trigger method when clicking the Clear "X" button?"
I have 2 lookaheads on a form: Country and City. The City lookahead triggers a sproc with a parameter that is based on the object that is bound to Country.

So, what I'd like to do is: when both Country and City are populated --> user clicks the Clear "X" button on Country lookahead --> City lookahead also gets cleared.

How would I do this? I was hoping to add a method that gets triggered when th

[2020-09-18 06:26] chrissainty commented on #165
@zandhaai You can do it however, you wish. You can either use `ValueChanged` or the setter of the bound property, the choice is yours'

[2020-09-18 06:26] #165 closed

[2020-09-18 06:44] chrissainty commented on #167
There is no event we expose to hook onto for clearing the typeahead. One way you could achieve this is by using the setter of the property which is bound to the typeahead, when you clear the Country typeahead we reset the bound value to its default, when that happens you could then trigger a clear of the City typeahead. Does that make sense?

[2020-09-18 18:42] sion-corn commented on #167
Yes, that makes sense - will do it that way. Thanks for your advice.

[2020-09-22 19:20] sion-corn commented on #167
I implemented your suggestion, and it works great. The only issue I have now is that when the City typeahead is cleared, it does not show the `blazored-typeahead.valid.modified` formatting. Is there a way to trigger validation programmatically?

[2020-09-24 08:43] #122 closed

[2020-09-24 08:44] #125 closed

[2020-09-25 11:49] ktaze1 opened #168 "[Feature Request] Support for Mobile Blazor Bindings"
**Is your feature request related to a problem? Please describe.**
Typeahead does not work in Web view of the Mobile Blazor Bindings

**Describe the solution you'd like**
Support for Blazored.Typeahead in webviews

[2020-09-27 10:59] chrissainty commented on #168
Hi @ktaze1, could you provide some more detail on what's happening when you try and use the control?

I will point out now that Mobile Blazor Bindings is an experiment and not an official product, so we don't necessarily expect the component to work there. Also we would not make any changes to the component, at this stage, to support MBB.

[2020-09-27 11:05] chrissainty commented on #167
What class is the City Typeahead applying?

[2020-09-28 14:40] sion-corn commented on #167
@chrissainty it's a custom class - see below:

public class City
    {
        public int Id { get; set; }
        public int RegionId { get; set; }
        public int RegionId2 { get; set; }
        public int CountryId { get; set; }
        public string Name { get; set; }
        public string SearchNameCity { get; set; }
        public decimal? Latitude { get; set; }
        public decimal? Lo

[2020-09-28 15:03] chrissainty commented on #167
@sion-corn Sorry, I meant which CSS class.

[2020-09-29 11:37] sion-corn commented on #167
@chrissainty it's sitting in a bootstrap `input-group` div

[2020-09-30 20:00] sion-corn opened #169 "[Feature Request] Add AllowClear optional parameter"
**Is your feature request related to a problem? Please describe.**
BlazoredTypeahead has no way to optionally remove/hide the Clear button.

**Describe the solution you'd like**
Add an AllowClear optional bool parameter that enables/disables the above feature.

[2020-09-30 20:45] sion-corn opened #170 "[Bug] FieldIdentifier only supports simple member accessors (fields, properties) of an object."
I am trying to bind BlazoredTypeahead to a list item, but I am getting the following error:

[code]

My code:
[code]
Is there a way to bind to a list item instead of an object?

[2020-10-02 06:02] chrissainty commented on #170
Hi @sion-corn, unfortunately I don't this is anything to do with the Typeahead, this error is coming from the framework. I'm surprised this doesn't work to be honest. I've just had a quick search and it seems there have been a few people dealing with this error or versions of it.

I would suggest raising an issue on the ASP.NET Core repo and speaking to the team about it.

[2020-10-02 13:54] sion-corn commented on #170
Hey @chrissainty, yeah, I saw that it's a framework limitation. Seems like [someone raised this issue already](https://github.com/dotnet/aspnetcore/issues/12000), but the MS team let it die on the vine...

[2020-10-05 05:46] chrissainty commented on #167
Once again, sorry that's not what I meant. In you earlier comment you said the Typeahead didn't have the `blazored-typeahead.valid.modified` class. I was asking which class it does have. But I'm going to go ahead and guess that it doesn't have one at all perhaps?

After you have cleared the Typeahead it is essentially reset, therefor it wouldn't show any validation as it doesn't have a value to va

[2020-10-05 05:49] chrissainty commented on #169
Hi @sion-corn, I'm curious why would you want to remove the ability to clear the typeahead?

[2020-10-05 05:59] chrissainty commented on #170
No problem, @sion-corn. I'm going to close this issue as there isn't any work we can do here.

[2020-10-05 05:59] #170 closed

[2020-10-05 13:52] vborovikov opened #171 "[Question] How to use ConvertMethod?"
If I'm displaying a list of ClientModel objects but want the selected value to be their ClientId property I thought have to use ConvertMethod. But then the control will display ClientId instead of their Name for the selected item which breaks usability of the control.

So how am I supposed to use ConvertMethod in my scenario? I need to display ClientModel.Name everywhere but to bind to ClientModel

[2020-10-05 14:10] sion-corn commented on #169
Hi @chrissainty, in my case, I am including I am using typeaheads as dynamically-added fields, and each one has a "remove" button next to it. So in my case, the clear button on the typeahead is redundant. Moreover, I don't think there is a way to extend your built-in clear method to have it include my own custom logic, so it would be nice to disable it. Even if I could write an extension method fo

[2020-10-05 17:20] chrissainty commented on #171
There is an example showing how to do exactly what you want in the sample project. Apologies, I'm answering from my phone so can't link directly to it but there is only one page in the sample project, so it's not hard to find.

[2020-10-07 06:57] chrissainty commented on #169
@sion-corn So you would never want users to be able to clear the value in the Typeahead, they should only be able to remove the Typeahead entirely as per your UI design? Have I understood correctly?

[2020-10-07 13:40] sion-corn commented on #169
@chrissainty I wouldn't say "never," as I am also using Typeaheads in parts of my forms that are not dynamically-generated, in which case the built-in clear button is useful. But having an option to disable(hide/remove) the built-in clear button would be useful  for cases where the UI is dynamically-generated. It would also be really helpful to include a custom ClearMethod to extend the "on clear"

[2020-10-10 14:46] #171 closed

[2020-10-10 14:47] chrissainty commented on #168
Closing as no further communication.

[2020-10-10 14:47] #168 closed

[2020-10-12 05:53] chrissainty commented on #169
Yeah, I think we can add a toggle to just hide the clear button.

[2020-10-12 13:34] sion-corn commented on #169
@chrissainty nice, thanks!

[2020-10-19 15:12] chris5287 opened #172 "Chrome/New Microsoft Edge ignores autocomplete="off""
It appears Chrome/New Microsoft Edge ignores `autocomplete="off"` and still insists on showing the auto form filler :(

Looking at Stack Overflow issues, appears the recommendation is to use `autocomplete="new-password"` instead?
https://stackoverflow.com/questions/30053167/autocomplete-off-vs-false

Could this change be made or the `@attributes="AdditionalAttributes"` be moved after the `autocomp

[2020-10-21 13:14] Rasmunis opened #174 "[Bug] Backspace on multi-select deletes entries when I don't want to"
#152 introduced a bug on multi-select.

Reproduction:
1. I have two existing entries, e.g Charlot Fullicks and Benedetta Posse.
2. I start searching for Kyle Coster as my third entry, but make a spelling-mistake, e.g. "Kyx".
3. I press backspace.
4. Current search and second entry gets deleted.

[2020-10-21 20:27] zandhaai opened #175 "Is there a possibility leave text which does not exist untouched?"
I have a use case where the blazored type ahead can have entered (search)text which does not exist in the list returned form the SearchMethod. Next to the type ahead is an 'Add' button (which adds it to a collection). The problem now is upon leaving the typeahead component the non existing text is cleared. I found a solution about using the 'NotFoundTemplate', but this pops up at every character a

[2020-10-22 05:31] chrissainty commented on #174
Thanks for raising this one, @Rasmunis.

I think the problem is on this line:

https://github.com/Blazored/Typeahead/blob/93d9145b1f7daaa4059c059cc13c8ecb3b19aa95/src/Blazored.Typeahead/BlazoredTypeahead.razor.cs#L267

We need to check that the typeahead isn't in edit mode before calling `RemoveValue`

[2020-10-22 21:19] #175 closed

[2020-10-22 21:20] zandhaai commented on #175
After testing the 'NotFoundTemplate' option, I come to the conclusion this is a viable option.

[2020-10-22 21:24] zandhaai opened #176 "Is there a limit on the number of Blazored typeaheads on one page?"
For my Angular 1 page, which I am converting to Blazor, I am having more than 5 Typeaheads on a form. Are there any risks in using more than Blazored Typeahead? Or should I use some smart re-use of 1 Blazored Typeahead component?

[2020-10-22 21:49] chrissainty commented on #176
No, there shouldn't be anything for you to worry about. In the sample apps we have multiple Typeaheads on a single page.

[2020-10-22 21:49] #176 closed

[2020-10-23 11:49] nijenhof commented on #174
I'll add it here as I think this is related to this issue. When the multiselect is empty (so no selected values), whenever backspace is pressed an error is spit out:

[code]

[2020-10-26 08:35] Mansha786 commented on #73
I get the following exception when running the server side example project:
[2020-10-26T08:35:17.128Z] Error: Microsoft.JSInterop.JSException: Could not find 'BlazoredModal' in 'window'.
Error: Could not find 'BlazoredModal' in 'window'.

[2020-10-29 09:49] brettwinters opened #178 "[Question] Test in bUnit"
Hello

I'm trying to test Typeahead using bUnit, but when I trigger events on the `<input>` part of the control to load the results then the results are not rendered.

Using BlazorWebAssembly demo as the target

[code]

the control is rendered successfully with the following markup as follows, which looks correct to me

[code]

Any ideas what I'm doing wrong?

Actually if someone could show me a d

[2020-10-30 11:23] brettwinters opened #179 "[Bug] EditContext IsModified() is True when no change"
**Describe the bug**
IsModifed property of the EditContext shows true when no change.

Conversely IsModified() is correct if there is a change or the selection is reset

**To Reproduce**
Steps to reproduce the behavior:
1. Using the Webassembly demo project, open index.razor
2. Add the following line to the bottom of the `OnInitialized()` method : `FormModel.SelectedPerson = People.First();`
3. Ad

[2020-10-31 23:08] #174 closed

[2020-10-31 23:28] #124 closed

[2020-11-10 17:51] bancroftway opened #183 "[Bug] BlazoredTypeAhead inside BlazorStrap modal: Dropdown disappears when scrollbar is touched"
I have a Blazor Webassembly project running on .Net 5 RC2. I am using a [BlazoredTypeahead ](https://github.com/Blazored/Typeahead) inside a [BlazorStrap ](https://github.com/chanan/BlazorStrap) Modal. When I try to grab the dropdown's scrollbar, the dropdown gets closed.

I have been unable to determine whether the issue is with BlazoredTypeahead or with BlazorStrap, so I will be cross-posting th

[2020-11-12 12:26] PatriciaHeimfarth commented on #153
Hi, I would like to work on that issue

[2020-11-24 13:55] mivandoni commented on #145
This means that at the moment there's no way to reduce the font of the control to small (form-control-sm)?
Do you have an idea on when you will release this update?

[2020-11-24 14:00] chrissainty commented on #145
@mivandoni You can do that with some custom CSS.

[2020-11-24 19:55] mivandoni commented on #145
Can you explain what you mean? I'm not so expert with css, I use bootstrap an the class attribute an usually that's enought. But it doesn't apply on this control.

[2020-11-24 20:09] chrissainty commented on #145
I mean you can write some CSS which overrides our defaults and applies whatever you prefer.

Perhaps it would be worth spending some time understanding CSS if you're writing web applications. https://css-tricks.com/ is a fantastic site to learn about it.

[2020-11-25 14:52] Kurti123 opened #184 "[Bug] Cannot access a model's field in <SelectedTemplate> node"
I have a problem with Typeahead with my Blazor-Server app:

[code]

[code]

The problem I have occurs in the `<SelectedTemplate>` part:

'string' does not contain a definition for 'AccountCode' and no accessible extension method 'AccountCode' accepting a first argument of type 'string' could be found

Intellisense is supposed to show me all the fields of AutolineAccts, but it does not. But it work

[2020-11-25 16:07] #184 closed

[2020-11-25 16:09] Kurti123 commented on #184
I think that's not a bug but rather a mistake by me. Anyways, I decided to close this bug and start a thread at Stackoverflow:

https://stackoverflow.com/questions/65008494/cannot-access-a-context-field-in-selectedtemplate-in-blazored-typeahead

[2020-11-26 08:12] Kurti123 commented on #137
Today I stumbled over the same problem and the readme doesn't help me, I think due to my lack of  expertise with blazor... I don't really understand what exactly to do here...
![image](https://user-images.githubusercontent.com/24918126/100323569-43a74d80-2fc6-11eb-8bd7-9727c5cfd41d.png)

[2020-11-26 08:20] chrissainty commented on #137
@Kurti123 If you look at the sample projects there is an example of how to use the convert method:

https://github.com/Blazored/Typeahead/blob/main/samples/BlazorWebAssembly/Pages/Index.razor

I appreciate the readme isn't the best on this topic. I'll raise an issue to update it with an example of the convert method.

[2020-11-26 08:22] chrissainty opened #185 "Update readme with an example of the convert method"
Currently we don't have an example in the readme for implementing a convert method. This is making life hard for developers to understand its usage as they have to go digging into the sample applications.

We should update the readme to show an example of using a convert method with explanation.

[2020-11-26 08:47] Kurti123 commented on #137
Ah I could figure it out with the examples. Thank you!

[2020-11-27 08:10] Martin-Pucalka opened #186 "[Bug] Pressing backspace removes previously selected option, not only search text"
**Describe the bug**
When I use multiselect, select some option, then press one character to search another option and then I press backspace, the selected option is deleted with the character.

**To Reproduce**
Run sample app
Go to Blazored Typeahead - Multi-select
Select some option
Start new search for another option by pressing one character on keyboard
Press backspace.
The character and prevo

[2020-11-27 21:31] chrissainty commented on #186
Hi @Martin-Pucalka - this issue was fixed in the latest release. What version of the package are you using?

[2020-11-30 19:14] brettwinters commented on #178
Oops, while looking through the source for another issue I found that there is a delay timer of 250ms in the event handler. Adding an extra delay into the test solved the problem as follows:

[code]

Sorry about that...

[2020-11-30 19:14] #178 closed

[2020-11-30 22:03] Martin-Pucalka commented on #186
Thank you for your reply, I've missed the latest release, now it works well.

[2020-11-30 22:03] #186 closed

[2020-12-01 20:14] bancroftway commented on #183
As per this [issue ](https://github.com/chanan/BlazorStrap/issues/408)opened with BlazorStrap project, they triaged this issue and they think this issue is happening even without using Blazorstrap.

So in summary, the issue occurs when using BlazoredTypeahead inside a Bootstrap modal. Please help.

[2020-12-03 06:47] chrissainty commented on #183
My apologies for taking a while to respond to this issue @bancroftway. I will look into this as soon as I can and come back to you.

I've watched your excellent repro video and read the thread from Blazorstrap. It maybe something to do with the z-index of the modal, I'm not sure what or why. I'm just guessing from the video. ANyway I'll get back to you with a something solid ASAP.

[2020-12-08 13:26] HAL-NINE-THOUSAND commented on #183
For me this was caused by the blur event on the search input calling ResetControl.

The only way I could think of resolving it was calling a piece of javascript during the Search method that tracked click events and looked for if the clicked element wasn't a descendent of the search element. When it is it doesn't do anything and when it isn't a descendent it invokes a method on the razor class to

[2020-12-11 11:50] mohankumar91 commented on #179
https://github.com/dotnet/aspnetcore/issues/28590

[2020-12-11 19:44] #150 closed

[2020-12-12 14:10] robertsundstrom opened #187 "[Bug] Prevents focus of input elements in nested modals"
I have two modals (Blazored). One is nested and opened from the first one. Both have Typeahead controls with other form elements in them. When the second modal opens I'm just able to click Typeahead controls and all the other elements except the input controls. I can not select an input field in the nested modal to input text.

The control in the original modal also seems to be focused.

[2020-12-15 17:03] chrissainty commented on #187
Hi Robert, could you provide a screen capture or a repro of the issue? It's a little hard to understand what is going on from your explaination.

[2020-12-19 16:03] robertsundstrom commented on #187
I cannot focus any field in the top modal, except the Select.

<img width="503" alt="Screen Shot 2020-12-19 at 17 02 11" src="https://user-images.githubusercontent.com/919580/102693588-024c3b80-421c-11eb-8b9a-c023502a2358.png">

[2020-12-23 01:39] LoganDavidTalbot opened #188 "Having an issue with 'blazoredTypeahead.addKeyDownEventListener', Is there a fix for this?"
Hi,

I am having getting the below exception when running the BlazoredTypeahead component on my razor page. I think I have followed the README.md to the T but it seems to continue not to work. Does anyone have a suggestion for a fix for this?

Note: I am using .net 5 and 4.4.1 version of the package.

JavaScript Execption:
[code]
Blazor Code:
[code]