[2020-12-23 07:31] chrissainty commented on #188
Have you included the link to the JavaScript file in your host page?

[2020-12-26 08:20] Otto404 opened #189 "[Bug]An entry that has already been selected must not be able to be selected a second time"
Expectation: an entry that has already been selected cannot be added a second time.

Observation: An entry can be any number of times selected.
![image](https://user-images.githubusercontent.com/3367832/103148056-f56ba280-475b-11eb-868a-820010627e54.png)

[2020-12-28 08:46] tofron commented on #169
![Screenshot 2020-12-28 15 43 58](https://user-images.githubusercontent.com/67416470/103201877-99ec1100-4923-11eb-85de-e16048f2e846.png)

Above Happen when i click the x clear button on right side.

` <BlazoredTypeahead SearchMethod="SearchItem" @bind-Value="@Pilihan">
        <SelectedTemplate>
            @context.Nama_Item
        </SelectedTemplate>
        <ResultTemplate>
            @contex

[2020-12-31 07:51] ThapaChandrika opened #190 "[Bug]Typeahead SearchMethod is not invoked at last backspace"
Bug :Typeahead SearchMethod is not invoked at last backspace(or selecting the text and backspace)

Steps to reproduce the behavior:
1. Type sth in typeahead field
2. Clear the field by backspace(or by selecting the text and pressing backspace)

Expected behaviour
All available dropdown options should be shown if all text is cleared

Before searching
![image](https://user-images.githubusercontent.c

[2021-01-03 15:27] Webreaper commented on #139
I hit this, and was able to work around it by adding this in my CSS to just hide the down icon whenever the control is disabled.

[code]

[2021-01-04 06:32] chrissainty commented on #167
Closing as due to inactivity/looks to be resolved.

[2021-01-04 06:32] #167 closed

[2021-01-04 06:53] #179 closed

[2021-01-04 06:57] chrissainty commented on #169
@tofron Could you please open a separate issue as what you've commented is not related to this feature request. But it looks like you've misconfigured your EditForm component as per the error, that isn't a problem with this library.

[2021-01-04 07:12] #169 closed

[2021-01-04 07:12] tofron commented on #169
i get this error even when typeahead are not inside the EditForm. Everytime i click the clear x button. Other than that, Typeahead working perfectly fine
![tes](https://user-images.githubusercontent.com/67416470/103509809-8c400980-4e96-11eb-8eef-431142156589.png)

[2021-01-04 07:18] #172 closed

[2021-01-04 07:28] chrissainty commented on #128
I believe this has been resolved, I just seemed to have not linked the PR, so I'm going to close.

[2021-01-04 07:28] #128 closed

[2021-01-04 08:12] #139 closed

[2021-01-04 08:18] chrissainty commented on #169
@tofron Please open a new issues. This issue is closed.

[2021-01-04 08:21] chrissainty commented on #160
I'm going to close this issue, mainly for the reasons I've mentioned in my comment above. There has been no further interest in the feature either. We can revisit at a later time if interest grows.

[2021-01-04 08:21] #160 closed

[2021-01-04 08:42] chrissainty commented on #183
@HAL-NINE-THOUSAND Would you be able to submit a PR with the changes you made? This one isn't going to get solved without JavaScript, at least as far as I can see, as DOM events are an area where Blazor is very much lacking at the moment.

[2021-01-04 08:58] #185 closed

[2021-01-04 09:01] chrissainty commented on #187
@robertsundstrom Apologies for not clocking this earlier but this would probably be better filed in the Modal repo as this doesn't appear to have anything to do with the Typeahead control. I'm going to close the issue here to keep things tidy, if you're still having a problem then please raise an issue on that repo.

[2021-01-04 09:01] #187 closed

[2021-01-04 09:04] chrissainty commented on #188
That's really odd, there are no changes regarding JS interop between those versions. Sometimes Blazor can get stuck with loading JS and CSS files and maybe adjusting the version was enough to unblock it. Have you tried going back to the latest version?

[2021-01-04 09:12] chrissainty commented on #189
@Otto404 Could you please provide a repro project showing this bug? I can't recreate it on my end.

For reference, when using the multi-select we do the following check when a value is selected:

[code]

Could it be that your objects are not being considered equal hence the check is passing?

[2021-01-04 11:14] chrissainty commented on #190
Using the backspace key, deleting character by character, works as expected for me. However, I can replicate selecting the current input text and deleting with backspace - this does not reset the search results. There are two factors which are effecting this:

1. There is a check to see if the search text has at least one character before performing a search
2. The `MinimumLength` property allows

[2021-01-04 11:14] #190 closed

[2021-01-04 16:18] HAL-NINE-THOUSAND commented on #183
@chrissainty
I've submitted a PR but my original fix was built into a separate solution. I'd used Typeahead as the base for a more focused individual component. Good news is I ported a tweaked version of it to typeahead but bad news is it's not had any IRL testing. I used the repo project in the OP though and the changes resolved the issue.

Fair warning, it does feel a bit hacky ^^ but I just cou

[2021-01-07 06:24] #183 closed

[2021-01-08 06:01] chrissainty commented on #183
@bancroftway This is now fixed and available in version 4.5.1

[2021-01-08 14:47] bancroftway commented on #183
@chrissainty @HAL-NINE-THOUSAND  thank you so much for your help on this item. Thanks

[2021-01-12 20:59] bradirby opened #196 "Having trouble with OnFocusIn"
I'm using the Typeahead component and it works well until a specific case.  I'm including it as a field in a grid row, and I want to track row selection with a highlight.  I'm using OnFocusIn and OnFocusOut on the div that contains the grid row columns.  Just wiring up these events makes the Typeahead stop responding to keystrokes properly.  Even if the handlers are empty, after selecting the Type

[2021-01-14 14:00] mikemassa84 opened #197 "[Feature Request] Select on Tab press"
**Is your feature request related to a problem? Please describe.**
I often hit tab instead of enter once I see an item in the list selected, which causes the field to lose focus and no item to be selected.

**Describe the solution you'd like**
It would be nice if the tab key would select the currently highlighted item from the list, the same way the enter key does.

**Describe alternatives you've

[2021-01-23 16:44] llullanqui opened #198 "[Question] Is there a way to stop to stop the input clearing when clicked outside?"
After writing in the input, and the selection list appears; if I click outside the input or the list, the text in the input dissapears.

I have a requirement where the user can choose an item from the list, or just use the text written in the input; and the text clearing does not make it user friendly.

Is there a way to stop the input clearing when clicked outside of it.

[2021-01-23 17:51] chrissainty commented on #198
The user must click an item in the list to select it, writing matching text won't trigger a selection.

[2021-01-25 16:09] kvroeden opened #199 "[Bug] Selecting an item with the mouse doesn't work consistently"
In a Blazor Service side project, with a standalone typeahead, with multiple select (using @value-binds to an IList<Item>) where EnableDropDown=true and ShowDropdownOnFocus =true it is not possible to select via the mouse pointer.

Tabbing into the component will show the dropdown, clicking an item with the mouse will not select it but close the dropdown.
I expect the item to be selected

Another

[2021-01-27 19:13] pkuo opened #200 "[Bug] Current value is not restored after losing focus"
The current value is not restored after losing focus. Gives the impression the selected value was cleared.

**To Reproduce**
Steps to reproduce the behavior:
1, [https://blazored.github.io/Typeahead/](url)
2. Click on input for "Blazored Typeahead - Standalone"
3. Click outside.

**Expected behavior**
Expecting current value shown. Same as pressing Esc on the keyboard.

**Screenshots**
![blazor ty

[2021-01-28 05:00] merill commented on #199
Dropdown with mouse click not working appears to be a bug in 4.5.1. I reverted to 4.5.0 and mouse click on dropdown is working as expected.

Could this be related to https://github.com/Blazored/Typeahead/commit/590589a01f716a418ee2b952816e1d738ce90ef1
@HAL-NINE-THOUSAND

[2021-01-28 14:48] pkuo commented on #200
Downgraded to version 4.5.0. Working as expected.

Bug is in version 4.5.1

[2021-01-28 21:31] HAL-NINE-THOUSAND commented on #199
Hey guys,

Yeah it looks like I missed removing a reset call on the MultiSelect blur.

@chrissainty I've put a PR in for the fix and a potential fix for choosing multiple options without the list closing.

[2021-02-03 09:13] kvroeden commented on #199
Thanks for the PR and your swift reply, much appreciated.

Multiple select now works. The only awkward thing is that when you select an item (or many items) you have to click outside the control to actually add then to the selection (closing the dropdown via the arrow button on the right doesn't select, just closes). Maybe when you select with mouse also add to the selected list?

[2021-02-04 06:03] chrissainty commented on #200
Thanks for spotting this @pkuo. This looks like the result of a change we made around input focus.

@HAL-NINE-THOUSAND - This looks related to the focus changes, when you click on the Typeahead and then click off, the input isn't being hidden and the selected template shown. Any ideas?

[2021-02-04 07:43] Mortana89 commented on #188
Same here, but I tried going back to the version mentioned above, but this yields the same results.
I can see in the network monitor that both the CSS and JS files are loaded though

[2021-02-04 09:14] HAL-NINE-THOUSAND commented on #200
Hi Chris,

I've added this to the PR https://github.com/Blazored/Typeahead/pull/201/commits

I'd like your thoughts on the multi-select bit, it can be removed if necessary

[2021-02-09 15:25] timbze commented on #200
@HAL-NINE-THOUSAND maybe you have addressed this too, but seems it might be related to the OP

When a name is selected, the Focus button does nothing
![2021-02-09 08-59-45 mp4](https://user-images.githubusercontent.com/35117769/107385616-ab930d80-6ab8-11eb-8805-b15389f08d48.gif)

[2021-02-09 16:01] theafricaninternetgroup opened #202 "Help ValuesChanged Consultancy"
Anyone this Respository who can assist me for the subscribing to ValuesChanged at a fee ,I have checked the so examples given about the same topic I continue getting the null reference and I am now getting frustrated

Many thanks
Dennis

[2021-02-10 16:06] HAL-NINE-THOUSAND commented on #200
Thanks @timbze - there's a fix in the PR

[2021-02-10 16:22] timbze commented on #200
@HAL-NINE-THOUSAND did you test it? Pulling that branch does not seem to fix it for me...

[2021-02-10 16:54] HAL-NINE-THOUSAND commented on #200
@timbze - seems to for me, are you trying something different than this?

![rjgUxPgMYR](https://user-images.githubusercontent.com/2001016/107542238-e338ad00-6bbf-11eb-9dd4-2b858e69cac4.gif)

[2021-02-10 17:10] timbze commented on #200
Ok it actually works now when I do it with button.

I was trying to do it through a web shortcut which does not go through `EventCallback` and so no refresh is called. If I manually call `await InvokeAsync(StateHasChanged)` after `Focus()` then it clears the input but drop-down does not open.

I have `ShowDropDownOnFocus="true"` so when the Typeahead still has focus (i.e. after selecting name), cl

[2021-02-10 17:44] HAL-NINE-THOUSAND commented on #200
@timbze I'm not sure how you're accessing the component. If you can provide a simple razor page that demos the issue I'll take a look.

[2021-02-10 18:48] RobertMeakin opened #205 "[Bug] Compile Error on Complex types binding to a single property (v4.5.1) net5.0"
When copy-pasting the demo for **Complex types binding to a single property** the app crashes on start up.

**To Reproduce**
Using v4.5.1, net5.0 copy paste the following:
[code]

The following error is output to the terminal
[code]

Occured using
Blazor Server
Developing on Mac

[2021-02-13 08:24] chrissainty commented on #202
Hi @theafricaninternetgroup, I would suggest adding the code you're struggling with and then people can give you some advice about what the issue might be.

[2021-02-13 09:11] chrissainty commented on #205
Hi @RobertMeakin, thanks for raising this. I've just tried on my mac and I'm seeing the same issue. I'm not sure what's wrong here, it seems to be a breaking change in the way .NET5 works as apposed to .NET Core 3.x. If I run the same code with 3.x it all works fine.

I'll need some time to investigate this one.

[2021-02-15 20:36] dbowser opened #206 "List provides scrollbar but doesn't allow scrolling beyond the results showing"
**Describe the bug**
When I enter a filter value, the SearchMethod  returns 60 results. Only 10 show as expected. A scroll bar appears on the right as expected. However, I am not able to scroll to the other 50 results. It acts as if only 10 results were returned, although it should not show a scroll bar if that really was the case.

**To Reproduce**
Steps to reproduce the behavior:
1. Have SearchM

[2021-02-16 16:18] Otto404 commented on #188
the same here. Going back to 4.40 was also unsuccessful. And I have another project where Typeahead works wonderfully.
**I'm using NET. 5**

blazor.webassembly.js:1 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Could not find 'blazoredTypeahead.addKeyDownEventListener' ('blazoredTypeahead' was undefined).
      E

[2021-02-16 16:23] Otto404 commented on #188
"Re-Load" did the trick.

[2021-02-18 17:48] robertsundstrom commented on #187
@chrissainty This is what I discovered the problem to be: https://github.com/Blazored/Modal/issues/291#issuecomment-781521894

[2021-02-27 09:09] chrissainty commented on #199
This is now resovled by #201

[2021-02-27 09:09] #199 closed

[2021-02-27 09:12] chrissainty commented on #202
Closing due to lack of communication.

[2021-02-27 09:12] #202 closed

[2021-02-27 09:15] chrissainty commented on #200
Looking at the thread, I think everything here has been resolved. If there are any outstanding issues can they please be raised as a new issue.

[2021-02-27 09:15] #200 closed

[2021-03-01 07:29] matijs-toonen opened #209 "[Bug] Item does not get selected on click with multi select"
**Describe the bug**
Clicking a item in a multi select search will not select this item,
but instead close the dropdown menu.

Only applies to `clicking`, as using `enter` will select the item

**To Reproduce**
1. Search for a item
2. Click the item using the mouse
3. Dropdown will dissapear
4. The item is not selected

**Expected behavior**
The item gets selected the when clicking the item,
this

[2021-03-02 11:19] chrissainty commented on #209
This was fixed as part of #201. There is one other outstanding issue to be fixed and then this will be released.

[2021-03-02 11:23] #209 closed

[2021-03-04 22:55] davidrhicks opened #210 "Resetting the control"
I am using Blazored Typeahead within a form.  Is there a way to reset the component without having to use javascript?  I have tried changing the selected value programmatically but that causes the entire page to reload.  Basically I need the input to do whatever it does when the user clicks on the X to clear the value.

[2021-03-09 19:51] timbze commented on #210
.NET has a weird issue when @bind-Value is tied to a property directly in class. I don't know if that is the issue, but maybe. Let me demonstrate by example and show what I think will fix it for you.

[code]

If you'll use the commented line (with `@* *@`), it's possible that the page will do a reload. I have had this when binding inputs to properties directly in the class. But if using the uncomm

[2021-03-09 20:19] chrissainty commented on #206
Thanks for reporting this @dbowser. I'll take a look when I get a chance. I don't suppose you could attach a screenshot of the issue in the meantime?

[2021-03-10 07:40] matijs-toonen opened #211 "[Feature Request] - Allow subscribing to the OnKeyUp events"
**Is your feature request related to a problem? Please describe.**
I would like the possibility of adding custom logic on certain key presses.
This is normally done by subscribing to the `OnKeyUp` or `OnKeyDown` events,
however subscribing to this event will conflict with the existing `OnKeyDown` event and result in unexpected behaviour.

**Describe the solution you'd like**
I would like this comp

[2021-03-10 20:21] timbze opened #213 "[Feature Request] Logging"
I don't know if there is interest in adding logging to the project, but I did this for me to help with debugging. This issue could be closed if this is not wanted for the project.

To hook up logging, simply add the following line in the `Configure()` method in `Startup.cs`
`app.AddLoggingBlazoredTypeahead(LogOptions.LogWithInjectedLogger);`

Here's the commit
https://github.com/timbze/Typeahead/c

[2021-03-10 23:11] dbowser commented on #206
OK sure. Here is a redacted snip...
![Capture](https://user-images.githubusercontent.com/3384531/110710513-fee9a000-81cb-11eb-941b-62bc3dcb259e.JPG)

[2021-03-11 09:22] chrissainty commented on #210
Hi @timbze, thanks for raising this issue. I think the best way to solve this is to expose our internal clear method. There are quite a few operations we need to do to reset the component and exposing this method would make things very clean for developers. It would look something like this:

[code]

[2021-03-12 13:54] cmaluft opened #214 "Result List hidden within Telerik Modal[Bug]"
**Describe the bug**
I have a telerik window with modal, your typeahead is a component in the modal. When text is typed and a result returned the dropdown list is hidden in the modal.(see image).
![typeahead_hidden](https://user-images.githubusercontent.com/60627062/110947674-1462e500-8306-11eb-90ca-0796b7034b05.png)

**Expected behavior**
I expected the result list to be in front of the modal and

[2021-03-21 00:56] kieseld commented on #205
I am still getting these errors after downgrading to dotnet core 3.1.

[2021-03-22 16:36] TarekMansour opened #216 "Is it possible to add a search icon to the left of search input?"
I'm using `Blazored.Typeahead  4.4.0` package for an auto complete search bar and I want to add a search icon on the left of typeahead, is it possible?

[2021-03-24 14:04] Mark-Phillipson commented on #205
I'm getting a similar error message on a PC.

error CS0411: The type arguments for method 'TypeInference.CreateBlazoredTypeahead_0<TItem, TValue>(RenderTreeBuilder, int, int, Func<string, Task<IEnumerable<TItem>>>, int, Func<TItem, TValue>, int, object, int, TValue, int, EventCallback<TValue>, int, Expression<Func<TValue>>, int, RenderFragment<TValue>, int, RenderFragment<TItem>)' cannot be inferr

[2021-03-25 16:27] Mark-Phillipson commented on #205
My workaround for this was to make the bound integer  nullable. It's now it seems to work okay.

[2021-03-27 08:24] chrissainty commented on #216
We don't have anything built into the component to do this for you. But you could achieve this with custom markup and CSS. Something like this:

[code]

[code]

I've not tested this but it should get you going.

[2021-03-27 08:24] #216 closed

[2021-03-27 13:03] chrissainty commented on #206
@dbowser I've just been looking at your issue. I've re-read your opening comment and I've realised there might be a misunderstanding on functionality. The number of results shown in the list is literally the number of results it will display period. This isn't a number per page or anything like that.

If you want more than 10 results to appear you must up that number. The typeahead filters the res

[2021-03-27 13:08] chrissainty commented on #214
@cmaluft Apologies for taking a while to get to this one. Could you try something for me. Could you up the z-index on the `.blazored-typeahead__results` CSS class. By default it is 10, but could you up it and see if the results list starts to show correctly after a certain number? You can do this using the browser dev tools while your app is running.

If you find a number which allows the results

[2021-03-27 13:10] chrissainty commented on #55
This is now covered by the feature introduced in PR #215

[2021-03-27 13:10] #55 closed

[2021-03-27 13:40] #189 closed

[2021-03-27 13:41] chrissainty commented on #188
This seems resolved. I'll close but if there is still an issue here please let me know.

[2021-03-27 13:41] #188 closed

[2021-03-27 13:46] chrissainty commented on #198
There is a new feature which is being released in version 4.6.0 which will allow arbitrary text to be added and selected. I think might resolve your issue.

[2021-03-27 13:46] #198 closed

[2021-03-27 14:42] cmaluft commented on #214
There wasn't any z-index that worked unfortunately. I did changed the position to fixed and width: 58%. Its probably not the solution but I did get this result. Not sure of all the ramifications
![typeahead](https://user-images.githubusercontent.com/60627062/112724312-bc6cd680-8ee0-11eb-8947-93af193e23a7.png)

[2021-03-27 15:42] chrissainty commented on #214
Umm.. I'm not sure what Telerik are doing with their modal which would stop the z-index making a difference.

I think I'm going to suggest you use some custom CSS, like what you've tried in your comment. I don't think there is anything I'd want to change in this library at the moment. Sorry I couldn't help on this one.

[2021-03-27 15:42] #214 closed

[2021-03-29 13:19] dbowser commented on #206
Ah OK. Thank you for explaining that @chrissainty!
Yes, I tried increasing that number and it provided the experience I was looking for.
I should have just tried it before but was confused by the description so didn't even try. :)
Thank you for explaining it to me and thank you for creating this and so many great Blazor components!

[2021-03-29 13:19] #206 closed

[2021-03-29 13:20] dbowser commented on #206
Now that I understand the meaning of the 'MaximumSuggestions' parameter it works as I was expecting.

[2021-04-01 10:17] TarekMansour commented on #216
Thank you @chrissainty

[2021-04-02 11:30] RonGramann opened #217 "@bind-Value issue"
I am new to Blazor, so forgive me if this issue is not related to your control.
I have a Blazor page and ViewModel.  If I click on BlazoredTypeahead control, my list is displayed and filtered based on user input.  This works great.

[code]

in my ViewModel...

[code]

When I load the page with an existing record, I set the EngineeringTeamLeader object, however this name does not appear in the Blaz

[2021-04-08 13:42] d-oit opened #219 "[Bug] Clear with X"
**Describe the bug**
Clear existing value

**To Reproduce**
Steps to reproduce the behavior:
1. https://blazored.github.io/Typeahead/ -> Blazored Typeahead - Standalone or Blazored Typeahead - Header and footer templates
2. Click on 'X' to remove Charles

Exception:

blazor.webassembly.js:1 WASM: ﻿Unhandled exception rendering component:
l.printErr @ blazor.webassembly.js:1
put_char @ dotnet.js:1

[2021-04-09 20:07] pkuo commented on #217
Can you try downgrading to version 4.5.0?

I'm having the issue similar to yours.

For me, changing the value programmatically doesn't not trigger the control to update. Giving the control focus, navigating away and the value appears.

Downgrading the version 4.5.0. resolves my issue.

[2021-04-10 09:48] chrissainty commented on #217
@RonGramann @pkuo Would it be possible to create a minimal repro of the issue. Once this is done I'll take a look and see if I can spot where the issue is. Thanks

[2021-04-12 14:25] pkuo commented on #217
For the sample added a button to change the selected item.
`<button class="btn btn-danger" type="button" style="margin-top: 20px" @onclick="@(_ => FormModel.SelectedPerson = People.First() )">First</button>`

Version 4.6.0:

![chrome-capture-1](https://user-images.githubusercontent.com/4933969/114409324-53d85780-9b78-11eb-98ef-922c3662f7ec.gif)

![chrome-capture-2](https://user-images.githubuserco

[2021-04-13 07:36] raphadesa opened #220 "Custom Icon"
Hello Team,

This component is just awesome !

I have a suggestion :

Could you add a custom clickable  icon (Font-Awesome or SVG) of a magnifying glass to the right corner of the component ?

Thank you very much !

Raphaël Desalbres

[2021-04-15 07:44] Trapulo opened #221 "[Bug]"
I have this problem, that maybe is a bug. When I assign a new value to the binded property, the control raise an objectnotfound exception

**To Reproduce**

Item's type has a property "Area" of type Dto.Area. Default value of Area is null, and Typeahead will assign it.
Dto.Area has dome properties, eg. "Name" and "Description"
If from code I assign to Item a new Item instance after that a selectio

[2021-04-15 14:22] bravenewworlds commented on #221
I have the same issue, when assign Item object to null.
I've changed @context.Name to @context?.Name and an exception have gone.
When assign to null, the text in the input area cleared but "x" sign didn't.

[2021-04-17 07:18] chrissainty commented on #220
Hi @raphadesa, I'm glad you like the component.

What would you expect this new button to do when clicked? We wouldn't add a new element like this without a specific use-case.

[2021-04-26 05:56] jakub-sedlacek opened #222 "[Feature Request] Enabling selected value reselection"
**Is your feature request related to a problem? Please describe.**
There was some slight user confusion when cliking on already selected value and nothing happening. I compared this UX to React material autocomplete and UX there is probably better. When clicking into input, value does not dissapear and instead gets higlighted so user can start writing new value without being confused. And after th

[2021-04-26 07:18] chrissainty commented on #222
Hi @jakub-sedlacek, I'm not sure I follow what you mean. Could you point me to an example so I can understand what you're suggesting? Right now the currently selected value is highlighted in the the suggestion list, if that's what you mean?

[2021-04-27 07:11] jakub-sedlacek commented on #222
Hello. Thank you for response and sorry for confusion. Tester was complaining that when she clicked on selected value, which was correctly highlighted, then nothing happened. It was because that value was already selected. Expected behavior would be to simply not prevent user to reselect same value.

But maybe your experience says otherwise?

[2021-04-28 15:54] mjharwood commented on #217
I've hit the same issue, and downgrading from 4.6.0 to 4.5.1 (and 4.5.0) resolved the problem.

[2021-04-29 13:57] jsummerlin commented on #217
I hit the same issue and downgrading to 4.5.0 fixed it.

[2021-04-29 16:22] raphadesa commented on #220
Hi Chris, could you please remove this post, as I got mistaken ! Sorry about that !

________________________________
De : Chris Sainty ***@***.***>
Envoyé : Saturday, April 17, 2021 9:18:55 AM
À : Blazored/Typeahead ***@***.***>
Cc : Raphaël Desalbres ***@***.***>; Mention ***@***.***>
Objet : Re: [Blazored/Typeahead] Custom Icon (#220)

Hi @raphadesa<https://github.com/raphadesa>, I'm glad you l

[2021-04-29 17:37] #220 closed

[2021-04-29 18:55] mnbeer opened #223 "[Bug] Different blur behavior - click vs tab"
**Describe the bug**
After focus, if search is not initiated and user clicks away, the selected value is restored. If instead of clicking away, user clicks tab to lose focus, the selected value is NOT restored and the user sees only the placeholder text even though the selected (bound) value remains (as it should).

Related to: https://github.com/Blazored/Typeahead/issues/200

**To Reproduce**
Ste

[2021-05-04 16:45] natiox opened #224 "[Bug] Setting selected item to null loses placeholder text"
**Description**
Setting the bound value to null doesn't restore the placeholder text.

**To Reproduce**
1. In sample project, Index.razor, Blazored Typeahead - Form example, change SelectedTemplate to handle null so this doesn't crash:
[code]
3. Change HandleFormSubmit as follows:
[code]
5. Run sample and submit form.  Text clears but placeholder text doesn't come back.

**Expected behavior**
Plac

[2021-05-11 13:04] esamk opened #226 "[Feature Request] Dropdown position"
**Is your feature request related to a problem? Please describe.**
When control is placed near the bottom of the page, the suggestion list is only partly visible.

**Describe the solution you'd like**
I'd like to have suggestion list 'Placement' parameter with at least "Below" and "Above" options. "Below" would leave the suggestion list as it is now. "Above" would place the suggestion list above t

[2021-05-18 13:18] babaktaremi opened #227 "Importing Custom CSS Styles"
Hi. Can we use custom css styling like rtl and etc?

[2021-05-18 15:37] parente89 opened #228 "[Question] MultiSelect - Typehead Dropdown"
Good evening, congratulations for the excellent work done. I was wondering if it is possible to use the component to make a MultiSelect.
If it is possible, can you tell me how I can do it?
Thanks so much!

[2021-05-19 08:38] adopilot opened #229 "[Feature Request] Limit number of items selected in multiple mode"
Is there a way to limit user to maximum items can be selected.
EG: Set  maximumSelectionLength  to 5 and let user to select up to 5 items.
After 5th item is selected then control should display MaxSelectedItem template

[2021-05-22 05:56] kamranghamsari commented on #224
Same Here

[2021-05-22 09:22] chrissainty commented on #227
There are limits to what we can allow you to style as the whole control is a lot of smoke and mirrors with CSS performing the magic. So for now, I would say you should just override the default styles if you know what you're doing. But I we won't be building anything into the component at the moment.

[2021-05-22 09:24] chrissainty commented on #228
Yes. There is an example of how to do this in the samples folder.

https://github.com/Blazored/Typeahead/blob/9d5f03386ca2569e94c18a60fc2dd99aae55576d/samples/BlazorWebAssembly/Pages/Index.razor#L152

[2021-05-22 09:24] #228 closed

[2021-05-22 09:25] chrissainty commented on #229
This isn't possible at the moment. But we can look at add it as a feature in the future.

[2021-05-28 13:12] owaits commented on #217
This is an issue for me too, rolling back to 4.5.1 has temporarily resolved it for me too. It appears not to be detecting that an initial value has been set. Here is my code if it helps resolve the issue.

`@inherits InputBase<string>
@using Blazored.Typeahead

<BlazoredTypeahead class="form-control" SearchMethod="SearchCountries" @bind-Value="SelectedCountry">
    <SelectedTemplate>
        <img

[2021-05-28 14:29] askolniak opened #230 "[Bug] SelectedTemplate does not show when value set outside of the control"
**Describe the bug**
After update from 4.5.1 to 4.6.0 content of the control stopped to refresh when value is initially null and then is changed outside of the control.
The IsShowingMask is initially set to false if the value is null during OnInitialized and it can be set to true only in the Initialize method. The Initialize in the previous version was called in **OnParametersSet** which now **was

[2021-05-31 06:32] poserdonut commented on #197
We need this functionality as well. Did you find a workaround solution @mikemassa84?

[2021-06-02 06:19] kamranghamsari commented on #224
@chrissainty  no comment?

[2021-06-02 06:19] kamranghamsari commented on #230
@chrissainty  no comment?

[2021-06-02 10:04] chrissainty commented on #224
@kamranghamsari This requires some investigation and I don't have any free time for this right now. Feel free to look into it and propose a solution.

[2021-06-02 10:05] chrissainty commented on #230
@kamranghamsari This requires some investigation and I don't have any free time for this right now. Feel free to look into it and propose a solution.

[2021-06-02 18:40] mikemassa84 commented on #197
@poserdonut I did not.

[2021-06-04 00:42] rlebowitz opened #231 "[Bug] Could not find blazoredTypeahead.addKeyDownEventListener"
This same bug was reported back in Mary 2021 in Bug #188; I'm seeing the same problem.  Reloading the page appears to resolve the issue, but of course, this isn't really a good solution.  I have a couple of other component libraries that I load as well, none of them appear to have similar issues.

The error also states that blazoredTypeahead is not defined, suggesting that all the js methods that

[2021-06-04 00:51] rlebowitz commented on #231
Ok, I did discover that the order in which the various 3rd party interop javascripts are loaded is critical; I placed blazored-typeahead.js as the first of three external scripts (the other two are gridblazor.js and tinymce-blazor.js), and all of the ahead of blazor.webassembly.js.

Oh, and I load AuthenticationService.js from the Microsoft Authentication library before I load blazored-typeahead.j

[2021-06-04 05:41] chrissainty commented on #231
Thanks for posting your solution @rlebowitz. This often seems to come down to a cached file somewhere, browser sometimes really hold on to these files. We use this component at my work and we load the JS in a totally different order to what you've described and we've never had an issue. It's a weird one.

I'm planning on rewriting the component when I have time and when I do I'm going to probably

[2021-06-04 05:41] #231 closed

[2021-06-04 16:50] rlebowitz commented on #231
FYI:

When I started work this morning, the issue reappeared.  I tried clearing my cache again, and it seems to work fine now; I have no idea why.

From: Chris Sainty ***@***.***
Sent: Friday, June 4, 2021 12:42 AM
To: Blazored/Typeahead ***@***.***>
Cc: rlebowitz ***@***.***>; Mention ***@***.***>
Subject: Re: [Blazored/Typeahead] [Bug] Could not find blazoredTypeahead.addKeyDownEventListener (#2

[2021-06-12 12:39] kamranghamsari commented on #230
I had time to see the samples closely
there was no sample with ValueChanged event handler
but you should use bind-value instead of Value and not use the ValueChanged event handler
I'm sorry it's not much I will find a proper solution
@chrissainty @askolniak

[2021-06-13 04:09] rybkov opened #232 "[Feature Request] Autocomplete Mode"
**Is your feature request related to a problem? Please describe.**
When user selected an item, they would like to slightly change it. In the current implementation method `HandleClickOnMask` clears `SearchText`

**Describe the solution you'd like**
When in `Autocomplete` mode, when user clicks on mask, SearchText is populated with "value". Issue is, how to determin the "value" and convert it into

[2021-06-14 13:03] GioviQ commented on #230
I have the same issue.

[2021-06-15 07:05] chrissainty commented on #232
Thanks for your request @rybkov. I'm looking at a complete redesign of the Typeahead as I think the current design is not correct. I'm planning this out (slowly due to other commitments) right now. I'll take your request into consideration during this process.

[2021-07-01 09:35] antonio-mikulic commented on #230
Hey, I encountered the same issue.
I bypassed it by doing the following:
1. @bind-Value to a encapsulated object, with @ref to BlazoredTypeahead
` <BlazoredTypeahead @ref="TypeAhead" id="taskId" placeholder="Choose Task" MaximumSuggestions="50" SearchMethod="SearchWorkItems" @bind-Value="SelectedTask" EnableDropDown="true">`

2. Declared TypeAhead prop in the component
`private BlazoredTypeahead<B

[2021-07-02 14:28] digitalsigi opened #235 "[Question]"
Hi,
I am using typeahead component for a while now and discovered a - may be - new requirement:

We have the usecase, that user should be able to select from suggestion list **or** when no suggestions are available, take the new entered value. This works fine. However if user makes a typo text of new entry cannot be edited has to be entered again.

Question: Is this a general beheviour or by desig

[2021-07-08 11:23] rybkov commented on #235
@digitalsigi is it related? https://github.com/Blazored/Typeahead/issues/232

[2021-07-08 17:08] digitalsigi commented on #235
@rybkov Oh yea! Overlooked it. Would be great to have this functionality,

Actually I forked this project and implemented some additions, but they never made it into the main stream. Now the fork is outdated.

[2021-07-23 02:21] rybkov commented on #36
Any updates?

[2021-07-23 06:55] chrissainty commented on #36
@rybkov Are you experiencing performance issue with the component?

[2021-07-23 12:38] rybkov commented on #36
@chrissainty I would say not with the component specifically, but with any component that has to render lots of items. I found that 100 suggestions is not so bad, but anything after feels the delay in the rendering. Business requirements is to show lots of data and would be nice to have virtual scroll in place.

[2021-08-04 13:26] andrei-gubarev opened #236 "[Bug] TaskCanceledException occured while doing "HookOutsideClick""
**Describe the bug**
We are experiencing the following error:

[code]

The exception is fatal for the Blazor server application since it doesn't have a proper global error handling mechanism until .NET 6 released. Exceptions can be handled with "try-catch" but not on external components like BlazoredTypeahead.
I'm not sure exactly what's is causing the issue because it's very hard to reproduce. I

[2021-08-05 10:38] Webreaper opened #237 "[Bug] Stying for the loader animation doesn't look great with black backgrounds"
**Describe the bug**
I have the control on a black background, and when searching, the loader causes the input window to shrink, revealing the background and making the dropdown menu less wide - which makes the whole thing jump around. See screenshot:

<img width="336" alt="TypeaheadLoader" src="https://user-images.githubusercontent.com/4901102/128327700-d52bba8f-e8b2-47f8-b9d6-e7a2f933687d.png">

[2021-08-13 21:43] ashfaquddin opened #239 "Is there a way to manually trigger search. I am thinking of"
The use case is to trigger search using a paging component placed on Footer

[2021-08-14 14:15] marcuscreatevision commented on #227
As an idea you could have the same templating system as with Modal. And from what I understand, your planned update on the others. It would making the use of this with Tailwind easier. Since as now there is no way to add classes.

[2021-08-16 07:29] chrissainty commented on #239
I don't see this personally. The idea of the typeahead is to allow users to type in character to limit their results. If they are seeing so many results that paging is required then I think a typeahead is not the right option for that scenario.

[2021-08-16 07:29] #239 closed

[2021-08-16 14:55] Flakmyr opened #240 "[Question] Catching when the dropdown arrow is clicked"
I'm using "@onfocus" to detect when the BlazoredTypeahead component gets focus, but that event does not get fired when the dropdown arrow (EnableDropDown="true") is clicked. How can I detect when the dropdown arrow is clicked?

[2021-08-16 16:14] chrissainty commented on #240
I don't think this event works on a component. I think it will only work on HTML elements. What are you looking to do when the Typeahead gets focus?

[2021-08-17 06:19] Flakmyr commented on #240
I'm using it to set a class to change the border color of the area. It works, except for when the dropdown arrow is clicked. But perhaps there is some other way to achieve this?

`<div class="component-@(_isSearch1?"active":"inactive")">`
`<BlazoredTypeahead @onfocus="OnFocus" EnableDropDown="true" ... </BlazoredTypeahead>`
`void OnFocus(FocusEventArgs args) { _isSearch1 = true; }`

[2021-08-21 11:35] chrissainty commented on #240
Have you tried using the `:focus-within` pseudo selector? This is designed for this exact purpose and you wouldn't need to manually apply and remove a CSS class. There is a good overview of the selector [here](https://css-tricks.com/almanac/selectors/f/focus-within/)

[2021-08-23 20:27] vinit21 opened #241 "[Question] styling with tailwind css"
Any idea on how can I integrate tailwind css with typeahead  ? I tried entering styles in class attribute .. but it didn’t work.

[2021-08-25 07:55] Flakmyr commented on #240
That's really nice, but I actually also need to toggle a radio button, so I don't think I can do without an actual event?

[2021-08-25 12:49] GeronimoWolf opened #242 "[Bug] bind-values not working"
I am trying to use the BlazoredTypeahead component for a set of Locations.

[code]

I would like to select multiple locations which are then stored in the locations list. It seems @bind-Values is not working properly or at least not as I expect it to work.

The issue is appearing on the client-side of my Blazor .NET Core hosted project.

[2021-08-31 06:45] chrissainty commented on #241
The short answer is you can't at this point in time. The typeahead uses very specific CSS to make it work and we need to redesign it to allow any type of customisation. I'm still not sure how we can do this yet, if developers add the wrong style the control won't render, or work, correctly.

[2021-08-31 06:48] chrissainty commented on #240
Ah, fair point. In that case we'd need to add a new event that could be subscribed to for this type of situation.

Just to set expectations, this probably won't be very quick. I'm finishing off my Blazor book right now and everything is taking a back seat to that. Once that is done I'll be overhauling a lot of these Blazored libraries as they've gotten a little neglected over the past year and a h

[2021-08-31 06:50] chrissainty commented on #242
As per the bug template, please provide a repro of the issue so we can run it and see the problem.

[2021-09-02 10:05] GeronimoWolf commented on #242
Below you will find a reproduction of the issue.

[code]

[2021-09-02 16:05] PowerOfTheSystem opened #243 "[Question] Can I maintain the selected text after selection?"
Hi guys!

Im implementing for the first time your component, and I have just one problem I would like to keep writing on the input after the selection to avoid writing the same text again.

Is it possible to do this?

Thanks!!!

[2021-09-12 09:09] #243 closed

[2021-09-13 14:57] mivandoni opened #245 "Tab Selection"
Most user are used to select data from comboBoxes using arrows + tab key.
Here I can select from list only using mouse or arrows +enter if using keyboard.
is it possible to add the selection with tab?

Best regards

[2021-09-14 06:21] chrissainty commented on #245
Closing as a duplicate of #197

[2021-09-14 06:21] #245 closed

[2021-09-21 12:44] scarybook opened #246 "[Question] Clear Typeahead component searchtext value from code (via button click)."
I use few typeaheads in a form and I need to clear some of them (but not all) when a button is clicked.
I tried to set necessary binded values to null, but this throws an exception.

How can I clear these values in proper way?
How to clear some/all typeaheads if one of them is cleared?

[2021-09-30 18:30] GeronimoWolf commented on #242
Dear @chrissainty ,

I completely understand if you are busy. However, if you find the time, could you please look at this issue?

Regards,

Geronimo

[2021-10-01 05:56] 0ptim commented on #242
I have no idea if this fixes your problem, but I had some binding problems too and forked the project.
For me, the problem was resolved by a simple code change. Maybe just give it a try and hope for the best?
Good luck guys 👍🏽
https://github.com/0ptim/Typeahead

[2021-10-01 13:40] chrissainty commented on #242
Apologies for the delays @GeronimoWolf. I'm in the last stages of getting my book into production.

Sometimes, with binding you have to provide some additional info as the framework can't work out the types properly. That could be the issue you're experiencing. Here is an example of that from the readme:

[code]

This example is for a single value but the same applies with multiple values.

[2021-10-04 20:43] BadBlitz commented on #224
@chrissainty I've had this same issue.  With the latest update, it looks like the "Initialize" call was removed from the ParametersSet override.  This is a problem when "Value" has been nulled out to reset the control and we need IsShowingMask moved back to false.

I'm still wrapping my head around this project, but the test for IsShowingMask on the single select could also test for Value != null.

[2021-10-14 19:28] artuise commented on #51
¿How do you clear text in typeahead?

[2021-10-14 19:29] artuise commented on #51
¿How do you clear text in typeahead?

[2021-10-15 09:52] aastovas commented on #188
Hello, I do get this error on my Blazor WASM site.
If I reload the page, then it loads the JS, but on every first launch i get the error...

crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Could not find 'blazoredTypeahead.addKeyDownEventListener' ('blazoredTypeahead' was undefined).
      Error: Could not find 'bl

[2021-10-28 07:45] philvessey opened #251 "[Question] Alter position of loading indicator?"
Hi - is it possible to alter the position of the loading indicator - its not centred vertically and id like to change that if possible?

<img width="65" alt="image" src="https://user-images.githubusercontent.com/814882/139210289-7933e12d-7f3c-4734-91a6-e4ac6daa22e7.png">

[2021-10-28 08:23] #251 closed, assigned to nobody

[2021-11-09 04:09] syedfahimabrar commented on #239
I would be very happy as @ashfaquddin  if there was a feature. My intention is also the same as his.

[2021-11-09 06:10] chrissainty commented on #239
Hi @syedfahimabrar, please see my last comment. I don't see this as something that makes sense for the typeahead.

[2021-11-14 02:43] jheymison-simoes opened #254 "[Question] Use it inside a RenderFragment"
Hello, I'm trying to use it inside a RenderFragment, but it's not recognizing the Context of SelectTemplate and ResultTemplate, do you have any idea what it can be?

[2021-11-14 07:17] chrissainty commented on #254
Have you tried setting the type of TItem?

`<BlazoredTypeahead TItem="YourType">`

[2021-11-15 11:29] NessfertIndia commented on #251
@philvessey  What all CSS adjustments you  made ? Can you please share that as well?

[2021-11-16 08:38] philvessey commented on #251
@NessfertIndia Sure will post them a bit later on today.

[2021-11-16 20:22] philvessey commented on #251
@NessfertIndia These were the css elements I did some overrides on:

`
.blazored-typeahead {
  border: none !important;
  border-radius: none !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
}

.blazored-typeahead__loader {
  background-color: black !important;
  height: 20px !important;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 20px !important;
}
`

I used the !important

[2021-11-16 21:51] ShantoLives commented on #246
I think you're looking for the workaround here:
https://github.com/Blazored/Typeahead/issues/230#issuecomment-872090026

[2021-11-30 19:18] paulgehrman commented on #222
Hi @chrissainty Great control. I see what @jakub-sedlacek is saying here, and I agree with him that the expected behavior should be to allow the user to reselect the previously selected value, especially since if you click back into the control, the text disappears, but the previously selected value is still "selected" in the drop down list.  Do you agree, or plan to leave as is? Thanks.

[2021-12-09 11:08] sajrashid commented on #241
Here's a workaround, put this in your app.css, works with Dark Mode as well

`       .blazored-typeahead__input-multiselect-wrapper input {
           @apply text-gray-800 dark:text-gray-200 bg-gray-200 dark:bg-gray-800 border-blue-500;
        }
        .blazored-typeahead__result {
            @apply text-gray-900 dark:text-gray-100 bg-gray-200 hover:bg-blue-200 dark:hover:bg-blue-400  dark:bg-g

[2021-12-12 09:43] Tshifhiwa-AOLC commented on #137
Hi @chrissainty. may you please add some ccomment on your code.

[2021-12-12 10:02] sajrashid opened #255 "[Question]"
Hi,

In multi-select mode, I'm unable to hit the `ValueChanged` event, if I remove `@bind-Values` the event triggers, but multi-select is removed,  I don't know what am I doing wrong,?

Help appreciated, Thanks.

[code]

[code]

[2021-12-17 23:27] chrissainty commented on #255
You can't use `bind-Value` and `ValueChanged`. If you remove `bind-Value` and provide a value for the `Value` parameter then it will work.

[2021-12-17 23:27] #255 closed

[2021-12-26 15:21] icodeintx opened #256 "[Question]"
What a great control.  I've implemented this into my Blazor Server app but I'm unsure how/where it is getting the colors from.  Notice in the screenshot that the results are white on white so i can't see anything in the list until I hover over each one.  My EditForm is wrapped in a <div> that uses css to give an appearance of a form.  Can I apply a css class to the Typeahead control without causin

[2021-12-27 11:42] icodeintx commented on #256
I've been able to get it mostly looking normal by wrapping it in a <div> and applying my own css to the div.

[2022-01-03 19:02] pazzaar opened #258 "[Bug] Delay in an element focusing"
When an element has something selected from a previous search, there is a noticeable delay in the focusing of that element.
I've taken a video of this behaviour:

![Animation](https://user-images.githubusercontent.com/25371398/147968317-1d35a8e8-788b-4619-bd34-3516d7340296.gif)

This seems to be because a Task.Delay(250) has been put into the C# function which handles the clicking of the element,

[2022-01-05 02:30] hannunkoneistus opened #259 "[Question] Is there a way around the text box being cleared on click?"
Hello,
Text being cleared when the text box gains focus is the only thing that makes this control not suitable for my use. Is there a simple solution or a quick javascript hack for this?

Thank you.

[2022-01-07 22:42] ghardy00143 opened #260 "[Question] Getting issue with null exception when using Multiple Typeaheads on Editform"
So I'm having some issue with a generic null handling message when using several typeaheads on an Editform.  **"Object reference not set to an instance of an object"** occurs whenever I select a value on any of the dropdowns. The Console window is indicating it is originating from the Typeahead code.  I have three typeaheads where selecting each one defines the subsequent typeahead's dropdown opti

[2022-01-10 22:23] ghardy00143 commented on #260
So, turns out it is a version specific issue.  We had some of this code working previously before we had updated our packages.  When going from Typeahead 4.5.1 --> 4.6.0, we started getting an ambiguity issue on the NotFoundTemplates when using the Typeaheads on an Editform.  We resolved the build issue by adding in another Context property to the EditForms that you see in the sample code.  But th

[2022-01-11 15:28] chrissainty commented on #260
Thank you for all the information @ghardy00143. I'm planning the next major version and I'll make sure this is looked into.

[2022-01-14 14:53] chrissainty commented on #153
Closing as we're not going to support IE11 anymore.

[2022-01-14 14:53] #153 closed

[2022-01-14 14:56] #196 closed

[2022-01-14 15:13] #213 closed

[2022-01-19 16:20] peterthorpe81 opened #261 "MudIcon Title doesn't create a tooltip or changes the page title [Bug]"
**Describe the bug**
MudIcon (and descendants) don't display a tooltip when specifying a Title.

If the page doesn't have a `<PageTitle>` tag the page title will be the MudIcon title.

**To Reproduce**
Create a new project
`dotnet new mudblazor --host wasm --name MyApplication`
Update MudBlazor Reference to 6.0.5
Add a MudIcon to Index.razor and run the project. A tooltip will not be shown.
 `<Mud

[2022-01-19 16:21] #261 closed

[2022-02-24 22:59] dustinptg commented on #189
Implement IEquatable would fix it for me but it is difficult to implement IEquatable on every object especially I'm passing a generic T into it

[2022-03-02 12:43] nabrezzelt opened #263 "[Bug] Selected value is not displayed"
**Describe the bug**
After setting the Value-Property (click the button) the value is not displayed:

![grafik](https://user-images.githubusercontent.com/21213524/156362933-b5480f1f-1ca4-45b2-8451-f20d7ee3d315.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click the Test Button

**Expected behavior**
The Value should be displayed after setting the Value-property manual.

**Screenshots*

[2022-03-05 13:17] CopperBeardy opened #264 "[Question]"
ran into a edge case when adding new items.

if you had a list with "Foo bar" and ""Foo boo"  in it and you wanted to add "Foo" the typeahead provide no way to do this, as it has found suggestions, even though none match exactly.

you can change the search to look for exact match  instead of look for terms that  contain the search value such as
`    private async Task<IEnumerable<string>> SearchIt

[2022-03-06 17:28] nh43de opened #265 "[Bug] Issue with server-side pre-rendering"
**Describe the bug**

When implementing with server side pre-rendering, user can start typing as soon as they receive the html page, however as soon as the page re-hydrates with wasm, the input is cleared. Is there a good way to remedy this?

Hosting model: when using client wasm, server side pre-rendered

Thanks for the tips

[2022-03-14 15:37] djukic-marko commented on #263
Hello there :)
I beleve this is a duplicate of this [issue](https://github.com/Blazored/Typeahead/issues/217).
Try downgrading to 4.5.1...

[2022-03-22 01:01] dustinptg opened #266 "[Bug] Inconsistent behavior on removing item when suggestion list is open"
**Describe the bug**
A clear and concise description of what the bug is.
Inconsistent behavior on removing item when suggestion list is open

**To Reproduce**
Steps to reproduce the behavior:
**Given:**
- Multiselect Typeahead
**When:**
- Suggestion list is open
- Using mouse to remove an item:
Case 1: The item is at the end of the list
Case 2: The item is **NOT** at the end of the list
**Then:**

[2022-03-24 05:16] dustinptg opened #267 "[Bug] [Multiselect] Clicking outside during search still shows suggestion"
**Describe the bug**
Clicking outside during search still shows suggestion

**To Reproduce**
Steps to reproduce the behavior:
1. Open Multiselect dropdown
2. During search, click away
3. Suggestion shows up afterwards

**Expected behavior**
Suggestion doesn't shows up afterwards

**Screenshots**
![image](https://user-images.githubusercontent.com/93161321/159847193-20df060a-7aff-4029-91c4-feaaeee3b

[2022-04-06 20:56] JGSilverman opened #270 "Typeahead component not updating value based on cascading parameter."
I have a Blazored Typeahead component that has Value, ValueChanged, Value Expression. In my component, the value is bound to _currentData. I have a cascading param:

[code]

In On Params Set:

[code]

When I receive data from the parent component's cascading value/param, the data comes through fine, BUT the value of the typeahead isn't being updated in the input. Any help?

[2022-04-08 16:07] Ghevi commented on #117
I know this is 2 years old but if someone need a work around...
I needed to make that items from the lists could not be removed so I added this tag in my component:
`<style>
    .blazored-typeahead__multi-value-clear {
        display: none;
    }
</style>
`
This is just a UI thing so then I just thrown an exception if the user manages to make it reappear on the screen by validating the current li

[2022-04-18 13:29] alex47 opened #273 "[Bug] NotFoundTemplate is shown when input is empty instead of HelpTemplate"
**Describe the bug**
When the input text is empty the NotFoundTemplate is shown instead of the HelpTemplate.

**Expected behavior**
When the input text is less than the MinimumLength parameter the HelpTemplate is shown, even if the length is 0.

**Screenshots**
0 characters:
![image](https://user-images.githubusercontent.com/10761683/163814453-ef1387f9-566c-4d4a-b46f-ea6f79879ebb.png)

1 character

[2022-04-21 21:43] parente89 opened #274 "[Question] use input-small bootstrap class and disable autocomplete"
How can I use the bootstrap "**input-small**" class to reduce size of input, and **disable** Google's automatic **autocomplete**?

Thanks and congratulations for the excellent work done

[2022-04-22 10:31] MohammadMrz commented on #176
I'm trying to use multiple BlazoredTypeahead on same page.
Would you kindly show how to use many BlazoredTypeahead on the same page.

[2022-04-22 11:54] zandhaai commented on #176
I'm having at least six without any problems.

`
           <div class="col-md-12" style="padding-bottom: 25px;">
                <div style="width: 60%; margin: auto;">
                    <BlazoredTypeahead SearchMethod="FindSomething"
                                       @bind-Value="@SelectedSomethingId"
                                       Debounce="300"

[2022-04-22 13:24] MohammadMrz commented on #176
Hi Zandaai
Thanks for posting your code.
Can you post the code for another drop down list, so I can see how you distinguish between them.
I'm experiencing problems with the @someId part.

`                        <SelectedTemplate Context="someId">
                            @someId
                        </SelectedTemplate>`

I'm not sure how to tell blazored typeahead how to distinguish betwee

[2022-05-15 08:16] Greg7931 commented on #51
Hello, same issue for me but it seems issue is not solved by new release.

[2022-05-21 18:51] CenterOfGravity commented on #79
Hi. thank you
Is there a way of not clearing the input text when clicking or tabbing inside of the input element?

[2022-05-30 06:41] schorges opened #276 "[Question] Is there a way to programmatically select multiple items?"
I search for a Solution to programmatically select multiple items with an parameter eg. in AfterRender.

Change the IList<myclass> not work

[code]

[2022-06-07 08:15] m4m4m4 commented on #217
Any status update on this? Issue is more than 1 year old now

[2022-06-29 10:15] pilotnik86 commented on #188
I am afraid I have the same problem. Tried to place <script> in various places, forced re-cashe and erased all cached data from browser yet still no success. I get it on blazor Server-side app.

[2022-06-30 10:20] lthoa commented on #231
Waiting for a second before call **AddKeyDownEventListener** will be fix the problem:

protected override async Task OnAfterRenderAsync(bool firstRender)
  {
      if ((firstRender && !Disabled) || (!_eventsHookedUp && !Disabled))
      {
          await InvokeAsync(async () =>
          {
              await Task.Delay(1000);
              await Interop.AddKeyDownEventListener(JSRuntime, _searchI

[2022-07-12 05:42] dsfridayslab commented on #224
I had this issue as well.
Not sure if the cause is the same, but when I experienced the issue, I was setting the bind-value property to a nullable string with string.Empty as the default value.

I fixed it by removing the default value., so the property actually IS null.

[2022-07-14 06:43] benshemmeld commented on #217
@m4m4m4 @chrissainty  I have fixed this issue on this PR #278

[2022-07-14 06:44] benshemmeld commented on #263
@nabrezzelt I have fixed this bug in this PR #278

[2022-07-14 06:58] nabrezzelt commented on #263
Hi, thanks for investigating and solving the problem :). I will try it the next days.

And thanks @djukic-marko for the info about the rollback to 4.5.1

[2022-07-14 19:54] BadBlitz commented on #143
I've created a PR for this request.

[2022-07-15 06:31] #217 closed

[2022-07-15 06:31] #263 closed

[2022-07-17 06:06] benshemmeld opened #281 "[Bug] When used in a child component in multiselect mode items not added when selected"
**Describe the bug**
When using BlazoredTypeahead in a child component in multiselect mode, selecting an item does not add it to the selected values.

**To Reproduce**
Create a component named "MultiPicker" like this:
[code]
and then use it in a parent component like this:
`<MultiPicker @bind-Values="model.SelectedItems" SearchOptions="SearchOptions" />`

Notice that nothing happens when you selec

[2022-07-18 10:46] benshemmeld commented on #281
Looks like this is not an issue.
My problem was resolved by including `Values = "Values"` in the wrapper component.

[code]

[2022-07-18 10:46] #281 closed

[2022-07-21 21:44] CliveBennett opened #283 "Have a OnClose Option for the Dropdown list"
Hi, would be great if there was a OnClose option for when the Dropdownlist (div) closes,

currently I'm using "ValueChanged" which works when an option is selected, however I need to know if nothing has been selected , as I need to display a button like "Cant Find".

thanks

[2022-07-21 21:48] CliveBennett commented on #276
I do this with TypeAhead, by maintaining a separate List that's added to in the "ValueChanged" event, I then render these items below the TypeAhead as the selected items, with a option to remove from the list

So ends up looking like this

![image](https://user-images.githubusercontent.com/29695733/180320839-b90adf98-cec9-47c7-be03-9b9810d3ba20.png)

[2022-07-22 15:01] Kampfmoehre commented on #264
Unfortunately there doesn't seem to be any way to do this, at least when I check the code here:
https://github.com/Blazored/Typeahead/blob/main/src/Blazored.Typeahead/BlazoredTypeahead.razor.cs#L486

[2022-07-27 17:33] wengera commented on #188
@pilotnik86 did you ever figure it out? I'm on Blazor Server Dotnet Core 6 using version 4.7 for Blazored.Typeahead and the official guide for setting this all up has been a nightmare to follow. Nothing works the way its supposed to.

[2022-07-28 05:54] pilotnik86 commented on #188
Nope. I had to create new project and copy all files from the old one.

W dniu śr., 27.07.2022 o 19:33 wengera ***@***.***>
napisał(a):

[2022-08-10 21:30] grofit opened #286 "[Question] Are you able to just use strings for Value and date related bindings on the control?"
I have a scenario where I want to basically use it like an input box but have any close matches provided to the user, basically the same as #103 but I can see you added it in another way so it always gets added to the list.

Anyway the problem im having is that it doesnt seem to like me passing in a string as the Value, like here is an example of what I mean:

[code]

So this component wraps your

[2022-08-12 08:14] thejaff2 commented on #264
Because of this, I have resigned to the solution to only use the control as a dropdown with add-new-functionality.

I have done this by always return empty result when typing (triggering Add-new..,), otherwise return all categories (for dropdown):

 private async Task<IEnumerable<string>> SearchCategories(string searchText)
        {
            var result = string.IsNullOrEmpty(searchText)

[2022-08-12 17:42] segalxandr opened #287 "Two way binding"
I think I've tried everything and currently follow the setup for  [Subscribing to changes in selected values](https://github.com/Blazored/Typeahead#subscribing-to-changes-in-selected-values). However, the component does not reflect the change when my Value object is updated. What am I missing?

[2022-09-01 19:07] nbiada commented on #259
Hi, I've tried to modify via a fork some methods and it works, but is not a good solution (only for single select).
Take a look to my fork: https://github.com/nbiada/Typeahead
A good implementation, that is a fork from Blazored, is Loresoft Typeahead:
https://blazor.loresoft.com/typeahead/index

[2022-09-16 22:40] pradeep-w opened #288 "Typeahead search text dissapearing from search box after displaying results"
Please see attached screenshots. This behavior came after updating to version 4.7.0
`<div class="ml-1 col-sm-12 col-md-12 col-lg-12">
                                            <BlazoredTypeahead SearchMethod="SearchCDMS"
                                                               MinimumLength="1" Debounce="1000" placeholder="start typing to get results..."

[2022-09-16 22:44] pradeep-w commented on #288
![4 6 0 behaviour](https://user-images.githubusercontent.com/70093846/190827231-6a0b0f54-439d-4c81-a354-d729c2d8dff0.jpg)
![4 7 0 behaviour](https://user-images.githubusercontent.com/70093846/190827239-53c75207-2052-4288-a9c9-cb0a7123e1e8.jpg)

[2022-09-17 21:25] chrissainty commented on #288
Have you seen the discussion [here](https://github.com/Blazored/Typeahead/pull/278)?

[2022-09-21 12:55] Kazbek commented on #288
@chrissainty I have same issue after updating Blazored.Modal from 6.0.1 to 7.0.0 right now. Typeahead was 4.7.0 for long time and worked good.

[2022-10-08 15:13] SSchulze1989 commented on #288
Can confirm I see the same issue with Blazored.Modal 7.0.0 and Typeahead 4.7.0.
Though this is my first use of Typeahead and I might be doing something wrong.

I don't know if I started from net5.0 template anymore but I am going to check the.

[2022-10-09 16:14] SSchulze1989 commented on #288
I could actually narrow it down to the `BlazoredModalIstance` being passed to the Modal content as `[CascadingParameter]`
Trying this minimal example I could reproduce the issue
[code]

If you remove
[code]
Typeahead performs as expected.

[2022-10-09 17:01] SSchulze1989 opened #289 "[Feature Request] Option to disable deleting items with "Backspace" when using MultiSelect"
**Is your feature request related to a problem? Please describe.**
When binding to a collection and displaying multiple selections, the default behaviour is to delete the last item when backspace is pressed there is not current search text in the input.

**Describe the solution you'd like**
While this is obviously an expected behaviour for some, i would like to have an option to disable this delet

[2022-10-09 17:26] SSchulze1989 commented on #288
Looking at the changes from #217 the problem is rather obvious:
[code]
The component ```Initialize()``` Method is called everytime in ```OnParameterSet()``` but this method can fire multiple times, even when the component is active.
It seems that including
[code]
is creating such a condition, where the parameter will bubble down and the ```OnParametersSet()``` Method is called after every input.

[2022-10-09 22:36] BeyondDefinition commented on #288
Thanks @SSchulze1989 for your insights.

I'd like to mention that with Blazored.Modal v7.0.0 the `OnParametersSet` in Typeahead is probably (indirectly) triggered after every input because the setter of `[CascadingParameter] ModalInstance` is called every time you type a letter, which was not the case with v6.0.1. The setter is even triggered for changes on a regular InputText or input, with or wi

[2022-10-10 02:10] SSchulze1989 commented on #288
Good question.
I don't know if that is the desired behaviour on Blazored.Modal side or not.

But in any case a component should be able to handle multiple calls to ```OnParametersSet()``` gracefully without affecting current user input as there are countless other situations that can trigger it.

[2022-10-10 07:54] SSchulze1989 commented on #288
Opened a pr that should fix this issue without affecting the one where the selected value would not disappear after being set from outside.

[2022-10-10 22:58] BeyondDefinition commented on #288
Great job!

I figured out what is causing the frequent rerenders of BlazoredModal.
Apparently the [`onkeyup` and `onkeydown`](https://github.com/Blazored/Modal/blob/v7.0.0/src/Blazored.Modal/FocusTrap.razor#L1) handlers in FocusTrap sets the CascadedValue every time any `keyup`/`keydown` DOM event is generated in a child component, which rerenders the component twice for every letter, causing `OnP

[2022-10-10 23:50] Kazbek commented on #288
Also may be this make v7 much slower than 6.0.1. On previouse version modals closing instantly and on latest they have delay like 0.5 second.

[2022-10-11 08:20] BeyondDefinition commented on #288
That is [by design](https://github.com/Blazored/Modal/commit/e1ee1164767624fc0c1890a9b23679ad6f34e1fa#diff-eddc2f5d85f3948cb2cf38a1d5eacfd20f24d061a3b09f1f003bd7ed890c40f9R251) in v7.

Agreed, see https://github.com/Blazored/Modal/issues/459

[2022-10-11 10:48] SSchulze1989 commented on #227
I have opened a proposal for supporting overriding the default class and styles of the component
#292

@babaktaremi @marcuscreatevision check it out and tell me if this works for you.

[2022-10-12 16:18] JGSilverman opened #293 "Method to Force results dropdown to close?"
I'm have the following:

[code]

When I execute a search and get results back, if there's only one result, I automatically set that data set to CurrentSelectedObject which gets populated in the input. However, the typeahead-results dropdown remains (with one option in it), until the user physically selects it. Is there a method I can call to hide the results box (if I set results to empty, it show

[2022-10-26 12:40] lakani opened #294 "how to Enable mutli line"

[2022-10-26 12:41] #294 closed

[2022-10-30 19:28] Freshmintyy opened #295 "Laptop touchpad not selecting item in results"
Hi there,

It seems that when I'm selecting an item in the results panel just tapping on my touchpad on my laptop it doesn't seem to register and just closes the results panel.

Is this a known issue?

Cheers

[2022-11-10 13:05] icodeintx commented on #256
Wow I realized months later I left this issue open.  It was in fact a css issue and is working fine.  Thanks

[2022-11-11 06:59] ckbeirut opened #296 "Error in "Using complex types but only binding to a single property""
In @bind-Value="SelectedPersonId", the value should be "personId"

[2022-11-14 08:55] parente89 opened #297 "[Bug] - blazored-typeahead results hides behind the modal-footer"
Hi!
When I use the component inside a bootstrap modal, the results hide behind the modal-footer and you don't see the proposed results.
I'll give you an example:

![ErrorModal](https://user-images.githubusercontent.com/73031092/201617178-5f01933c-249c-4f59-b283-d35127a35c66.jpg)

How can I solve?

[2022-11-22 15:43] massimotomasi opened #298 "[Bug] Typeahead inside Blazored.Modal search text erase with .NET 7.0"
When using Typeahead inside a https://github.com/Blazored/Modal with .NET 7 the control erase the search text and doesn't perform the search action. Using the control outside the modal works fine.

[2022-11-26 00:01] SSchulze1989 commented on #298
@massimotomasi this sounds like the same issue reported in #288.

Apparently there was a workaround implemented for the latest release of Blazored.Modal - so you may check if you are running the specified version.

I have also opened a PR that should fix this error for good but unfortunately there has not been any action upon this yet.

[2022-11-28 21:21] evanmoak opened #299 "[Question] How to Justify Dropdown Content"
I am running Blazor Server with Bootstrap 5 styling and using Typeahead within an EditForm. This example uses Blazored.Typeahead Version 4.7.0 NuGet package.

Dropdown search result content for me is rendering center aligned and I need it to be left aligned. Every example seems to automatically adjust dropdown content left aligned.

I am searching for just string values and I have also tested this

[2022-11-28 22:21] #299 closed